<template>
  <v-card>
    <v-tabs centered background-color="teal" color="white accent-4" left>
      <v-tab> <v-icon left>mdi-account</v-icon>ລາຍລະອຽດແມງໄມ້ </v-tab>
      <v-tab> <v-icon left>mdi-bug</v-icon>ລາຍລະອຽດການອັບໂຫລດ </v-tab>
      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <v-container style="margin-top: 10px">
              <v-col>
                <v-row>
                  <v-col cols="2">
                    <v-subheader>ຊື່ທົ່ວໄປ:</v-subheader>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].name_la"
                      disabled
                      label="LA"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].name_en"
                      disabled
                      label="EN"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col cols="2">
                    <v-subheader>ຊື່ທ້ອງຖິ່ນ:</v-subheader>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].localName_la"
                      disabled
                      label="LA"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].localName_en"
                      disabled
                      label="EN"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="2">
                    <v-subheader>ຊື່ສາມັນ:</v-subheader>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].commonName_la"
                      disabled
                      label="LA"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].commonName_en"
                      disabled
                      label="EN"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="2">
                    <v-subheader>ຊື່ທາງວິທະຍາສາດ:</v-subheader>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].scientificName_la"
                      disabled
                      label="LA"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].scientificName_en"
                      disabled
                      label="EN"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-divider></v-divider>
                <v-row>
                  <v-col cols="2">
                    <v-subheader>ລັກສະນະທົ່ວໄປ:</v-subheader>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].local_style_la"
                      disabled
                      label="LA"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].local_style_en"
                      disabled
                      label="EN"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="2">
                    <v-subheader>ລັກສະນະໜວດ:</v-subheader>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].mustache_style_la"
                      disabled
                      label="LA"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].mustache_style_en"
                      disabled
                      label="EN"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="2">
                    <v-subheader>ລັກສະນະປາກ:</v-subheader>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].mouth_style_la"
                      disabled
                      label="LA"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].mouth_style_en"
                      disabled
                      label="EN"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="2">
                    <v-subheader>ລັກສະນະປີກ:</v-subheader>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].wing_styla_la"
                      disabled
                      label="LA"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].wing_styla_en"
                      disabled
                      label="EN"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="2">
                    <v-subheader>ລັກສະນະຂາ:</v-subheader>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].leg_style_la"
                      disabled
                      label="LA"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].leg_style_en"
                      disabled
                      label="EN"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="2">
                    <v-subheader>ລັກສະນະຕາ:</v-subheader>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].eyes_style_la"
                      disabled
                      label="LA"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].eyes_style_en"
                      disabled
                      label="EN"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                </v-row>

                <v-divider></v-divider>
                <v-row>
                  <v-col cols="2">
                    <v-subheader>ຖິ່ນອາໄສ:</v-subheader>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field disabled label="LA" class="bt"></v-text-field>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field disabled label="EN" class="bt"></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="2">
                    <v-subheader>ອາຫານ:</v-subheader>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].insect_food_la"
                      disabled
                      label="LA"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].insect_food_en"
                      disabled
                      label="EN"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="2">
                    <v-subheader>ການໃຊ້ປະໂຫຍດ:</v-subheader>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].utilization_la"
                      disabled
                      label="LA"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].utilization_en"
                      disabled
                      label="EN"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="2">
                    <v-subheader>ວິທີຈັບ:</v-subheader>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].trap_la"
                      disabled
                      label="LA"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].trap_en"
                      disabled
                      label="EN"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
            </v-container>
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <v-row>
              <v-slide-group class="pa-4" center-active show-arrows>
                <v-slide-item v-for="(file, f) in imageResize" :key="f">
                  <!-- <v-img :src="file" class="ma-4 img-fluid" height="200" width="200" /> -->
                  <img :src="file" class="ma-4 img-fluid" :title="'file' + f" />
                </v-slide-item>
              </v-slide-group>
            </v-row>
            <v-row>
              <v-col cols="2">
                <v-subheader>ພົບທີ່:</v-subheader>
              </v-col>
              <v-col cols="6">
                <v-textarea
                  disabled
                  v-model="found"
                  solo
                  name="input-7-4"
                  class="bt"
                  label="Solo textarea"
                ></v-textarea>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="2">
                <v-subheader>ວັນເດືອນປີ:</v-subheader>
              </v-col>
              <v-col cols="4">
                <v-text-field
                  v-model="itemhistory[0].date_found"
                  disabled
                  label="LA"
                  class="bt"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="2">
                <v-subheader>ຈາກນ້ຳທະເລ:</v-subheader>
              </v-col>
              <v-col cols="4">
                <v-text-field
                  v-model="itemhistory[0].sea"
                  disabled
                  label="LA"
                  class="bt"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="2">
                <v-subheader>ຕຳແຫນ່ງ:</v-subheader>
              </v-col>
              <v-col cols="4">
                <v-text-field
                  v-model="itemhistory[0].gps_found"
                  disabled
                  label="LA"
                  class="bt"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="2">
                <v-subheader>ຈັບໂດຍ:</v-subheader>
              </v-col>
              <v-col cols="4">
                <v-text-field
                  v-model="itemhistory[0].finder_name_la"
                  disabled
                  label="LA"
                  class="bt"
                ></v-text-field>
              </v-col>
              <v-col cols="4">
                <v-text-field
                  v-model="itemhistory[0].finder_name_en"
                  disabled
                  label="EN"
                  class="bt"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-tab-item>
    </v-tabs>

    <v-card-text>
      <v-row justify="center">
        <div style="margin-top: 10px">
          <v-btn
            v-if="!isActive"
            x-large
            depressed
            @click="apporve()"
            color="success"
            class="bt"
            >ອະນຸມັດ</v-btn
          >
          <v-btn
            v-if="!isActive"
            x-large
            depressed
            @click="dialog = true"
            color="grey"
            class="bt"
            >ບໍ່ອະນຸມັດ</v-btn
          >
        </div>
      </v-row>
    </v-card-text>
    <v-dialog v-model="dialog" max-width="1200px">
      <v-card>
        <v-card-title class="bg-title">
          <span
            class="headline"
            style="
              font-family: 'boonhome-400' !important;
              font-weight: bold;
              font-size: 30px;
              margin-left: 10px;
            "
            >ໝາຍເຫດ</span
          >
        </v-card-title>
        <v-card-text>
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-container style="margin-top: 10px">
              <v-col>
                <v-row>
                  <v-col>
                    <v-textarea
                      v-model="description"
                      label="ເພີ່ມຄຳເຫັນ"
                      name="username"
                      type="text"
                      color="teal accent-3"
                      filled
                      rounded
                      dense
                      class="txtarea"
                    ></v-textarea>
                  </v-col>
                </v-row>

                <v-divider></v-divider>
                <v-row justify="center">
                  <div style="margin-top: 10px">
                    <v-btn
                      x-large
                      :disabled="!valid"
                      @click="notapprove()"
                      depressed
                      color="success"
                      class="bt"
                      >ຢືນຢັນ</v-btn
                    >
                    <v-btn
                      x-large
                      @click="close()"
                      color="grey"
                      depressed
                      class="bt"
                      >ຍົກເລີກ</v-btn
                    >
                  </div>
                </v-row>
              </v-col>
            </v-container>
          </v-form>
        </v-card-text>
        <v-card-actions></v-card-actions>
      </v-card>
    </v-dialog>

    <mydialog :mydialog="detail" />
  </v-card>
</template>
<script>
import imageCompression from 'browser-image-compression'
import mydialog from '../../../components/mydialog.vue'

export default {
  components: { mydialog },

  middleware: 'auth-admin',
  data: () => ({
    dialogDelete: false,
    imageResize: [],
    files: [],
    readers: [],
    image: null,
    dialog: false,
    dialog1: false,
    insect: [
      {
        insecta_id: '',
        sid: '',
        name_la: '',
        name_en: '',
        localName_la: '',
        localName_en: '',
        commonName_la: '',
        commonName_en: '',
        scientificName_la: '',
        scientificName_en: '',
        local_style_la: '',
        local_style_en: '',
        mustache_style_la: '',
        mustache_style_en: '',
        mouth_style_la: '',
        mouth_style_en: '',
        wing_styla_la: '',
        wing_styla_en: '',
        leg_style_la: '',
        leg_style_en: '',
        eyes_style_la: '',
        eyes_style_en: '',
        habitat_la: '',
        habitat_en: '',
        insect_food_la: '',
        insect_food_en: '',
        utilization_la: '',
        utilization_en: '',
        trap_la: '',
        trap_en: '',
      },
    ],
    found: '',
    Imagename: [],
    search: '',
    alldata: [],
    KingdomItem: [],
    phylumItem: [],
    classItem: [],
    orderItem: [],
    familyItem: [],
    genusItem: [],
    speciesItem: [],
    itemProvince: [],

    itemhistory: [
      {
        log_id: '',
        v_id: '',
        d_id: '',
        pro_id: '',
        finder_name_la: '',
        finder_name_en: '',
        v_name_la: '',
        v_name_en: '',
        dr_name_la: '',
        dr_name_en: '',
        pro_name_la: '',
        pro_name_en: '',
        gps_found: '',
        date_found: '',
        upload_date: '',
        sea: '',
      },
    ],
    txt: '',
    description: '',
    isEdit: false,
    namePic: {
      name: '',
      index: '',
    },
    detail: {
      stt: '',
      color: '',
      Head: '',
      Text: '',
      icon: '',
    },
    valid: true,
    isActive: false,
    rules: {
      required: (value) => !!value || 'Required.',
    },
  }),
  async fetch() {
    if (this.$nuxt.$auth.$state.user.role === 'admin') {
      console.log('ok admin')
      this.$store.commit('set_drawer', true)
      this.$store.commit('set_topbar', true)
      this.$store.commit('set_appbar', false)
      this.$store.commit('set_fullname', this.$nuxt.$auth.user.fullname)
    } else if (this.$nuxt.$auth.$state.user.role === 'researcher') {
      console.log('ok rs')
      this.$store.commit('set_drawer', true)
      this.$store.commit('set_topbar', true)
      this.$store.commit('set_appbar', false)
      this.$store.commit('set_research', true)
      this.$store.commit('set_fullname', this.$nuxt.$auth.user.fullname)
    }
  },
  computed: {
    formTitle() {
      return this.isEdit === true ? 'ບັນທຶກ' : 'ແກ້ໄຂຂໍ້ມູນ'
    },

    url() {
      if (!this.image) return
      return URL.createObjectURL(this.image)
    },
  },
  methods: {
    apporve() {
      this.$axios
        .put('/insecta/activate-insecta', {
          insecta_id: this.insect[0].insecta_id.toString(),
          activate: '1',
        })
        .then((response) => {
          this.detail = {
            stt: true,
            color: 'teal',
            Head: 'ອະນຸມັດສຳເລັດ',
            Text: 'ອະນຸມັດສຳເລັດ, ນັກຄົ້ນຄວ້າຈະໄດ້ຮັບອີເມວ',
            icon: 'mdi-checkbox-marked-circle-outline',
          }
          setTimeout(() => this.$router.push('/approve/insecta/'), 3000)
        })
        .catch((error) => {
          console.log(error)
        })
    },
    notapprove() {
      this.txt =
        'Insecta: => ' +
        this.insect[0].mustache_style_en +
        '<= Not Approve!!' +
        '\n Because: ' +
        this.description
      this.$axios
        .put('/insecta/activate-insecta', {
          insecta_id: this.insect[0].insecta_id.toString(),
          activate: '2',
        })
        .then((response) => {
          this.$axios
            .post('/sendEmail/not-activate', {
              email: 'bounkhong.ctv@gmail.com',
              text: this.txt,
            })
            .then((result1) => {
              this.detail = {
                stt: true,
                color: 'red',
                Head: 'ບໍ່ອະນຸມັດສຳເລັດ',
                Text: 'ຄຳຂໍຖຶກປະຕິເສດ, ນັກຄົ້ນຄວ້າຈະໄດ້ຮັບອີເມວ',
                icon: 'mdi-close-circle-outline',
              }
              setTimeout(() => this.$router.push('/approve/insecta/'), 3000)
            })
        })
        .catch((error) => {
          console.log(error)
        })
    },
    test() {
      for (var i = 0; i < this.imageResize.length; i++) {
        console.log(this.imageResize[i])
      }
    },

    deleteItemConfirm(item, index) {
      this.dialogDelete = true
      this.namePic.name = item
      this.namePic.index = index
      console.log('name: ' + this.namePic.name + 'index: ' + this.namePic.index)
    },
    deleteImage() {
      var res = this.namePic.name.split('https://ms.mndev.com/  /')
      console.log(res[1]) //name of image
      this.$axios
        .post('https://ms.mndev.com/remove', {
          name: res[1],
        })
        .then((result) => {
          console.log('deleteform storage' + result)
          this.$axios
            .post('/image/delete-image', {
              image_name: res[1],
            })
            .then((result1) => {
              console.log('deleteform tbimage' + result1)
              this.imageResize.splice(this.namePic.index, 1)
              this.closeDelete()
            })
        })
    },
    close() {
      this.dialog = false
    },
    closeDelete() {
      this.dialogDelete = false
    },
    fetch() {
      this.insect[0].insecta_id = this.$route.params.id
      this.isEdit = true

      if (
        this.$route.params.stt == 'activated' ||
        this.$route.params.stt == 'Not Activated'
      ) {
        this.isActive = true
      }
      this.$axios
        .get(`/insecta/getById/` + this.insect[0].insecta_id)
        .then((respone) => {
          this.insect = respone.data[0]
        })
      this.$axios
        .get(`/log/history_fond/` + this.insect[0].insecta_id)
        .then((result) => {
          if (result.status === 200) {
            this.itemhistory = result.data[0]

            this.found =
              'ບ້ານ' +
              this.itemhistory[0].v_name_la +
              ', ເມືອງ' +
              this.itemhistory[0].dr_name_la +
              ', ແຂວງ' +
              this.itemhistory[0].pro_name_la
          }
        })
      this.$axios
        .get(`/image/getById/` + this.insect[0].insecta_id)
        .then((result) => {
          for (var i = 0; i <= result.data.length; i++) {
            var url =
              'https://ms.mndev.com/insect/' + result.data[0][i].image
            console.log(url)
            this.imageResize.push(url)
          }
        })
    },
  },
  mounted() {
    this.fetch()
  },
}
</script>

<style scoped>
.v-subheader {
  justify-content: flex-end;
  font-family: 'boonhome-400' !important ;
  font-weight: normal;
  font-size: 20px;
}
.v-tab {
  font-family: 'boonhome-400' !important ;
  font-weight: bold;
  font-size: 18px;
}
.title-tab {
  font-family: 'boonhome-400' !important ;
  font-weight: bold;
  font-size: 30px;
}
.img-fluid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 200px;
  height: 200px;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}
.txtarea {
  font-family: 'boonhome-400';
  font-weight: normal;
  font-size: 20px;
  color: #ffff !important;
}
</style>