<template>
  <v-container id="role" fluid tag="section">
    <v-data-table
      :search="search"
      :headers="headers"
      :items="desserts"
      class="elevation-1"
    >
      <template v-slot:top>
        <v-toolbar color="teal">
          <v-toolbar-title class="title-header"
            >ອະນຸມັດຂໍ້ມູນແມງໄມ້</v-toolbar-title
          >
          <v-divider
            vertical
            style="
              margin-left: 10px;
              margin-right: 10px;
              background-color: white;
            "
          ></v-divider>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
            filled
            style="background-color: white"
          ></v-text-field>
          <v-spacer></v-spacer>
        </v-toolbar>
      </template>

      <template v-slot:item="{ item }">
        <tr>
          <td>{{ item.insecta_id }}</td>
          <!-- <td>{{item.name}}</td> -->
          <td>
            <div>{{ item.insecta_name_la }}</div>
            <div>{{ item.insecta_name_en }}</div>
          </td>
          <td>
            <div>{{ item.species_name_la }}</div>
            <div>{{ item.species_name_en }}</div>
          </td>
          <td>
            <div>{{ item.upload_date }}</div>
          </td>
          <td>
            <!-- <div :style="{ color: activateColor, fontSize:'20-px'}">{{activate(item.activate)}}</div> -->
            <div>{{ item.activate }}</div>
          </td>
          <td>
            <v-btn
              @click="detail(item.insecta_id, item.activate)"
              color="primary"
              >Detail</v-btn
            >
          </td>
        </tr>
      </template>
    </v-data-table>
  </v-container>
</template>

<script>
export default {
  middleware: 'auth-admin',
  data: () => ({
    activateColor: '',
    roles: ['ນັກຄົ້ນຄວ້າ', 'ສະມາຊິກ'],
    dialog: false,
    search: '',
    dialogDelete: false,
    headers: [
      {
        text: 'ID',
        align: 'start',
        sortable: false,
        value: 'log_id',
      },
      { text: 'insecta_name', value: 'insecta_name_la', align: ' d-none' },
      { text: 'insecta_name', value: 'insecta_name_en' },
      { text: 'species', value: 'species_name_la', align: ' d-none' },
      { text: 'species', value: 'species_name_en' },
      { text: 'upload_date', value: 'upload_date' },
      { text: 'activate', value: 'activate' },
      { text: 'Actions', value: 'actions', sortable: false, align: 'end' },
    ],
    desserts: [],
    editedIndex: -1,
    editedItem: {},
    defaultItem: {},
    insectainfo: [],
  }),
  async fetch() {
    if (this.$nuxt.$auth.$state.user.role === 'admin') {
      console.log('ok admin')
      this.$store.commit('set_drawer', true)
      this.$store.commit('set_topbar', true)
      this.$store.commit('set_appbar', false)
      this.$store.commit('set_fullname', this.$nuxt.$auth.user.fullname)
    } else if (this.$nuxt.$auth.$state.user.role === 'researcher') {
      console.log('ok rs')
      this.$store.commit('set_drawer', true)
      this.$store.commit('set_topbar', true)
      this.$store.commit('set_appbar', false)
      this.$store.commit('set_research', true)
      this.$store.commit('set_fullname', this.$nuxt.$auth.user.fullname)
    }
  },
  methods: {
    initialize() {},

 
    detail(insect_id, activate) {
      this.$router.push({
        name: 'approve-insecta-id',
        params: {
          id: insect_id,
          stt: activate,
        },
      })
   
    },
    fetch() {
      this.$axios.get(`/insecta/view_data`).then((result) => {
        const handledata = (list, prop) => {
          //change some string in object but use old object
          return list.map((item) => {
            var result
            const obj = Object.assign({}, item)
            if (obj[prop] == '1') {
              result = 'activated'
            } else if (obj[prop] == '2') {
              result = 'Not Activated'
            } else if (obj[prop] == '0') {
              result = 'Pending'
            }
            obj[prop] = result
            return this.insectainfo.push(obj)
          })
        }
        handledata(result.data[0], 'activate')
        this.desserts = this.insectainfo
      })
    },
  },
  computed: {},

  created() {
    this.initialize()
  },

  mounted() {
    this.fetch()
  },
}
</script>

<style scoped>
.v-text-field--outlined >>> fieldset {
  border-color: rgba(255, 255, 255, 0.986);
}
</style>
