<template>
  <v-card>
    <v-card-text>
      <v-data-table
        :search="search"
        :headers="headers"
        :items="userinfo"
        class="elevation-1"
      >
        <template v-slot:top>
          <v-toolbar color="teal ">
            <v-toolbar-title class="title-header"
              >ລາຍຊື່ຜູ້ຂໍອະນຸມັດເປັນນັກຄົ້ນຄວ້າ</v-toolbar-title
            >
            <v-divider
              vertical
              style="
                margin-left: 10px;
                margin-right: 10px;
                background-color: white;
              "
            ></v-divider>

            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" max-width="1200px">
              <v-card>
                <v-card-title class="bg-title">
                  <span
                    class="headline"
                    style="
                      font-family: 'boonhome-400' !important;
                      font-weight: bold;
                      font-size: 30px;
                      margin-left: 10px;
                    "
                    >ລາຍລະອຽດນັກຄົ້ນຄວ້າ</span
                  >
                </v-card-title>
                <v-card-text>
                  <v-container style="margin-top: 10px">
                    <v-col>
                      <v-row>
                        <v-col cols="2">
                          <v-subheader>ຊື່ ແລະ ນາມສະກຸນ:</v-subheader>
                        </v-col>

                        <v-col cols="4">
                          <v-text-field
                            v-model="frmauth.fullname"
                            disabled
                            label="Fullname"
                            class="bt"
                          ></v-text-field>
                        </v-col>
                      </v-row>

                      <v-row>
                        <v-col cols="2">
                          <v-subheader>ສິດ:</v-subheader>
                        </v-col>
                        <v-col cols="5">
                          <v-text-field
                            v-model="frmauth.role_name"
                            disabled
                            label="role"
                            class="bt"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col cols="2">
                          <v-subheader>Email:</v-subheader>
                        </v-col>
                        <v-col cols="4">
                          <v-text-field
                            v-model="frmauth.email"
                            disabled
                            label="email"
                            class="bt"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col cols="2">
                          <v-subheader>ວຸດທີການສຶກສາ:</v-subheader>
                        </v-col>
                        <v-col cols="4">
                          <v-text-field
                            v-model="editedItem.e_edu_name_la"
                            disabled
                            label="LA"
                            class="bt"
                          ></v-text-field>
                        </v-col>
                        <v-col cols="4">
                          <v-text-field
                            v-model="editedItem.e_edu_name_en"
                            disabled
                            label="EN"
                            class="bt"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col cols="2">
                          <v-subheader>ສະຖາບັນ:</v-subheader>
                        </v-col>
                        <v-col cols="4">
                          <v-text-field
                            v-model="editedItem.u_institute_la"
                            disabled
                            label="LA"
                            class="bt"
                          ></v-text-field>
                        </v-col>
                        <v-col cols="4">
                          <v-text-field
                            v-model="editedItem.u_institute_en"
                            disabled
                            label="EN"
                            class="bt"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col cols="2">
                          <v-subheader>ສັນຊາດ:</v-subheader>
                        </v-col>
                        <v-col cols="4">
                          <v-text-field
                            v-model="editedItem.n_n_name_la"
                            disabled
                            label="LA"
                            class="bt"
                          ></v-text-field>
                        </v-col>
                        <v-col cols="4">
                          <v-text-field
                            v-model="editedItem.n_n_name_en"
                            disabled
                            label="EN"
                            class="bt"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col cols="2">
                          <v-subheader>ຊ່ຽວຊານດ້ານ:</v-subheader>
                        </v-col>
                        <v-col cols="4">
                          <v-text-field
                            v-model="editedItem.u_researcher_la"
                            disabled
                            label="LA"
                            class="bt"
                          ></v-text-field>
                        </v-col>
                        <v-col cols="4">
                          <v-text-field
                            v-model="editedItem.u_researcher_en"
                            disabled
                            label="EN"
                            class="bt"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col cols="2">
                          <v-subheader>ສະຖານະ:</v-subheader>
                        </v-col>
                        <v-col cols="4">
                          <v-text-field
                            v-model="editedItem.u_activate"
                            disabled
                            label="LA"
                            class="bt"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <v-divider></v-divider>
                      <v-row justify="center">
                        <div style="margin-top: 10px">
                          <v-btn
                            v-if="!valid"
                            x-large
                            depressed
                            color="success"
                            class="bt"
                            @click="approve()"
                            >ອະນຸມັດ</v-btn
                          >
                          <v-btn
                            v-if="!valid"
                            color="grey"
                            x-large
                            depressed
                            class="bt"
                            @click="close()"
                            >ບໍ່ອະນຸມັດ </v-btn
                          >
                        </div>
                      </v-row>
                    </v-col>
                  </v-container>
                </v-card-text>
                <v-card-actions></v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>
        <template v-slot:item="{ item }">
          <tr>
            <td>{{ item.uid }}</td>

            <td>
              <div>{{ item.u_institute_la }}</div>
              <div>{{ item.u_institute_en }}</div>
            </td>
            <td>
              <div>{{ item.u_researcher_la }}</div>
              <div>{{ item.u_researcher_en }}</div>
            </td>
            <td>
              <div>{{ item.e_edu_name_en }}</div>
              <div>{{ item.e_edu_name_la }}</div>
            </td>
            <td>
              <div>{{ item.n_n_name_la }}</div>
              <div>{{ item.n_n_name_en }}</div>
            </td>

            <td>
              <div>{{ item.u_activate }}</div>
            </td>
            <td>
              <v-btn @click="editItem(item)" color="primary">Detail</v-btn>
            </td>
          </tr>
        </template>
      </v-data-table>
    </v-card-text>
  </v-card>
</template>
<script>
export default {
  middleware: 'auth-admin',
  created() {
    this.initialize()
  },
  async fetch() {
    if (this.$nuxt.$auth.$state.user.role === 'admin') {
      console.log('ok admin')
      this.$store.commit('set_drawer', true)
      this.$store.commit('set_topbar', true)
      this.$store.commit('set_appbar', false)
      this.$store.commit('set_fullname', this.$nuxt.$auth.user.fullname)
    } else if (this.$nuxt.$auth.$state.user.role === 'researcher') {
      console.log('ok rs')
      this.$store.commit('set_drawer', true)
      this.$store.commit('set_topbar', true)
      this.$store.commit('set_appbar', false)
      this.$store.commit('set_research', true)
      this.$store.commit('set_fullname', this.$nuxt.$auth.user.fullname)
    }
  },
  methods: {
    approve() {
      this.$axios
        .post('https://ma.mndev.com/v1/user/uprole/', {
          role_id: 6,
          update_uid: this.editedItem.uid.toString(),
        })
        .then((result1) => {
          console.log(result1)
        })
      this.$axios
        .put('/userinfor/activate-reearcher/' + this.editedItem.uid.toString())
        .then((response) => {
          console.log(response)
          this.close()
        })
        .catch((error) => {
          console.log(error)
        })
    },

    initialize() {},
    // activate(num) {
    //   if (num == 1) {
    //     this.activateColor = 'green'
    //     return 'activated'
    //   } else if (num == 2) {
    //     this.activateColor = 'blue'
    //     return 'Not Activated'
    //   } else if (num == 0) {
    //     this.activateColor = 'red'
    //     return 'Pending'
    //   }
    // },

    opendialog() {
      this.dialog = true
    },
    fetch() {
      this.userinfo = []
      this.$axios.get(`/userinfor/showdata_table`).then((result) => {
        const handledata = (list, prop) => {
          //change some string in object but use old object
          return list.map((item) => {
            var result = ''
            const obj = Object.assign({}, item)
            if (obj[prop] == '1') {
              result = 'activated'
            } else if (obj[prop] == '2') {
              result = 'Not Activated'
            } else if (obj[prop] == '0') {
              result = 'Pending'
            } else {
              result = ''
            }
            obj[prop] = result
            return this.insectainfo.push(obj)
          })
        }
        handledata(result.data[0], 'u_activate')
        this.userinfo = this.insectainfo
      })
    },
    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
      console.log(this.editedItem.u_activate)
      if (this.editedItem.u_activate == 'activated') {
        this.valid = true
      }
      this.$axios
        .get(`https://ma.mndev.com/v1/user/uid/` + item.uid)
        .then((result) => {
          console.log(result.data)
          this.frmauth = result.data
        })
    },

    close() {
      this.dialog = false
      this.valid = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
      //this.fetch()
    },
  },
  data: () => ({
    valid: false,
    activateColor: '',
    dialog: false,
    search: '',
    dialogDelete: false,
    insectainfo: [],
    headers: [
      {
        text: 'ID',
        align: 'start',
        sortable: false,
        value: 'UID',
      },
      { text: 'institute', value: 'u_institute_la' },
      { text: 'institute', value: 'u_institute_en', align: ' d-none' },
      { text: 'researcher', value: 'u_researcher_la' },
      { text: 'researcher', value: 'u_researcher_en', align: ' d-none' },
      { text: 'education', value: 'e_edu_name_en' },
      { text: 'education', value: 'e_edu_name_la', align: ' d-none' },
      { text: 'nationality', value: 'n_n_name_la' },
      { text: 'nationality', value: 'n_n_name_en', align: ' d-none' },
      { text: 'activate', value: 'u_activate' },
      { text: 'Actions', value: 'actions', sortable: false, align: 'end' },
    ],
    userinfo: [],
    insect: [{}],
    desserts: [],
    editedIndex: -1,
    editedItem: {},
    frmauth: {
      uid: '',
      fullname: '',
      email: '',
      email_verify: '',
      gender: '',
      create_at: '',
      bd: '',
      role_id: '',
      role_name: '',
    },
    defaultItem: {
      kid: '',
      name_la: '',
      name_en: '',
    },
  }),
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? 'ເພີ່ມສິດໃຫມ່' : 'ແກ້ໄຂຂໍ້ມູນ'
    },
  },

  watch: {
    dialog(val) {
      val || this.close()
    },
    dialogDelete(val) {
      val || this.closeDelete()
    },
  },

  mounted() {
    this.fetch()
  },
}
</script>

<style scoped>
.v-subheader {
  justify-content: flex-end;
  font-family: 'boonhome-400' !important ;
  font-weight: normal;
  font-size: 20px;
}
.v-tab {
  font-family: 'boonhome-400' !important ;
  font-weight: bold;
  font-size: 18px;
}
.title-tab {
  font-family: 'boonhome-400' !important ;
  font-weight: bold;
  font-size: 30px;
}
</style>