<template>
  <v-container id="district" fluid tag="section">
    <v-data-table
      :search="search"
      :headers="headers"
      :items="itemhistory"
      class="elevation-1"
    >
      <template v-slot:top>
        <v-toolbar color="teal">
          <v-toolbar-title class="title-header"
            >ປະຫວັດການຄົ້ນພົບແມງໄມ້</v-toolbar-title
          >
          <v-divider
            vertical
            style="
              margin-left: 10px;
              margin-right: 10px;
              background-color: white;
            "
          ></v-divider>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
            filled
            style="margin-right: 10px; background-color: #e8f5e9"
            solo
          ></v-text-field>

          <v-spacer></v-spacer>

          <v-dialog v-model="dialog" max-width="750px">
            <template v-slot:activator="{ on, attrs }">
              <v-btn color="green" dark class="mb-2" v-bind="attrs" v-on="on">
                <v-icon>mdi-plus</v-icon>ADD
              </v-btn>
            </template>
            <v-card>
              <v-card-title class="bg-title">
                <span
                  class="headline"
                  style="
                    font-family: 'boonhome-400' !important;
                    font-weight: bold;
                    font-size: 25px;
                  "
                  >{{ formTitle }}</span
                >
              </v-card-title>

              <v-card-text>
                <v-form ref="form" v-model="valid" lazy-validation>
                  <v-container style="margin-top: 10px">
                    <v-col>
                      <v-row>
                        <v-col>
                          <v-autocomplete
                            v-model="editedItem.pro_id"
                            :items="itemProvince"
                            filled
                            color="blue-grey lighten-2"
                            label="ເລືອກແຂວງ"
                            item-text="pro_name_la"
                            item-value="pro_id"
                            style="font-family: 'boonhome-400' !important"
                          >
                            <template v-slot:item="data">
                              <template>
                                <v-list-item-content>
                                  <v-list-item-title
                                    v-html="data.item.pro_name_en"
                                  ></v-list-item-title>
                                  <v-list-item-subtitle
                                    v-html="data.item.pro_name_la"
                                  ></v-list-item-subtitle>
                                </v-list-item-content>
                              </template>
                            </template>
                          </v-autocomplete>
                        </v-col>
                        <v-col>
                          <v-autocomplete
                            v-model="editedItem.d_id"
                            :items="filterdistrict"
                            filled
                            color="blue-grey lighten-2"
                            label="ເລືອກເມືອງ"
                            item-text="dr_name_en"
                            item-value="d_id"
                            style="font-family: 'boonhome-400' !important"
                          >
                            <template v-slot:item="data">
                              <template>
                                <v-list-item-content>
                                  <v-list-item-title
                                    v-html="data.item.dr_name_la"
                                  ></v-list-item-title>
                                  <v-list-item-subtitle
                                    v-html="data.item.dr_name_en"
                                  ></v-list-item-subtitle>
                                </v-list-item-content>
                              </template>
                            </template>
                          </v-autocomplete>
                        </v-col>
                        <v-col>
                          <v-autocomplete
                            v-model="editedItem.v_id"
                            :items="filterVillage"
                            filled
                            color="blue-grey lighten-2"
                            label="ເລືອກບ້ານ"
                            item-text="v_name_la"
                            item-value="v_id"
                            style="font-family: 'boonhome-400' !important"
                          >
                            <template v-slot:item="data">
                              <template>
                                <v-list-item-content>
                                  <v-list-item-title
                                    v-html="data.item.v_name_la"
                                  ></v-list-item-title>
                                  <v-list-item-subtitle
                                    v-html="data.item.v_name_en"
                                  ></v-list-item-subtitle>
                                </v-list-item-content>
                              </template>
                            </template>
                          </v-autocomplete>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col>
                          <v-text-field
                            solo
                            v-model="editedItem.finder_name_la"
                            label="ຊື່ນັກຄົ້ນຄວ້າ LA"
                            class="bt"
                            :rules="[rules.required]"
                          ></v-text-field>
                        </v-col>
                        <v-col>
                          <v-text-field
                            solo
                            v-model="editedItem.finder_name_en"
                            label="ຊື່ນັກຄົ້ນຄວ້າ EN"
                            class="bt"
                            :rules="[rules.required]"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-text-field
                          solo
                          v-model="editedItem.gps_found"
                          label="ຕຳແຫນ່ງ GPS"
                          class="bt"
                        ></v-text-field>
                      </v-row>
                      <v-row>
                        <v-text-field
                          solo
                          v-model="editedItem.sea"
                          label="ຈາກຫນ້ານຳທະເລ"
                          class="bt"
                        ></v-text-field>
                      </v-row>
                      <v-row>
                        <v-menu
                          v-model="menu2"
                          :close-on-content-click="false"
                          :nudge-right="40"
                          transition="scale-transition"
                          offset-y
                          min-width="290px"
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                              style="font-family: 'boonhome-400' !important"
                              v-model="editedItem.date_found"
                              label="ວັນທີຄົ້ນພົບ"
                              prepend-icon="mdi-calendar"
                              readonly
                              v-bind="attrs"
                              v-on="on"
                            ></v-text-field>
                          </template>
                          <v-date-picker
                            v-model="editedItem.date_found"
                            @input="menu2 = false"
                          ></v-date-picker>
                        </v-menu>
                      </v-row>
                      <h2
                        class="font-weight-light pink--text"
                        style="font-family: 'boonhome-400' !important"
                      >
                        ໝາຍເຫດ:
                        ການປ່ຽນແປງໃນໜ້ານີ້ຈະສົ່ງຜົນຕໍ່ຖານຂໍ້ມູນໂດຍກົງກະລຸນາເພີ່ມ
                        ຫຼື ແກ້ໄຂຢ່າງລະມັດລະວັງ
                      </h2>
                      <v-row style="justify-content: flex-end">
                        <v-btn
                          depressed
                          :disabled="!valid"
                          color="success"
                          @click="save"
                          style="margin-right: 5px"
                          class="bt"
                          >ບັນທຶກ</v-btn
                        >
                      </v-row>
                    </v-col>
                  </v-container>
                </v-form>
              </v-card-text>
              <v-card-actions></v-card-actions>
            </v-card>
          </v-dialog>
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="headline"
                >ເຈົ້າຕ້ອງການລົບຂໍ້ມູນນີ້ ຫຼື ບໍ່?</v-card-title
              >
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="closeDelete"
                  >Cancel</v-btn
                >
                <v-btn color="blue darken-1" text @click="deleteItemConfirm"
                  >OK</v-btn
                >
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>

      <template v-slot:item="{ item }">
        <tr>
          <td>{{ item.d_id }}</td>
          <!-- <td>{{item.name}}</td> -->
          <td>
            <div>{{ item.v_name_en }}</div>
            <div>{{ item.v_name_la }}</div>
          </td>
          <td>
            <div>{{ item.dr_name_en }}</div>
            <div>{{ item.dr_name_la }}</div>
          </td>
          <td>
            <div>{{ item.gps_found }}</div>
          </td>
          <td>
            <div>{{ item.date_found }}</div>
          </td>
          <td>
            <div>{{ item.finder_name_en }}</div>
            <div>{{ item.finder_name_la }}</div>
          </td>
          <td>
            <v-icon small class="mr-2" @click="editItem(item)" color="green"
              >mdi-pencil</v-icon
            >
            <v-icon small @click="deleteItem(item)" color="red"
              >mdi-delete</v-icon
            >
          </td>
        </tr>
      </template>
    </v-data-table>
    <mydialog :mydialog="detail" />
  </v-container>
</template>

<script>
import mydialog from '../../../components/mydialog.vue'
export default {
  components: { mydialog },
  middleware: 'auth-admin',
  data: () => ({
    date: new Date().toISOString().substr(0, 10),
    menu: false,
    modal: false,
    menu2: false,
    dialog: false,
    search: '',
    sortBy: '',
    dialogDelete: false,
    headers: [
      {
        text: 'ID',
        align: 'start',
        sortable: false,
        value: 'n_id',
      },
      { text: 'Village', value: 'v_name_la', align: ' d-none' },
      { text: 'Village', value: 'v_name_en' },
      { text: 'District', value: 'dr_name_la', align: ' d-none' },
      { text: 'District', value: 'dr_name_en' },
      { text: 'gps', value: 'gps_found' },
      { text: 'date_found', value: 'date_found' },
      { text: 'Finder', value: 'finder_name_la', align: ' d-none' },
      { text: 'Finder', value: 'finder_name_en' },
      { text: 'Actions', value: 'actions', sortable: false, align: 'end' },
    ],
    selectItem: {
      v_id: '',
      uid: '',
      finder_name_la: '',
      finder_name_en: '',
      gps_found: '',
      date_found: '',
      upload_date: '',
      sea: '',
    },
    p_id: '',
    d_id: '',
    itemProvince: [],
    itemDistrict: [],
    itemVillage: [],
    itemhistory: [],
    editedIndex: -1,
    editedItem: {
      log_id: '',
      v_id: '',
      insecta_id: '',
      uid: '',
      finder_name_la: '',
      finder_name_en: '',
      gps_found: '',
      date_found: '',
      upload_date: '',
      sea: '',
    },
    defaultItem: {
      log_id: '',
      v_id: '',
      insecta_id: '',
      uid: '',
      finder_name_la: '',
      finder_name_en: '',
      gps_found: '',
      date_found: '',
      upload_date: '',
      sea: '',
    },
    detail: {
      stt: '',
      color: '',
      Head: '',
      Text: '',
      icon: '',
    },
    insecta_id: '31',
    valid: true,
    rules: {
      required: (value) => !!value || 'Required.',
    },
  }),
  async fetch() {
    if (this.$nuxt.$auth.$state.user.role === 'admin') {
      console.log('ok admin')
      this.$store.commit('set_drawer', true)
      this.$store.commit('set_topbar', true)
      this.$store.commit('set_appbar', false)
      this.$store.commit('set_fullname', this.$nuxt.$auth.user.fullname)
    } else if (this.$nuxt.$auth.$state.user.role === 'researcher') {
      console.log('ok rs')
      this.$store.commit('set_drawer', true)
      this.$store.commit('set_topbar', true)
      this.$store.commit('set_appbar', false)
      this.$store.commit('set_research', true)
      this.$store.commit('set_fullname', this.$nuxt.$auth.user.fullname)
    }
  },
  methods: {
    initialize() {},
    fetch() {
      this.$axios
        .get(`/log/history_fond/` + this.$route.params.id)
        .then((result) => {
          this.itemhistory = result.data[0]
        }),
        this.$axios.get(`/village/get`).then((result) => {
          console.log('get')
          this.itemVillage = result.data[0]
        }),
        this.$axios.get(`/district/get`).then((result) => {
          this.itemDistrict = result.data[0]
        }),
        this.$axios.get(`/province/get`).then((result) => {
          this.itemProvince = result.data[0]
        })
    },
    editItem(item) {
      this.editedIndex = this.itemhistory.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
      console.log(this.editedItem.date_found.toLocaleString())
    },

    deleteItem(item) {
      this.editedIndex = this.itemhistory.indexOf(item)
      this.editedItem = Object.assign({}, item)

      this.dialogDelete = true
    },

    deleteItemConfirm() {
      this.$axios
        .delete('/log/delete-log/', {
          data: { log_id: this.editedItem.log_id.toString() },
        })
        .then((response) => {
          console.log(response)
        })
        .catch((error) => {
          console.log(error)
        })

      this.closeDelete()
    },

    close() {
      this.fetch()
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    closeDelete() {
      this.fetch()
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    save() {
      console.log('save' + this.editedIndex)
      if (this.editedIndex > -1) {
        Object.assign(this.itemhistory[this.editedIndex], this.editedItem)
        console.log('edit')
        var currentDateWithFormat = new Date()
          .toJSON()
          .slice(0, 10)
          .replace(/-/g, '-')
        this.$axios
          .put(`/log/edit-log`, {
            log_id: this.editedItem.log_id.toString(),
            v_id: this.editedItem.v_id.toString(),
            insecta_id: this.$route.params.id.toString(), // thar pien route
            uid: this.$nuxt.$auth.user.uid.toString(),
            finder_name_la: this.editedItem.finder_name_la.toString(),
            finder_name_en: this.editedItem.finder_name_en.toString(),
            gps_found: this.editedItem.gps_found.toString(),
            date_found: this.editedItem.date_found.toString(),
            upload_date: currentDateWithFormat.toString(),
            sea: this.editedItem.sea.toString(),
          })
          .then((response) => {
            this.detail = {
              stt: true,
              color: 'teal',
              Head: 'ອັບໂຫຼດສຳເລັດ',
              Text: 'ການອັບໂຫລດຂໍ້ມູນສຳເລັດ, ຈະມີຂໍ້ຄວາມແຈ້ງເຕືອນໃນອີເມວ',
              icon: 'mdi-checkbox-marked-circle-outline',
            }
            setTimeout(() => this.$router.push('/upload/'), 5000)

            this.close()
          })
          .catch(function (error) {
            console.log(error)
          })
      } else {
        console.log('upload')
        var currentDateWithFormat = new Date()
          .toJSON()
          .slice(0, 10)
          .replace(/-/g, '-')
        console.log(currentDateWithFormat)
        this.$axios
          .post(`/log/post-log`, {
            v_id: this.editedItem.v_id.toString(),
            insecta_id: this.$route.params.id.toString(), // thar pien route
            uid: this.$nuxt.$auth.user.uid.toString(),
            finder_name_la: this.editedItem.finder_name_la.toString(),
            finder_name_en: this.editedItem.finder_name_en.toString(),
            gps_found: this.editedItem.gps_found.toString(),
            date_found: this.editedItem.date_found.toString(),
            upload_date: currentDateWithFormat.toString(),
            sea: this.editedItem.sea.toString(),
          })
          .then((response) => {
            this.detail = {
              stt: true,
              color: 'teal',
              Head: 'ອັບໂຫຼດສຳເລັດ',
              Text: 'ການອັບໂຫລດຂໍ້ມູນສຳເລັດ, ຈະມີຂໍ້ຄວາມແຈ້ງເຕືອນໃນອີເມວ',
              icon: 'mdi-checkbox-marked-circle-outline',
            }
            setTimeout(() => this.$router.push('/upload/'), 5000)
            this.close()
          })
          .catch((error) => {
            console.log(error)
          })
      }
      this.close()
    },
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? 'ເພີ່ມປະຫວັດການຄົ້ນພົບ' : 'ແກ້ໄຂຂໍ້ມູນ'
    },
    filterdistrict() {
      return this.itemDistrict.filter((item) =>
        `${item.pro_id}`.includes(this.editedItem.pro_id)
      )
    },
    filterVillage() {
      return this.itemVillage.filter((item) =>
        `${item.d_id}`.includes(this.editedItem.d_id)
      )
    },
  },

  watch: {
    dialog(val) {
      val || this.close()
    },
    dialogDelete(val) {
      val || this.closeDelete()
    },
  },

  created() {
    this.initialize()
  },

  mounted() {
    this.fetch()
  },
}
</script>

<style scoped>
.v-text-field--outlined >>> fieldset {
  border-color: rgba(255, 255, 255, 0.986);
}
</style>
