  
<template >
  <v-app-bar v-model="topbar" fixed app dark>
    <v-app-bar-nav-icon @click.stop="toggleDrawer" />
    <v-spacer />
    <v-toolbar-title
      style=" font-family: 'boonhome-400'; font-weight: bold;  "
      v-text="'ຜູ້ໃຊ້: '+fullname"
    />
    <v-btn x-large @click="openDialog" text depressed color="success" class="bt">
      <v-icon>mdi-pencil</v-icon>
    </v-btn>
    <v-spacer />

    <v-dialog v-model="dialog" max-width="1200px">
      <v-card>
        <v-card-title class="bg-title">
          <span
            class="headline"
            style="font-family: 'boonhome-400' !important; font-weight: bold; font-size:30px; margin-left:10px"
          >ລາຍລະອຽດນັກຄົ້ນຄວ້າ</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-container style="margin-top:10px">
              <v-col>
                <v-col cols="12">
                  <div class="mb-5">
                    <v-select
                      v-model="register[0].edu_id"
                      dense
                      solo
                      :rules="[v => !!v || 'Item is required']"
                      :items="edu"
                      label="ເລືອກລະດັບການສຶກສາ"
                      item-text="edu_name_en"
                      item-value="edu_id"
                      item-color="green"
                      style="  font-weight: bold; font-family: 'boonhome-400'; "
                    >
                      <template v-slot:item="data">
                        <template>
                          <v-list-item-content>
                            <v-list-item-title v-html="data.item.edu_name_la"></v-list-item-title>
                            <v-list-item-subtitle v-html="data.item.edu_name_en"></v-list-item-subtitle>
                          </v-list-item-content>
                        </template>
                      </template>
                    </v-select>
                  </div>

                  <div class="mb-3">
                    <v-select
                      v-model="register[0].n_id"
                      dense
                      solo
                      :items="nation"
                      label="ເລືອກສັນຊາດ"
                      item-text="n_name_en"
                      item-value="n_id"
                      :rules="[v => !!v || 'Item is required']"
                      item-color="green"
                      style="  font-weight: bold; font-family: 'boonhome-400';"
                    >
                      <template v-slot:item="data">
                        <template>
                          <v-list-item-content>
                            <v-list-item-title v-html="data.item.n_name_la"></v-list-item-title>
                            <v-list-item-subtitle v-html="data.item.n_name_en"></v-list-item-subtitle>
                          </v-list-item-content>
                        </template>
                      </template>
                    </v-select>
                  </div>
                  <v-row>
                    <v-col>
                      <v-text-field
                        v-model="register[0].institute_la"
                        label="ສະຖາບັນພາສາລາວ"
                        name="username"
                        type="text"
                        color="teal accent-3"
                        filled
                        rounded
                        dense
                        class="txt"
                      ></v-text-field>
                    </v-col>
                    <v-col>
                      <v-text-field
                        v-model="register[0].institute_en"
                        label="ສະຖາບັນພາສາອັງກິດ"
                        name="username"
                        type="text"
                        color="teal accent-3"
                        filled
                        rounded
                        :rules="[rules.required]"
                        dense
                        class="txt"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col>
                      <v-text-field
                        v-model="register[0].researcher_la"
                        label="ຊ່ຽວຊານດ້ານ LA"
                        name="username"
                        type="text"
                        color="teal accent-3"
                        filled
                        rounded
                        dense
                        class="txt"
                      ></v-text-field>
                    </v-col>
                    <v-col>
                      <v-text-field
                        v-model="register[0].researcher_en"
                        label="ຊ່ຽວຊານດ້ານ EN"
                        name="username"
                        type="text"
                        color="teal accent-3"
                        filled
                        :rules="[rules.required]"
                        rounded
                        dense
                        class="txt"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-col>
                <v-divider></v-divider>
                <v-row justify="center">
                  <div style="margin-top:10px">
                    <v-btn
                      x-large
                      :disabled="!valid"
                      @click="editProfile()"
                      depressed
                      color="success"
                      class="bt"
                    >save</v-btn>
                    <v-btn x-large @click="close()" color="grey" depressed class="bt">close</v-btn>
                  </div>
                </v-row>
              </v-col>
            </v-container>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-snackbar v-model="snackbar">
      {{ text }}
      <template v-slot:action="{ attrs }">
        <v-btn color="red" text v-bind="attrs" @click="snackbar = false">Close</v-btn>
      </template>
    </v-snackbar>
  </v-app-bar>
</template>

<script>
export default {
  data() {
    return {
      text: '',
      topbar1: false,
      snackbar: false,
      title: 'Welcome',
      name: '',
      dialog: false,
      valid: true,
      rules: {
        required: (value) => !!value || 'Required.',
      },
      register: [
        {
          edu_id: '',
          n_id: '',
          institute_la: '',
          institute_en: '',
          researcher_la: '',
          researcher_en: '',
        },
      ],
      edu: [
        {
          edu_id: '',
          edu_name_la: '',
          edu_name_en: '',
        },
      ],
      nation: [
        {
          n_id: '',
          n_name_la: '',
          n_name_en: '',
        },
      ],
    }
  },
  methods: {
    editProfile() {
      this.$axios
        .put('/userinfor/edit-userinfor', {
          uid: this.$nuxt.$auth.user.uid.toString(),
          edu_id: this.register[0].edu_id.toString(),
          n_id: this.register[0].n_id.toString(),
          institute_la: this.register[0].institute_la.toString(),
          institute_en: this.register[0].institute_en.toString(),
          researcher_la: this.register[0].researcher_la.toString(),
          researcher_en: this.register[0].researcher_en.toString(),
        })
        .then((response) => {
          console.log(response)
          if (response.status === 201) {
            this.text = 'ການແກ້ໄຂຂໍ້ມູນສຳເລັດ'
            this.snackbar = true
            this.dialog = false
          } else {
            this.text = 'ການແກ້ໄຂຂໍ້ມູນຜິດພາດ, ຂໍອະໄພມີບາງຢ່າງຜິດພາດ'
            this.snackbar = true
          }
        })
        .catch(function (error) {
          console.log(error)
        })
    },
    close() {
      this.dialog = false
    },

    toggleDrawer() {
      this.$store.commit('set_drawer', !this.$store.state.drawer)
    },
    openDialog() {
      console.log('open')
      this.$axios.get(`/nationality/get`).then((result) => {
        this.nation = result.data[0]
      })
      this.$axios.get(`/education/get`).then((result) => {
        this.edu = result.data[0]
      })
      this.$axios
        .get(`/userinfor/getById/` + this.$nuxt.$auth.user.uid.toString())
        .then((result) => {
          console.log('result:' + result.data[0][0].institute_en)
          this.register[0] = result.data[0][0]
          console.log('register ' + this.register[0].institute_en)
        })
      this.dialog = true
    },
    async userlogout() {
      await this.$auth.logout()
      this.$store.commit('set_drawer', false),
        this.$store.commit('set_topbar', false),
        this.$store.commit('set_appbar', true),
        this.$auth.$storage.setLocalStorage('_role', 'member')
      this.$store.commit('set_fullname', '')
      this.$router.push('/')
    },
  },
  computed: {
    topbar: {
      get() {
        return this.$store.state.topbar
      },
      set(val) {
        this.$store.commit('set_topbar', val)
      },
    },
    fullname: {
      get() {
        return this.$store.state.fullname
      },
      set(val) {
        this.$store.commit('set_fullname', val)
      },
    },
  },

  created() {
    //this.fullnamefetch();
  },
}
</script>

<style lang="css" scoped></style>