<template>
  <v-app>
    <v-navigation-drawer
      id="core-navigation-drawer"
      v-model="drawer"
      disable-resize-watcher
      fixed
      :dark="barColor !== 'rgba(228, 226, 226, 1), rgba(255, 255, 255, 0.7)'"
      :right="$vuetify.rtl"
      width="290px"
      :expand-on-hover="expandOnHover"
      app
      class="img-path"
    >
      <template v-slot:img="props">
        <v-img :gradient="`to bottom, ${barColor}`" v-bind="props" />
      </template>
      <template>
        <div class="text-center my-4">
          <img
            class="logo"
            src="~/assets/insecta.jpeg"
            style="border-radius: 10%"
          />
          <!-- <v-img :aspect-ratio="16/9" width="300" src="~/assets/insecta.jpeg"></v-img> -->
        </div>
      </template>
      <v-list-item to="/">
        <v-list-item-action>
          <v-icon>mdi-home</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>Home</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-group
        v-if="!this.$store.state.btResearch"
        :value="false"
        prepend-icon="mdi-account-circle"
      >
        <template v-slot:activator>
          <v-list-item-title>ຈັດການຂໍ້ມູນພື້ນຖານ</v-list-item-title>
        </template>

        <v-list-group :value="false" no-action sub-group>
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title>ຈັດການຂໍ້ມູນສາຍພັນ</v-list-item-title>
            </v-list-item-content>
          </template>

          <v-list-item
            v-for="([title, path], i) in breed"
            :key="i"
            :to="path"
            link
          >
            <v-list-item-title v-text="title"></v-list-item-title>
          </v-list-item>
        </v-list-group>

        <v-list-group :value="true" no-action sub-group>
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title>ຈັດການຂໍ້ມູນຍ່ອຍ</v-list-item-title>
            </v-list-item-content>
          </template>
          <v-list-item
            v-for="([title, path], i) in other"
            :key="i"
            :to="path"
            link
          >
            <v-list-item-title v-text="title"></v-list-item-title>
          </v-list-item>
        </v-list-group>
        <v-list-item to="/management/locate">
          <v-list-item-action>
            <v-icon>mdi-city</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>ຈັດການທີ່ຢູ່</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-group>

      <v-list-item to="/upload/">
        <v-list-item-action>
          <v-icon>mdi-arrow-right-bold-hexagon-outline</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>ອັບໂຫລດຂໍ້ມູນແມງໄມ້</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-group
        v-if="!this.$store.state.btResearch"
        :value="false"
        no-action
        prepend-icon="mdi-check-all"
      >
        <template v-slot:activator>
          <v-list-item-content>
            <v-list-item-title>ອະນຸມັດຂໍ້ມູນ</v-list-item-title>
          </v-list-item-content>
        </template>
        <v-list-item
          v-for="([title, path], i) in approve"
          :key="i"
          :to="path"
          link
        >
          <v-list-item-title v-text="title"></v-list-item-title>
        </v-list-item>
      </v-list-group>
      <v-list-item to="/download">
        <v-list-item-action>
          <v-icon>mdi-chart-areaspline</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>ສະຖິຕິ</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list-item v-if="!this.$store.state.btResearch" to="/report">
        <v-list-item-action>
          <v-icon>mdi-file-document</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>ລາຍງານ</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <template>
        <v-divider />
        <v-list-item @click="userlogout">
          <v-list-item-action>
            <v-icon>mdi-arrow-left-bold-hexagon-outline</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Logout</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </template>
      <template v-slot:append>
        <v-divider />
        <v-list-item three-line>
          <v-list-item-content>
            <v-list-item-title>Developed by</v-list-item-title>
            <a href="https://www.mndev.com/"
              >Mounoy Development Sole Co., LTD</a
            >
            <v-list-item-subtitle
              >@ {{ new Date().getFullYear() }}</v-list-item-subtitle
            >
          </v-list-item-content>
        </v-list-item>
        <v-divider />
      </template>
    </v-navigation-drawer>
  </v-app>
</template>

<script>
// import { mapState } from "vuex";
// import store from "@/store/index";
export default {
  props: {
    expandOnHover: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      fullname: '',
      barColor: 'rgba(0,0,0,0.8), rgba(0,0,0,0.8)',
      clipped: true,
      drawer1: false,
      breed: [
        ['Kingdom', '/management/species/kingdom'],
        ['Phylum', '/management/species/phylum'],
        ['Class', '/management/species/class'],
        ['Order', '/management/species/order'],
        ['Family', '/management/species/family'],
        ['Genus', '/management/species/genus'],
        ['Species', '/management/species/specie'],
      ],
      user: [['ຜູ້ໃຊ້', '/member/member']],

      other: [
        ['ສັນຊາດ', '/management/nationality'],
        ['ລະດັບການສຶກສາ', '/management/education'],
      ],
      approve: [
        ['ຂໍ້ມູນແມງໄມ້', '/approve/insecta/'],
        ['ນັກຄົ້ນຄວ້າ', '/approve/user'],
      ],

      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Vuetify.js',
    }
    // props:[

    // ],
  },
  computed: {
    drawer: {
      get() {
        return this.$store.state.drawer
      },
      set(val) {
        this.$store.commit('set_drawer', val)
      },
    },
  },
  methods: {
    async userlogout() {
      await this.$auth.logout()
      this.$store.commit('set_drawer', false),
        this.$store.commit('set_topbar', false),
        this.$store.commit('set_appbar', true),
        this.$store.commit('set_research', false),
        this.$auth.$storage.setLocalStorage('_role', 'member')
      this.$store.commit('set_fullname', '')
      this.$router.push('/')
    },
  },
}
</script>
<style scoped>
.v-list-group {
  font-family: 'boonhome-400';
}
.v-list-item {
  font-family: 'boonhome-400';
}
.img-path {
  background: url('~assets/bgpic/bgdrawer.jpg');
  opacity: 0.9;
  background-size: cover;
}
.logo {
  width: 250px;
  height: 250px;
}
</style>


