<template>
  <div>
    <v-dialog v-model="mydialog.stt" width="400">
      <v-card :color="mydialog.color">
        <v-card-text>
          <v-row justify="center" class="ma-10">
            <v-icon color="white" size="150"> {{ mydialog.icon }}</v-icon>
          </v-row>
          <v-row justify="center" class="my-7 mx-2">
            <span class="a text-center">{{ mydialog.Head }} </span>
          </v-row>
          <v-row justify="center" class="my-7">
            <div>
              <p class="b text-center">{{ mydialog.Text }}</p>
            </div>
          </v-row>
          <v-row justify="center">
            <v-btn
              @click="mydialog.stt = false"
              depressed
              outlined
              color="white"
              rounded
            >
              <h1 class="mx-10">ok</h1>
            </v-btn>
          </v-row>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  props: ['mydialog'],

  data() {
    return {}
  },

  async fetch() {},
}
</script>

<style scoped>
@media screen and (min-width: 300px) {
  .a {
    font-family: 'boonhome-400';
    font-weight: bold;
    font-size: 25px;
    color: #ffffff;
  }
  .b {
    font-family: 'boonhome-400';
    font-weight: lighter;
    font-size: 14px;
    color: #ffffff;
  }
}
@media screen and (min-width: 1025px) {
  .a {
    font-family: 'boonhome-400';
    font-weight: bold;
    font-size: 40px;
    color: #ffffff;
  }
  .b {
    font-family: 'boonhome-400';
    font-weight: lighter;
    font-size: 20px;
    color: #ffffff;
  }
}
</style>