<template>
  <v-container id="species" fluid tag="section">
    <v-data-table
      :search="search"
      :headers="headers"
      :items="desserts"
      sort-by="calories"
      class="elevation-1"
    >
      <template v-slot:top>
        <v-toolbar color="teal">
          <v-toolbar-title class="title-header">ຈັດການຂໍ້ມູນ Species</v-toolbar-title>
          <v-divider vertical style="margin-left:10px;  margin-right:10px;background-color:white;"></v-divider>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
            filled
            style=" margin-right:10px; background-color: #E8F5E9"
            solo
          ></v-text-field>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" max-width="500px">
            <template v-slot:activator="{ on, attrs }">
              <v-btn color="green" dark class="mb-2" v-bind="attrs" v-on="on">
                <v-icon>mdi-plus</v-icon>ADD
              </v-btn>
            </template>
            <v-card>
              <v-card-title class="bg-title">
                <span
                  class="headline"
                  style="font-family: 'boonhome-400' !important;
                   font-weight: bold; font-size:25px;"
                >{{ formTitle }}</span>
              </v-card-title>
              <v-card-text>
                <v-form ref="form" v-model="valid" lazy-validation>
                  <v-container style="margin-top:10px">
                    <v-col>
                      <v-row>
                        <v-autocomplete
                          :rules="[rules.required]"
                          v-model="editedItem.gid"
                          :items="itemGenus"
                          filled
                          color="blue-grey lighten-2"
                          label="ເລືອກ Genus"
                          item-text="g_name_en"
                          item-value="gid"
                          style="font-family: 'boonhome-400' !important;"
                        >
                          <template v-slot:item="data">
                            <template>
                              <v-list-item-content>
                                <v-list-item-title v-html="'Genus: '+data.item.g_name_en"></v-list-item-title>
                                <v-list-item-subtitle v-html="'Family: '+data.item.f_name_en"></v-list-item-subtitle>
                              </v-list-item-content>
                            </template>
                          </template>
                        </v-autocomplete>
                      </v-row>

                      <v-row>
                        <v-text-field
                          :rules="[rules.required]"
                          solo
                          v-model="editedItem.s_name_en"
                          label="Species_en"
                          class="bt"
                        ></v-text-field>
                      </v-row>
                      <v-row>
                        <v-text-field
                          solo
                          v-model="editedItem.s_name_la"
                          label="Species_la"
                          class="bt"
                        ></v-text-field>
                      </v-row>
                      <v-row style="justify-content:flex-end; ">
                        <v-btn
                          :disabled="!valid"
                          depressed
                          color="success"
                          @click="save"
                          style="margin-right:5px"
                          class="bt"
                        >ບັນທຶກ</v-btn>
                      </v-row>
                    </v-col>
                  </v-container>
                </v-form>
              </v-card-text>
            </v-card>
          </v-dialog>
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="headline">ເຈົ້າຕ້ອງການລົບຂໍ້ມູນນີ້ ຫຼື ບໍ່?</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
                <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:item="{ item }">
        <tr>
          <td>{{item.sid}}</td>
          <td>
            <div>{{item.k_name_en}}</div>
            <div>{{item.k_name_la}}</div>
          </td>
          <td>
            <div>{{item.p_name_en}}</div>
            <div>{{item.p_name_la}}</div>
          </td>
          <td>
            <div>{{item.c_name_en}}</div>
            <div>{{item.c_name_la}}</div>
          </td>
          <td>
            <div>{{item.o_name_en}}</div>
            <div>{{item.o_name_la}}</div>
          </td>
          <td>
            <div>{{item.f_name_en}}</div>
            <div>{{item.f_name_la}}</div>
          </td>
          <td>
            <div>{{item.g_name_en}}</div>
            <div>{{item.g_name_la}}</div>
          </td>
          <td>
            <div>{{item.s_name_en}}</div>
            <div>{{item.s_name_la}}</div>
          </td>
          <td>
            <v-icon small class="mr-2" @click="editItem(item)" color="green">mdi-pencil</v-icon>
            <v-icon small @click="deleteItem(item)" color="red">mdi-delete</v-icon>
          </td>
        </tr>
      </template>
    </v-data-table>
  </v-container>
</template>

<script>
export default {
  middleware: 'auth-admin',
  data: () => ({
    dialog: false,
    search: '',
    dialogDelete: false,
    headers: [
      {
        text: 'ID',
        align: 'start',
        value: 'kid',
        align: 'start',
      },
      { text: 'kingdom Name', value: 'name_en', align: 'start' },
      { text: 'kingdom', value: 'name_la', align: ' d-none' },
      { text: 'Phylum  Name', value: 'p_name_en', align: 'start' },
      { text: 'Phylum', value: 'p_name_la', align: ' d-none' },
      { text: 'Class  Name', value: 'c_name_la', align: 'start' },
      { text: 'Class', value: 'c_name_en', align: ' d-none' },
      { text: 'Order  Name', value: 'o_name_en', align: 'start' },
      { text: 'Order', value: 'o_name_la', align: ' d-none' },
      { text: 'Family  Name', value: 'f_name_en', align: 'start' },
      { text: 'Family', value: 'f_name_la', align: ' d-none' },
      { text: 'Genus  Name', value: 'g_name_en', align: 'start' },
      { text: 'Genus', value: 'g_name_la', align: ' d-none' },
      { text: 'Species  Name', value: 's_name_la', align: 'start' },
      { text: 'Species', value: 's_name_en', align: ' d-none' },
      { text: 'Actions', value: 'actions', sortable: false, align: 'end' },
    ],

    itemKingdom: [],
    itemGenus: [],
    k_id: '',
    desserts: [],
    editedIndex: -1,
    editedItem: {
      gid: '',
      fid: '',
      s_name_la: '',
      s_name_en: '',
    },
    defaultItem: {
      gid: '',
      fid: '',
      s_name_la: '',
      s_name_en: '',
    },
    valid: true,

    rules: {
      required: (value) => !!value || 'Required.',
    },
  }),
  async fetch() {
    if (this.$nuxt.$auth.$state.user.role === 'admin') {
      console.log('ok admin')
      this.$store.commit('set_drawer', true)
      this.$store.commit('set_topbar', true)
      this.$store.commit('set_appbar', false)
      this.$store.commit('set_fullname', this.$nuxt.$auth.user.fullname)
    } else if (this.$nuxt.$auth.$state.user.role === 'researcher') {
      console.log('ok rs')
      this.$store.commit('set_drawer', true)
      this.$store.commit('set_topbar', true)
      this.$store.commit('set_appbar', false)
      this.$store.commit('set_research', true)
      this.$store.commit('set_fullname', this.$nuxt.$auth.user.fullname)
    }
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? 'ເພີ່ມ Species ໃຫມ່' : 'ແກ້ໄຂຂໍ້ມູນ'
    },
  },

  watch: {
    dialog(val) {
      val || this.close()
    },
    dialogDelete(val) {
      val || this.closeDelete()
    },
  },

  created() {
    this.initialize()
  },
  mounted() {
    this.fetch()
  },

  methods: {
    initialize() {},
    fetch() {
      this.$axios.get(`/species/showdata`).then((result) => {
        this.desserts = result.data[0]
      })

      this.$axios.get(`/genus/get`).then((result) => {
        this.itemGenus = result.data[0]
      })
    },

    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    deleteItem(item) {
      this.editedIndex = this.desserts.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogDelete = true
    },

    deleteItemConfirm() {
      this.$axios
        .delete('/species/delete-species', {
          data: { sid: this.editedItem.sid.toString() },
        })
        .then(function (response) {
          console.log(response.status)
        })
        .catch(function (error) {
          console.log(error)
        })

      this.closeDelete()
    },

    close() {
      this.fetch()
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    closeDelete() {
      this.fetch()
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem)
        this.$axios
          .put('/species/edit-species', {
            sid: this.editedItem.sid.toString(),
            gid: this.editedItem.gid.toString(),
            name_la: this.editedItem.s_name_la.toString(),
            name_en: this.editedItem.s_name_en.toString(),
          })
          .then(function (response) {
            console.log(response)
          })
          .catch(function (error) {
            console.log(error)
          })
      } else {
        this.$axios
          .post(`/species/post-species`, {
            gid: this.editedItem.gid.toString(),
            name_la: this.editedItem.s_name_la.toString(),
            name_en: this.editedItem.s_name_en.toString(),
          })
          .then(function (response) {
            console.log(response)
          })
          .catch(function (error) {
            console.log(error)
          })
      }
      this.close()
    },
  },
}
</script>

<style scoped>
.v-text-field--outlined >>> fieldset {
  border-color: rgba(255, 255, 255, 0.986);
}
</style>
