<template>
  <v-col>
    <v-divider color="green"></v-divider>
    <v-col>
      <v-row justify="center">
        <v-col cols="12" sm="8" md="10" xs="12">
          <h1 class="b text-center">
            Online Insects information management system for Faculty of
            Agriculture
          </h1>
        </v-col>
      </v-row>

      <v-row justify="center">
        <v-slide-group class="pa-4" center-active show-arrows>
          <v-slide-item v-for="(file, f) in imageResize" :key="f">
            <!-- <v-img :src="file" class="ma-4 img-fluid" height="200" width="200" /> -->
            <img :src="file" class="ma-4 img-fluid" :title="'file' + f" />
            <!-- <expandable-image
              class="image"
              src="https://images.unsplash.com/photo-1551033453-3d94e6c88561?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2468&q=80"
            /> -->
          </v-slide-item>
        </v-slide-group>
      </v-row>
      <v-row justify="center">
        <v-col cols="12" md="5">
          <h1 class="c">ຂໍ້ມູນການຄົ້ນພົບ</h1>
          <v-row>
            <v-col cols="1"></v-col>
            <v-col cols="3">
              <h2 class="a">ພົບທີ່:</h2>
            </v-col>
            <v-col cols="7">
              <h2 class="b" v-for="(file, f) in itemhistory" :key="f">
               - ບ້ານ {{ file.v_name_la }}, ເມືອງ {{ file.dr_name_la }}, ແຂວງ
                {{ file.pro_name_la }}
              </h2>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="1"></v-col>
            <v-col cols="3">
              <h2 class="a">ວັນເດືອນປີ:</h2>
            </v-col>
            <v-col cols="7">
              <h2 class="a">
                <h2 class="b" v-for="(file, f) in itemhistory" :key="f">
                 - {{ file.date_found.toLocaleString('en-US') }}
                </h2>
              </h2>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="1"></v-col>
            <v-col cols="3">
              <h2 class="a">ຈາກນ້ຳທະເລ:</h2>
            </v-col>
            <v-col cols="7">
              <h2 class="b" v-for="(file, f) in itemhistory" :key="f">- {{ file.sea }}</h2>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="1"></v-col>
            <v-col cols="3">
              <h2 class="a">ຕຳແຫນ່ງ:</h2>
            </v-col>
            <v-col cols="7">
              <h2 class="b" v-for="(file, f) in itemhistory" :key="f">- {{file.gps_found }}</h2>
            </v-col>
          </v-row>

          <v-row>
            <v-col cols="1"></v-col>
            <v-col cols="3">
              <h2 class="a">ຈັບໂດຍ:</h2>
            </v-col>
            <v-col cols="7">
              <h2 class="b" > {{ itemhistory[0].finder_name_en }}</h2>
            </v-col>
          </v-row>
        </v-col>

        <v-col cols="12" md="5">
          <h1 class="c">ຂໍ້ມູນພື້ນຖານ</h1>
          <v-row>
            <v-col class="ml-5" cols="4">
              <h2 class="c">ຊື່ແມງໄມ້</h2>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="1"></v-col>
            <v-col cols="3">
              <h2 class="a">ຊື່ທົ່ວໄປ:</h2>
            </v-col>
            <v-col cols="7">
              <h2 class="b">{{ insect[0].name_la }}</h2>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="1"></v-col>
            <v-col cols="3">
              <h2 class="a">ຊື່ທ້ອງຖິ່ນ:</h2>
            </v-col>
            <v-col cols="7">
              <h2 class="b">{{ insect[0].localName_la }}</h2>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="1"></v-col>
            <v-col cols="3">
              <h2 class="a">ຊື່ສາມັນ:</h2>
            </v-col>
            <v-col cols="7">
              <h2 class="b">{{ insect[0].commonName_en }}</h2>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="3">
              <h2 class="a">ຊື່ວິທະຍາສາດ:</h2>
            </v-col>
            <v-col cols="1"></v-col>
            <v-col cols="7">
              <h2 class="b">{{ insect[0].scientificName_en }}</h2>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="ml-5" cols="4">
              <h2 class="c">ໝວດໝູ່</h2>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="1"></v-col>
            <v-col cols="3">
              <h2 class="a">Kingdom:</h2>
            </v-col>
            <v-col cols="7">
              <h2 class="b">{{ insect[0].kingdom_name_en }}</h2>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="1"></v-col>
            <v-col cols="3">
              <h2 class="a">Phylum:</h2>
            </v-col>
            <v-col cols="7">
              <h2 class="b">{{ insect[0].phylum_name_en }}</h2>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="1"></v-col>
            <v-col cols="3">
              <h2 class="a">Class:</h2>
            </v-col>
            <v-col cols="7">
              <h2 class="b">{{ insect[0].class_name_en }}</h2>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="1"></v-col>
            <v-col cols="3">
              <h2 class="a">Order:</h2>
            </v-col>
            <v-col cols="7">
              <h2 class="b">{{ insect[0].order_name_en }}</h2>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="1"></v-col>
            <v-col cols="3">
              <h2 class="a">Family:</h2>
            </v-col>
            <v-col cols="7">
              <h2 class="b">{{ insect[0].family_name_en }}</h2>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="1"></v-col>
            <v-col cols="3">
              <h2 class="a">Genus:</h2>
            </v-col>
            <v-col cols="7">
              <h2 class="b">{{ insect[0].genus_name_en }}</h2>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="1"></v-col>
            <v-col cols="3">
              <h2 class="a">species:</h2>
            </v-col>
            <v-col cols="7">
              <h2 class="b">{{ insect[0].species_name_en }}</h2>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="ml-5" cols="4">
              <h2 class="c">ລັກສະນະທາງຊີວະ</h2>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="1"></v-col>
            <v-col cols="3">
              <h2 class="a">ລັກສະນະໜວດ:</h2>
            </v-col>
            <v-col cols="7">
              <h2 class="b">{{ insect[0].mustache_style_la }}</h2>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="1"></v-col>
            <v-col cols="3">
              <h2 class="a">ລັກສະນະປີກ:</h2>
            </v-col>
            <v-col cols="7">
              <h2 class="b">{{ insect[0].wing_styla_la }}</h2>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="1"></v-col>
            <v-col cols="3">
              <h2 class="a">ລັກສະນະຂາ:</h2>
            </v-col>
            <v-col cols="7">
              <h2 class="b">{{ insect[0].leg_style_la }}</h2>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="1"></v-col>
            <v-col cols="3">
              <h2 class="a">ລັກສະນະຕາ:</h2>
            </v-col>
            <v-col cols="7">
              <h2 class="b">{{ insect[0].eyes_style_la }}</h2>
            </v-col>
          </v-row>

          <v-row>
            <v-col cols="4">
              <h2 class="c">ການໃຊ້ປະໂຫຍດ:</h2>
            </v-col>
            <v-col cols="7">
              <h2 class="b">{{ insect[0].utilization_la }}</h2>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="4">
              <h2 class="c">ອາຫານ:</h2>
            </v-col>
            <v-col cols="7">
              <h2 class="b">{{ insect[0].insect_food_la }}</h2>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="4">
              <h2 class="c">ທີ່ຢູ່ອາໄສ:</h2>
            </v-col>
            <v-col cols="7">
              <h2 class="b">{{ insect[0].habitat_la }}</h2>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="4">
              <h2 class="c">ວິທີຈັບ:</h2>
            </v-col>
            <v-col cols="7">
              <h2 class="b">{{ insect[0].trap_la }}</h2>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="4">
              <h2 class="a">ສະຖານະພາບຂອງແມງໄມ້:</h2>
            </v-col>
            <v-col cols="7">
              <h2 class="b">Active</h2>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-col>
  </v-col>
</template>

<script>
//import VueExpandableImage from 'vue-expandable-image'
export default {
  name: 'insecta-id',
  data: () => ({
    imageResize: [],
    Imagename: [],
    insect: [
      {
        activate: '',
        commonName_en: '',
        commonName_la: '',
        eyes_style_en: '',
        eyes_style_la: '',
        habitat_en: '',
        habitat_la: '',
        insect_food_en: '',
        insect_food_la: '',
        insecta_id: '',
        leg_style_en: '',
        leg_style_la: '',
        localName_en: '',
        localName_la: '',
        local_style_en: '',
        local_style_la: '',
        mouth_style_en: '',
        mouth_style_la: '',
        mustache_style_en: '',
        mustache_style_la: '',
        name_en: '',
        name_la: '',
        scientificName_en: '',
        scientificName_la: '',
        sid: '',
        stt: '',
        trap_en: '',
        trap_la: '',
        utilization_en: '',
        utilization_la: '',
        wing_styla_en: '',
        wing_styla_la: '',
      },
    ],
    itemhistory: [
      {
        d_id: '',
        date_found: '',
        dr_name_en: '',
        dr_name_la: '',
        finder_name_en: '',
        finder_name_la: '',
        gps_found: '',
        log_id: '',
        pro_id: '',
        pro_name_en: '',
        pro_name_la: '',
        sea: '',
        upload_date: '',
        v_id: '',
        v_name_en: '',
        v_name_la: '',
      },
    ],
    images: [
      { alt: 'A kitten', src: 'require(`~/_nuxt/assets/images/bgdrawer.jpg`)' },
      { alt: 'A kitten', src: 'require(`~/_nuxt/assets/images/bgdrawer.jpg`)' },
      { alt: 'A kitten', src: 'require(`~/_nuxt/assets/images/bgdrawer.jpg`)' },
      { alt: 'A kitten', src: 'require(`~/_nuxt/assets/images/bgdrawer.jpg`)' },
    ],
  }),

  methods: {
    initialize() {},

    fetch() {
      console.log('assecs')
      this.$axios
        .get(`/log/history_fond/` + this.$route.params.id)
        .then((result) => {
          this.itemhistory = result.data[0]
          console.log('home:' + JSON.stringify(result.data[0]))

          for (var i = 0; i < result.data[0].length; i++) {
            console.log('home:' + result.data[0][i].log_id)
          }
        }),
        this.$axios
          .get(`/insecta/getById/` + this.$route.params.id)
          .then((respone) => {
            this.insect = respone.data[0]
            console.log(this.insect[0])
          }),
        this.$axios
          .get(`/image/getById/` + this.$route.params.id)
          .then((result) => {
            this.Imagename = result.data
            for (var i = 0; i <= result.data.length; i++) {
              let url =
                'https://ms.mndev.com/insect/' + result.data[0][i].image
              this.imageResize.push(url)
            }
          })
    },
  },
  created() {
    this.initialize()
  },
  mounted() {
    this.fetch()
  },
}
</script>

<style scoped>
#app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  max-width: 100%;
  margin: 50px auto;
  position: relative;
}
.image {
  width: 400px;
  max-width: 100%;
}
h1.a {
  font-family: 'boonhome-400';
}

@media screen and (min-width: 300px) {
  h1.b {
    font-family: 'boonhome-400';
    font-size: 2rem;
    font-weight: bold;
    color: #2d852d;
  }
  .img-fluid {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 120px;
    height: 120px;
  }
  h2.a {
    font-family: 'boonhome-400';
    font-size: 1rem;
    font-weight: bold;
    color: #080808af;
  }
  h2.b {
    font-family: 'boonhome-400';
    font-size: 1rem;
    font-weight: lighter;
  }
  h1.c {
    font-family: 'boonhome-400';
    font-size: 1.5rem !important;
    font-weight: bold;
    color: #2d852d;
  }
  h2.c {
    font-family: 'boonhome-400';
    font-size: 1.2rem;
    font-weight: bolder;
    color: #080808;
  }
}
@media screen and (min-width: 1025px) {
  h1.b {
    font-family: 'boonhome-400';
    font-size: 4rem;
    font-weight: bold;
    color: #2d852d;
  }
  .img-fluid {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 200px;
    height: 200px;
  }
  h2.a {
    font-family: 'boonhome-400';
    font-size: 1.5rem;
    font-weight: bold;
    color: #080808af;
  }
  h2.b {
    font-family: 'boonhome-400';
    font-size: 1.5rem;
    font-weight: lighter;
    color: #080808;
  }
  h1.c {
    font-family: 'boonhome-400';
    font-size: 2.5rem !important;
    font-weight: bold;
    color: #2d852d;
  }
  h2.c {
    font-family: 'boonhome-400';
    font-size: 2rem;
    font-weight: bold;
    color: #080808;
  }
}
</style>
