<template>
  <v-navigation-drawer flat permanent>
    <v-col>
      <v-row>
        <v-breadcrumbs :items="itemsbc" divider="/"></v-breadcrumbs>
      </v-row>
      <v-row>
        <!-- <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        ></v-text-field>-->
      </v-row>
      <v-row>
        <v-treeview
          :active.sync="active"
          :items="items"
          :load-children="fetchUsers"
          activatable
          color="warning"
          open-on-click
          transition
        ></v-treeview>
      </v-row>
    </v-col>
  </v-navigation-drawer>
</template>

<script>
const avatars = [
  '?accessoriesType=Blank&avatarStyle=Circle&clotheColor=PastelGreen&clotheType=ShirtScoopNeck&eyeType=Wink&eyebrowType=UnibrowNatural&facialHairColor=Black&facialHairType=MoustacheMagnum&hairColor=Platinum&mouthType=Concerned&skinColor=Tanned&topType=Turban',
  '?accessoriesType=Sunglasses&avatarStyle=Circle&clotheColor=Gray02&clotheType=ShirtScoopNeck&eyeType=EyeRoll&eyebrowType=RaisedExcited&facialHairColor=Red&facialHairType=BeardMagestic&hairColor=Red&hatColor=White&mouthType=Twinkle&skinColor=DarkBrown&topType=LongHairBun',
  '?accessoriesType=Prescription02&avatarStyle=Circle&clotheColor=Black&clotheType=ShirtVNeck&eyeType=Surprised&eyebrowType=Angry&facialHairColor=Blonde&facialHairType=Blank&hairColor=Blonde&hatColor=PastelOrange&mouthType=Smile&skinColor=Black&topType=LongHairNotTooLong',
  '?accessoriesType=Round&avatarStyle=Circle&clotheColor=PastelOrange&clotheType=Overall&eyeType=Close&eyebrowType=AngryNatural&facialHairColor=Blonde&facialHairType=Blank&graphicType=Pizza&hairColor=Black&hatColor=PastelBlue&mouthType=Serious&skinColor=Light&topType=LongHairBigHair',
  '?accessoriesType=Kurt&avatarStyle=Circle&clotheColor=Gray01&clotheType=BlazerShirt&eyeType=Surprised&eyebrowType=Default&facialHairColor=Red&facialHairType=Blank&graphicType=Selena&hairColor=Red&hatColor=Blue02&mouthType=Twinkle&skinColor=Pale&topType=LongHairCurly',
]

const pause = (ms) => new Promise((resolve) => setTimeout(resolve, ms))
export default {
  computed: {
    items() {
      return [
        {
          name: 'Phylum',
          children: this.users,
        },
      ]
    },
    selected() {
      if (!this.active.length) return undefined

      const id = this.active[0]

      return this.users.find((user) => user.id === id)
    },
  },
  watch: {
    selected: 'randomAvatar',
  },
  
  methods: {
    async fetchUsers(item) {
      await pause(1500)
      return this.$axios
        .get(`/phylum/get`)
        .then((res) => (this.phylumItem = res.data[0]))
        .then((json) => item.children.push(...json))
        .catch((err) => console.warn(err))
    },
    randomAvatar() {
      this.avatar = avatars[Math.floor(Math.random() * avatars.length)]
    },
  },
  data: () => ({
    search: '',
    active: [],
    phylumItem: [],
    avatar: null,
    open: [],

    users: [],
    itemsbc: [
      {
        text: 'All',
        disabled: false,
        href: 'breadcrumbs_dashboard',
      },
      {
        text: 'Mollusca (1200)',
        disabled: false,
        href: 'breadcrumbs_link_1',
      },
      {
        text: 'Gastropoda (Snails)',
        disabled: true,
        href: 'breadcrumbs_link_2',
      },
    ],
    // items: [
    //   {
    //     id: 1,
    //     name: 'Class:',
    //     children: [
    //       { id: 2, name: 'Calendar : app' },
    //       { id: 3, name: 'Chrome : app' },
    //       { id: 4, name: 'Webstorm : app' },
    //     ],
    //   },
    //   {
    //     id: 5,
    //     name: 'Order:',
    //     children: [
    //       {
    //         id: 6,
    //         name: 'vuetify :',
    //         children: [
    //           {
    //             id: 7,
    //             name: 'src :',
    //             children: [
    //               { id: 8, name: 'index : ts' },
    //               { id: 9, name: 'bootstrap : ts' },
    //             ],
    //           },
    //         ],
    //       },
    //       {
    //         id: 10,
    //         name: 'material2:',
    //         children: [
    //           {
    //             id: 11,
    //             name: 'src :',
    //             children: [
    //               { id: 12, name: 'v-btn : ts' },
    //               { id: 13, name: 'v-card : ts' },
    //               { id: 14, name: 'v-window : ts' },
    //             ],
    //           },
    //         ],
    //       },
    //     ],
    //   },
    //   {
    //     id: 15,
    //     name: 'family:',
    //     children: [
    //       { id: 16, name: 'October : pdf' },
    //       { id: 17, name: 'November : pdf' },
    //       { id: 18, name: 'Tutorial : html' },
    //     ],
    //   },
    //   {
    //     id: 19,
    //     name: 'Genus:',
    //     children: [
    //       {
    //         id: 20,
    //         name: 'Tutorials :',
    //         children: [
    //           { id: 21, name: 'Basic layouts : mp4' },
    //           { id: 22, name: 'Advanced techniques : mp4' },
    //           { id: 23, name: 'All about app : dir' },
    //         ],
    //       },
    //       { id: 24, name: 'Intro : mov' },
    //       { id: 25, name: 'Conference introduction : avi' },
    //     ],
    //   },
    // ],
  }),
}
</script>
<style>
</style>