<template>
  <div>
    <v-app-bar
      v-model="appbar"
      flat
      color="white"
      scroll-target="#scrolling-techniques-4"
    >
      <img
        v-if="!this.$store.state.button"
        src="~/assets/insecta.jpeg"
        class="img-fluid2 mt-3 ml-4"
      />
      <div class="mt-4" v-if="this.$store.state.button">
        <v-list-item>
          <v-list-item-avatar class="align-self-center">
            <img src="~/assets/bgpic/usericon.jpg" />
          </v-list-item-avatar>
          <a @click="openDialog">
            <v-list-item-content>
              <v-list-item-title
                style="color: #616161; font-weight: bold"
                class="display"
                v-text="fullname"
              />
              <v-list-item-title
                style="color: #2d852d; font-weight: normal"
                class="display"
                v-text="profile.email"
              />
            </v-list-item-content>
            <v-divider style="border-color: #2d852d !important" class="mb-2" />
          </a>
        </v-list-item>
      </div>

      <v-tabs class="hidden-sm-and-down" slider-color="green" centered>
        <v-tab @click="$router.push('/')">ໜ້າຫຼັກ</v-tab>
        <v-tab
          @click="$router.push('/download')"
          v-if="this.$store.state.button"
          >ດາວໂຫລດ</v-tab
        >
        <v-tab @click="$router.push('/about1')">ກ່ຽວກັບເຮົາ</v-tab>
      </v-tabs>

      <v-btn
        class="hidden-sm-and-down"
        v-if="!this.$store.state.button"
        @click="$router.push('/login')"
        color="#2D852D"
        rounded
        dark
        >Login</v-btn
      >
      <v-btn
        class="hidden-sm-and-down"
        v-if="this.$store.state.button"
        @click="userlogout"
        color="red"
        rounded
        dark
        >logout</v-btn
      >
      <v-spacer></v-spacer>
      <v-app-bar-nav-icon
        class="hidden-md-and-up flex-row-revers"
        @click="check"
      ></v-app-bar-nav-icon>
      <v-dialog v-model="dialog" max-width="1200px">
        <v-card>
          <v-card-title class="bg-title">
            <span
              class="headline"
              style="
                font-family: 'boonhome-400' !important;
                font-weight: bold;
                font-size: 30px;
                margin-left: 10px;
              "
              >ສະໝັກເປັນນັກຄົ້ນຄວ້າ</span
            >
          </v-card-title>
          <v-card-text>
            <v-form ref="form" v-model="valid" lazy-validation>
              <v-container style="margin-top: 10px">
                <v-col>
                  <v-col cols="12">
                    <div class="mb-5">
                      <v-select
                        v-model="register.edu_id"
                        dense
                        solo
                        :items="edu"
                        label="ເລືອກລະດັບການສຶກສາ"
                        item-text="edu_name_en"
                        item-value="edu_id"
                        :rules="[(v) => !!v || 'Item is required']"
                        item-color="green"
                        style="font-weight: bold; font-family: 'boonhome-400'"
                      >
                        <template v-slot:item="data">
                          <template>
                            <v-list-item-content>
                              <v-list-item-title
                                v-html="data.item.edu_name_la"
                              ></v-list-item-title>
                              <v-list-item-subtitle
                                v-html="data.item.edu_name_en"
                              ></v-list-item-subtitle>
                            </v-list-item-content>
                          </template>
                        </template>
                      </v-select>
                    </div>

                    <div class="mb-3">
                      <v-select
                        v-model="register.n_id"
                        dense
                        solo
                        :rules="[(v) => !!v || 'Item is required']"
                        :items="nation"
                        label="ເລືອກສັນຊາດ"
                        item-text="n_name_en"
                        item-value="n_id"
                        item-color="green"
                        style="font-weight: bold; font-family: 'boonhome-400'"
                      >
                        <template v-slot:item="data">
                          <template>
                            <v-list-item-content>
                              <v-list-item-title
                                v-html="data.item.n_name_la"
                              ></v-list-item-title>
                              <v-list-item-subtitle
                                v-html="data.item.n_name_en"
                              ></v-list-item-subtitle>
                            </v-list-item-content>
                          </template>
                        </template>
                      </v-select>
                    </div>
                    <v-row>
                      <v-col>
                        <v-text-field
                          v-model="register.institute_la"
                          label="ສະຖາບັນພາສາລາວ"
                          name="username"
                          type="text"
                          color="teal accent-3"
                          filled
                          rounded
                          dense
                          class="txt"
                        ></v-text-field>
                      </v-col>
                      <v-col>
                        <v-text-field
                          v-model="register.institute_en"
                          label="ສະຖາບັນພາສາອັງກິດ"
                          name="username"
                          type="text"
                          color="teal accent-3"
                          filled
                          :rules="[rules.required]"
                          rounded
                          dense
                          class="txt"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col>
                        <v-text-field
                          v-model="register.researcher_la"
                          label="ຊ່ຽວຊານດ້ານ LA"
                          name="username"
                          type="text"
                          color="teal accent-3"
                          filled
                          rounded
                          dense
                          class="txt"
                        ></v-text-field>
                      </v-col>
                      <v-col>
                        <v-text-field
                          v-model="register.researcher_en"
                          label="ຊ່ຽວຊານດ້ານ EN"
                          name="username"
                          type="text"
                          color="teal accent-3"
                          filled
                          :rules="[rules.required]"
                          rounded
                          dense
                          class="txt"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-divider></v-divider>
                  <v-row justify="center">
                    <div style="margin-top: 10px">
                      <v-btn
                        x-large
                        :disabled="!valid"
                        @click="registerResearch()"
                        depressed
                        color="success"
                        class="bt"
                        >save</v-btn
                      >
                      <v-btn
                        x-large
                        @click="close()"
                        color="grey"
                        depressed
                        class="bt"
                        >close</v-btn
                      >
                    </div>
                  </v-row>
                </v-col>
              </v-container>
            </v-form>
          </v-card-text>
          <v-card-actions></v-card-actions>
        </v-card>
      </v-dialog>
      <mydialog :mydialog="detail" />
      <v-snackbar v-model="snackbar">
        {{ text }}
        <template v-slot:action="{ attrs }">
          <v-btn color="red" text v-bind="attrs" @click="snackbar = false"
            >Close</v-btn
          >
        </template>
      </v-snackbar>
    </v-app-bar>

    <v-navigation-drawer
      v-model="drawer"
      bottom
      color="transparent"
      fixed
      height="auto"
      overlay-color="grey darken-1"
      overlay-opacity=".8"
      temporary
    >
      <v-list color="yellow lighten-5" class="rounded-lg" shaped>
        <v-list-item to="/">
          <v-list-item-action>
            <v-icon>mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class="a">ໜ້າຫຼັກ</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item to="/download" v-if="this.$store.state.button">
          <v-list-item-action>
            <v-icon>mdi-chart-areaspline</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class="a">ດາວໂຫລດ</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item to="/about1">
          <v-list-item-action>
            <v-icon>mdi-information-outline</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class="a">ກ່ຽວກັບເຮົາ</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <template>
          <v-divider />
          <v-list-item to="/login" v-if="!this.$store.state.button">
            <v-list-item-action>
              <v-icon>mdi-login</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title class="a">ເຂົ້າສູ່ລະບົບ</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
        <template>
          <v-divider />
          <v-list-item @click="userlogout" v-if="this.$store.state.button">
            <v-list-item-action>
              <v-icon>mdi-arrow-left-bold-hexagon-outline</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title class="a">Logout</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>
<script>
import mydialog from '../mydialog.vue'

//class="d-flex justify-center mb-6"
export default {
  components: { mydialog },
  data() {
    return {
      drawer: false,
      text: '',
      snackbar: false,
      search: '',
      role: [],
      edu: [],
      nation: [],
      dialog: false,
      profile: {
        title: 'Phanousone',
        email: 'are you researcher?',
      },
      test: '',
      register: {
        edu_id: '',
        n_id: '',
        institute_la: '',
        institute_en: '',
        researcher_la: '',
        researcher_en: '',
      },
      detail: {
        stt: '',
        color: '',
        Head: '',
        Text: '',
        icon: '',
      },
      items: [
        {
          title: 'ໜ້າຫຼັກ',
          to: '/',
          stt: true,
        },
        {
          title: 'ດາວໂຫລດ',
          to: '/download',
          stt: false,
        },
        {
          title: 'ກ່ຽວກັບເຮົາ',
          to: '/about1',
          stt: true,
        },
      ],
      route: [],
      valid: true,

      rules: {
        required: (value) => !!value || 'Required.',
      },
    }
  },
  watch: {
    dialog(val) {
      val || this.close()
    },
  },
  methods: {
    check() {
      this.drawer = !this.drawer
    },
    registerResearch() {
      this.$axios
        .post('/userinfor/post-userinfor', {
          uid: this.$nuxt.$auth.user.uid.toString(),
          role_id: '2',
          edu_id: this.register.edu_id.toString(),
          n_id: this.register.n_id.toString(),
          institute_la: this.register.institute_la,
          institute_en: this.register.institute_en,
          researcher_la: this.register.researcher_la,
          researcher_en: this.register.researcher_en,
        })
        .then((response) => {
          console.log(response)
          if (response.status === 201) {
            this.$axios
              .post('/sendEmail/sendtoadmin', {
                email: this.$nuxt.$auth.user.email,
              })
              .then((response) => {
                if (response.status === 200) {
                  this.detail = {
                    stt: true,
                    color: 'teal',
                    Head: 'ສະຫມັກສຳເລັດ',
                    Text: ' ກະລຸນາລໍຖ້າອີເມວຕອບຮັບການຢືນຢັນຈະສົ່ງໄປໃນເມວທ່ານຫຼັງຈາກກວດສອບແລ້ວ',
                    icon: 'mdi-checkbox-marked-circle-outline',
                  }
                  this.dialog = false
                } else if (response.status === 202) {
                  this.detail = {
                    stt: true,
                    color: 'teal',
                    Head: 'ສະຫມັກສຳເລັດ',
                    Text: 'ທ່ານໄດ້ສະຫມັກແລ້ວກະລຸນາລໍຖ້າການຢືນຢັນໃນອີເມວ, ຂໍຂອບໃຈ',
                    icon: 'mdi-checkbox-marked-circle-outline',
                  }

                  this.dialog = false
                }
              })
          } else if (response.status === 402) {
            this.detail = {
              stt: true,
              color: 'red',
              Head: 'ສະໝັກບໍ່ສຳເລັດ',
              Text: 'ອີເມວນີ້ໄດ້ສະຫມັກເປັນນັກຄົ້ນຄວ້າແລ້ວ ກະລູນາລໍຖ້າອະນຸມັດຈະຖຶກແຈ້ງໃນອີເມວຂອງທ່ານ',
              icon: 'mdi-close-circle-outline',
            }
          }
        })
        .catch(function (error) {
          console.log(error)
        })
    },
    fetch() {
      this.$axios.get(`/role/get`).then((result) => {
        this.role = result.data[0]
      })
      this.$axios.get(`/nationality/get`).then((result) => {
        this.nation = result.data[0]
      })
      this.$axios.get(`/education/get`).then((result) => {
        this.edu = result.data[0]
      })
      if (this.$nuxt.$auth.loggedIn == true) {
        if (this.$nuxt.$auth.$state.user.role == 'user') {
          const handledata = (list, prop) => {
            //change some string in object but use old object
            return list.map((item) => {
              const obj = Object.assign({}, item)

              obj[prop] = true
              return this.route.push(obj)
            })
          }
          handledata(this.items, 'stt')
          this.items = this.route
        }
      }
    },
    close() {
      this.dialog = false
    },
    openDialog() {
      this.dialog = true
    },
    async userlogout() {
      this.$store.commit('set_button', false),
        this.$auth.$storage.setLocalStorage('_role', 'member')
      this.name = ''
      this.$store.commit('set_fullname', '')
      await this.$auth.logout()
      this.$router.push('/')
    },
    async fullnamefetch() {
      if (this.$nuxt.$auth.user.fullname == '') {
        return this.name
      } else {
        return await (this.name = this.$nuxt.$auth.user.fullname)
      }
    },
  },
  computed: {
    appbar: {
      get() {
        return this.$store.state.appbar
      },
      set(val) {
        this.$store.commit('set_appbar', val)
      },
    },
    fullname: {
      get() {
        return this.$store.state.fullname
      },
      set(val) {
        this.$store.commit('set_fullname', val)
      },
    },
  },
  mounted() {
    this.fetch()
  },
}
</script>
<style scoped>
.a {
  font-family: 'boonhome-400';
  font-weight: bold;
}
.v-tab {
  font-family: 'boonhome-400';
  font-size: 1rem;
  font-weight: bold;
}
.v-list-item-title {
  font-family: 'boonhome-400';
  font-size: 1rem;
  font-weight: bold;
}
@media screen and (min-width: 300px) {
  .img-fluid2 {
    width: 100px;
    height: 40px;
  }
}
@media screen and (min-width: 1025px) {
  .img-fluid2 {
    width: 120px;
    height: 50px;
  }
}
</style>
