<template>
  <v-app>
    <v-main >
      <!-- main -->
      <appbar></appbar>

      <main-appbar />
      <v-container fluid>
        <nuxt />
      </v-container>
      <!-- <drawer v-if="!$store.state.isLogged" /> -->
      <!-- khao pai nai manage -->
      <drawer-test />
    </v-main>
  </v-app>
</template>

<script>
import Appbar from '../components/Layout/appbar.vue'
import DrawerTest from '../components/Layout/drawer-test.vue'

import MainAppbar from '../components/Main-layout/main-appbar.vue'
import MainDrawer from '../components/Main-layout/main-drawer.vue'
import MainFooter from '../components/Main-layout/main-footer.vue'

export default {
  components: {
    Appbar,
    MainAppbar,
    MainDrawer,
    MainFooter,
    DrawerTest,
  },
  loading: {
    color: 'blue',
    height: '5px',
  },

  data() {
    return {
      clipped: true,
      drawer: true,
      fixed: true,
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Vuetify.js',
    }
  },
}
</script>
<style>
</style>
