/* font converted using font-converter.net. thank you! */

  html {
      font-family: "boonhome-400";
  }
  .title-header{
    font-family: "boonhome-400";
    font-weight: bold;
    font-size:40px;
    color: #ffff;
  }
  td {
    font-family: 'boonhome-400';
    font-weight: normal;
    font-size: 17px !important;
  }

  .bg-title {
    background-color: #4caf50;
    color: white;
  }
  .bt {
    font-family: "boonhome-400";
    font-size: 18px;
  }
@font-face {
  font-family: "boonhome-400";
  src: url("~assets/fonts/boonhome-400.eot"); /* IE9 Compat Modes */
  src: url("~assets/fonts/boonhome-400.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("~assets/fonts/boonhome-400.otf") format("opentype"), /* Open Type Font */
    url("~assets/fonts/boonhome-400.svg") format("svg"), /* Legacy iOS */
    url("~assets/fonts/boonhome-400.ttf") format("truetype"), /* Safari, Android, iOS */
    url("~assets/fonts/boonhome-400.woff") format("woff"), /* Modern Browsers */
    url("~assets/fonts/boonhome-400.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}