<template>
  <v-row justify="center">
    <v-col cols="12" sm="8" md="10" xs="12">
      <v-col>
        <v-row justify="center">
          <h1 class="b text-center">
            Online Insects information management system for Faculty of
            Agriculture
          </h1>
        </v-row>
        <v-row justify="center">
          <v-col md="1">
            <v-divider color="primary"></v-divider>
          </v-col>
        </v-row>
        <v-row justify="center">
          <h1 class="a">ຈຸດປະສົງ</h1>
        </v-row>
        <v-row justify="center">
          <v-col md="1">
            <v-divider color="primary"></v-divider>
          </v-col>
        </v-row>
        <v-row justify="center">
          <h1 class="a text-center">
            ເພື່ອພັດທະນາລະບົບຈັດການຂໍ້ມູນແມງໄມ້ຂອງຄະນະກະເສດສາດແບບອອນໄລ.
          </h1>
          <h1 class="a">
            ເພື່ອສະດວກຕໍ່ການນຳເອົາຂໍ້ມູນໄປປະກອບໃຊ້ໃນບົດລາຍງານ ຫຼື ບົດວິໄຈຕ່າງໆ.
          </h1>
        </v-row>
        <v-divider class="my-4" color="green"></v-divider>
        <v-row justify="center">
          <h1 class="a">ຜູ້ສະໜັບສະໜູນ</h1>
        </v-row>
        <v-row justify="center">
          <v-col md="1">
            <v-divider color="primary"></v-divider>
          </v-col>
        </v-row>

        <v-row class="my-5" justify="center">
          <!-- <v-col md="3"></v-col> -->
          <v-col>
            <v-row>
              <v-col cols="12" md="4">
                <v-row justify="center">
                  <img class="img-fluid1" src="~/assets/bgpic/logoFAG.png" />
                </v-row>
                <v-row justify="center" class="my-4">
                  <h2 class="b text-center">ຄະນະກະເສດສາດ</h2>
                </v-row>
                <v-row class="mb-4" justify="center">
                  <h2 class="c text-center">
                    ຄະນະກະເສດສາດເປັນສະຖາບັນການສຶກສາຊັ້ນສູງທາງດ້ານກະສິກຳທີ່ນຳໜ້າຢູ່ສປປລາວໃກ້ຄຽງກັບລະດັບພາກພື້ນແລະສາກົນ.
                    ສ້າງນັກວິຊາການທີ່ມີຄວາມຮູ້, ຄວາມສາມາດ, ຄຸນສົມບັດ, ຈັນຍາບັນ,
                    ແລະມີຄວາມສີວິໄລທາງດ້ານແນວຄິດແລະພຶດຕິກຳ.
                    ສົ່ງເສີມແລະພັດທະນາການຄົ້ນຄວ້າວິທະຍາສາດສາຂາກະສິກຳໃຫ້ມີຄຸນນະພາບໃກ້ຄຽງລະດັບພາກພື້ນ
                    ພັດທະນະຄະນະວິຊາໃຫ້ກາຍເປັນສະຖານທີ່ສະຫງົບ, ສະອາດ, ສີຂຽວ,
                    ແລະມີສິ່ງອຳນວຍຄວາມສະດວກໃນການສິດສອນທັນສະໃໝ
                  </h2>
                </v-row>
                <v-row justify="center">
                  <v-btn
                    onclick="location.href = 'http://nuol.edu.la/index.php/%E0%BA%84%E0%BA%B0%E0%BA%99%E0%BA%B0%E0%BA%A7%E0%BA%B4%E0%BA%8A%E0%BA%B2/2020-12-01-04-27-39';"
                    color="#2D852D"
                    rounded
                    dark
                    >read more</v-btn
                  >
                </v-row>
              </v-col>

              <v-col cols="12" md="4">
                <v-row justify="center">
                  <img
                    class="img-fluid1"
                    style="padding: 20px"
                    src="~/assets/bgpic/ird.png"
                  />
                </v-row>

                <v-row justify="center" class="my-4">
                  <h2 class="b text-center">
                    Institut de Recherche pour le Développement
                  </h2>
                </v-row>
                <v-row class="mb-4" justify="center">
                  <h2 class="c text-center">
                    IRD relies on its network of french regional delegations and
                    representatives abroad to organise its collaborations. We
                    are able to work together with our partners in France and in
                    developing countries, bridging barriers between different
                    disciplines and between fundamental and applied sciences and
                    bringing new ideas.
                  </h2>
                </v-row>
                <v-row justify="center">
                  <v-btn
                    onclick="location.href = 'https://en.ird.fr/';"
                    color="#2D852D"
                    rounded
                    dark
                    >read more</v-btn
                  >
                </v-row>
              </v-col>
            </v-row>
          </v-col>
          <!-- <v-col cols="12" md="3"></v-col> -->
        </v-row>

        <v-divider color="green"></v-divider>
      </v-col>
    </v-col>
  </v-row>
</template>

<script>
export default {
  data: () => ({}),
  async fetch() {
    if (this.$nuxt.$auth.$state.user) {
      if (this.$nuxt.$auth.$state.user.role === 'user') {
        this.$store.commit('set_appbar', true)
        this.$store.commit('set_button', true)
        this.$store.commit('set_fullname', this.$nuxt.$auth.user.fullname)
      }
    }
  },
}
</script>

<style scoped>
@media screen and (min-width: 300px) {
  h1.b {
    font-family: 'boonhome-400';
    font-size: 2rem;
    font-weight: bold;
    color: #2d852d;
  }
  h2.b {
    font-family: 'boonhome-400';
    font-size: 1.5rem;
    font-weight: bold;
    color: #2d852d;
  }
  h2.c {
    font-family: 'boonhome-400';
    font-size: 1rem;
    font-weight: bold;
    color: #3a3a3a;
  }
  h1.a {
    font-family: 'boonhome-400';
    font-size: 1.5rem;
    font-weight: bold;
    color: #3b3b3b;
  }
  .rounded-image {
    border-radius: 100px;
  }
  .img-fluid1 {
    height: 200px;
  }
}
@media screen and (min-width: 1025px) {
  h1.b {
    font-family: 'boonhome-400';
    font-size: 3rem;
    font-weight: bold;
    color: #2d852d;
  }
  h2.b {
    font-family: 'boonhome-400';
    font-size: 1.5rem;
    font-weight: bold;
    color: #2d852d;
  }
  h2.c {
    font-family: 'boonhome-400';
    font-size: 1.2rem;
    font-weight: bold;
    color: #3a3a3a;
  }
  h1.a {
    font-family: 'boonhome-400';
    font-size: 2rem;
    font-weight: bold;
    color: #3b3b3b;
  }
  .rounded-image {
    border-radius: 100px;
  }
  .img-fluid1 {
    height: 300px;
  }
}
</style>
