<template>
  <div>
    <v-card class="mx-auto mt-5" max-width="1500" elevation="13">
      <v-col>
        <v-row justify="center">
          <h1 class="b text-center">ສະຖິຕິການຄົ້ນພົບທັງຫມົດໃນແຕ່ລະປີ</h1>
        </v-row>
        <v-row justify="center">
          <client-only>
            <apexcharts
              width="500px"
              :options="options"
              :series="options.series"
            />
          </client-only>
        </v-row>
      </v-col>
    </v-card>
    <v-card class="mt-5 mx-auto" max-width="1500" elevation="13">
      <v-row class="my-2" justify="center">
        <v-row justify="center">
          <h1 class="b text-center">ດາວໂຫລດຂໍ້ມູນແມງໄມ້</h1>
        </v-row>
        <v-row class="mx-5">
          <v-col cols="6" sm="6" md="4" xs="6">
            <v-select
              v-model="kid"
              :items="KingdomItem"
              dense
              solo
              label="kingdom"
              item-text="name_en"
              item-value="name_en"
              item-color="green"
              style="font-weight: bold; font-family: 'boonhome-400'"
            >
              <template v-slot:item="data">
                <template>
                  <v-list-item-content>
                    <v-list-item-title
                      v-html="data.item.name_en"
                    ></v-list-item-title>
                  </v-list-item-content>
                </template>
              </template>
            </v-select>
          </v-col>
          <v-col cols="6" sm="6" md="4" xs="6">
            <v-select
              v-model="pid"
              :items="filteredDataPhyrum"
              dense
              solo
              label="phylum"
              item-text="p_name_en"
              item-value="p_name_en"
              item-color="green"
              style="font-weight: bold; font-family: 'boonhome-400'"
              @change="hanadlePhylum"
            >
              <template v-slot:item="data">
                <template>
                  <v-list-item-content>
                    <v-list-item-title
                      v-html="'phylum: ' + data.item.p_name_en"
                    ></v-list-item-title>
                    <v-list-item-subtitle
                      v-html="'kingdom: ' + data.item.k_name_en"
                    ></v-list-item-subtitle>
                  </v-list-item-content>
                </template>
              </template>
            </v-select>
          </v-col>
          <v-col cols="6" sm="6" md="4" xs="6">
            <v-select
              v-model="cid"
              dense
              solo
              :items="filterClass"
              label="class"
              item-text="c_name_en"
              item-value="c_name_en"
              item-color="green"
              style="font-weight: bold; font-family: 'boonhome-400'"
              @change="handleClass"
            >
              <template v-slot:item="data">
                <template>
                  <v-list-item-content>
                    <v-list-item-title
                      v-html="'Class: ' + data.item.c_name_en"
                    ></v-list-item-title>
                    <v-list-item-subtitle
                      v-html="'Phylum: ' + data.item.p_name_en"
                    ></v-list-item-subtitle>
                  </v-list-item-content>
                </template>
              </template>
            </v-select>
          </v-col>
          <v-col cols="6" sm="6" md="4" xs="6">
            <v-select
              v-model="oid"
              dense
              solo
              :items="filterOrder"
              label="order"
              item-text="o_name_en"
              item-value="o_name_en"
              item-color="green"
              style="font-weight: bold; font-family: 'boonhome-400'"
              @change="handleorder"
            >
              <template v-slot:item="data">
                <template>
                  <v-list-item-content>
                    <v-list-item-title
                      v-html="'Order: ' + data.item.o_name_en"
                    ></v-list-item-title>
                    <v-list-item-subtitle
                      v-html="'Class: ' + data.item.c_name_en"
                    ></v-list-item-subtitle>
                  </v-list-item-content>
                </template>
              </template>
            </v-select>
          </v-col>
          <v-col cols="6" sm="6" md="4" xs="6">
            <v-select
              v-model="fid"
              dense
              solo
              :items="filterFamily"
              label="family"
              item-text="f_name_en"
              item-value="f_name_en"
              item-color="green"
              style="font-weight: bold; font-family: 'boonhome-400'"
              @change="handlefamily"
            >
              <template v-slot:item="data">
                <template>
                  <v-list-item-content>
                    <v-list-item-title
                      v-html="'family: ' + data.item.f_name_en"
                    ></v-list-item-title>
                    <v-list-item-subtitle
                      v-html="'Order: ' + data.item.o_name_en"
                    ></v-list-item-subtitle>
                  </v-list-item-content>
                </template>
              </template>
            </v-select>
          </v-col>
          <v-col cols="6" sm="6" md="4" xs="6">
            <v-select
              v-model="gid"
              dense
              solo
              :items="filterGenus"
              label="genus"
              item-text="g_name_en"
              item-value="g_name_en"
              item-color="green"
              style="font-weight: bold; font-family: 'boonhome-400'"
              @change="handlegenus"
            >
              <template v-slot:item="data">
                <template>
                  <v-list-item-content>
                    <v-list-item-title
                      v-html="'Genus: ' + data.item.g_name_en"
                    ></v-list-item-title>
                    <v-list-item-subtitle
                      v-html="'Family: ' + data.item.f_name_en"
                    ></v-list-item-subtitle>
                  </v-list-item-content>
                </template>
              </template>
            </v-select>
          </v-col>
          <v-col cols="6" sm="6" md="4" xs="6">
            <v-select
              v-model="species"
              dense
              solo
              :items="filterSpecies"
              label="species"
              item-text="s_name_en"
              item-value="s_name_en"
              item-color="green"
              style="font-weight: bold; font-family: 'boonhome-400'"
              @change="handlespecies"
            >
              <template v-slot:item="data">
                <template>
                  <v-list-item-content>
                    <v-list-item-title
                      v-html="'species: ' + data.item.s_name_en"
                    ></v-list-item-title>
                    <v-list-item-subtitle
                      v-html="'Genus: ' + data.item.g_name_en"
                    ></v-list-item-subtitle>
                  </v-list-item-content>
                </template>
              </template>
            </v-select>
          </v-col>
        </v-row>

        <v-data-table
          :search="search"
          :headers="headers"
          :items="data_insect"
          class="elevation-1"
        >
          <template v-slot:top>
            <v-toolbar color="teal ">
              <v-toolbar-title class="title-header"
                >ຂໍ້ມູນແມງໄມ້</v-toolbar-title
              >
              <v-divider
                vertical
                style="
                  margin-left: 10px;
                  margin-right: 10px;
                  background-color: white;
                "
              ></v-divider>
              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Search"
                single-line
                hide-details
                filled
                style="background-color: white"
              ></v-text-field>
              <v-spacer></v-spacer>
              <JsonCSV :data="data_insect">
                <v-btn class="ml-4 rounded-lg a" color="green lighten-2" dark
                  >ດາວໂຫລດ</v-btn
                >
              </JsonCSV>
            </v-toolbar>
          </template>

          <template v-slot:item="{ item }">
            <tr>
              <td>{{ item.insecta_id }}</td>
              <td>
                <div>{{ item.kingdom_name_en }}</div>
                <div>{{ item.kingdom_name_la }}</div>
              </td>
              <td>
                <div>{{ item.phylum_name_en }}</div>
                <div>{{ item.phylum_name_la }}</div>
              </td>
              <td>
                <div>{{ item.class_name_en }}</div>
                <div>{{ item.class_name_la }}</div>
              </td>
              <td>
                <div>{{ item.order_name_en }}</div>
                <div>{{ item.order_name_la }}</div>
              </td>
              <td>
                <div>{{ item.family_name_en }}</div>
                <div>{{ item.family_name_la }}</div>
              </td>
              <td>
                <div>{{ item.genus_name_en }}</div>
                <div>{{ item.genus_name_la }}</div>
              </td>
              <td>
                <div>{{ item.species_name_en }}</div>
                <div>{{ item.species_name_la }}</div>
              </td>
              <td>
                <div>{{ item.name_en }}</div>
                <div>{{ item.name_la }}</div>
              </td>
              <td>
                <div>{{ item.scientificName_en }}</div>
                <div>{{ item.scientificName_la }}</div>
              </td>
            </tr>
          </template>
        </v-data-table>
      </v-row>
    </v-card>
  </div>
</template>

<script>
import JsonCSV from 'vue-json-csv'
export default {
  components: {
    JsonCSV,
  },
  data: () => ({
    search: '',
    headers: [
      {
        text: 'ID',
        align: 'start',
        sortable: true,
        value: 'insecta_id',
      },
      { text: 'kingdom Name', value: 'kingdom_name_en', align: 'start' },
      { text: 'kingdom', value: 'kingdom_name_la', align: ' d-none' },
      { text: 'Phylum  Name', value: 'phylum_name_en', align: 'start' },
      { text: 'Phylum', value: 'phylum_name_la', align: ' d-none' },
      { text: 'Class  Name', value: 'class_name_en', align: 'start' },
      { text: 'Class', value: 'class_name_la', align: ' d-none' },
      { text: 'Order  Name', value: 'order_name_en', align: 'start' },
      { text: 'Order', value: 'o_namorder_name_lae_la', align: ' d-none' },
      { text: 'Family  Name', value: 'family_name_en', align: 'start' },
      { text: 'Family', value: 'family_name_la', align: ' d-none' },
      { text: 'Genus  Name', value: 'genus_name_en', align: 'start' },
      { text: 'Genus', value: 'genus_name_la  ', align: ' d-none' },
      { text: 'Species  Name', value: 'species_name_en', align: 'start' },
      { text: 'Species', value: 'species_name_la', align: ' d-none' },
      { text: 'name_general', value: 'name_en', align: 'start' },
      { text: 'name_general', value: 'name_la', align: ' d-none' },
      { text: 'science_name', value: 'scientificName_en', align: 'start' },
      { text: 'science_name', value: 'scientificName_la', align: ' d-none' },
    ],
    KingdomItem: [],
    phylumItem: [],
    classItem: [],
    orderItem: [],
    familyItem: [],
    genusItem: [],
    speciesItem: [],
    desserts: [],
    data_download_project: [],
    kid: '',
    pid: '',
    cid: '',
    oid: '',
    fid: '',
    gid: '',
    species: '',
    valid: true,
    data_insect: [],
    rules: {
      required: (value) => !!value || 'Required.',
    },
    editedItem: {
      edu_id: '',
      edu_name_la: '',
      edu_name_en: '',
    },
    // options: {
    //   chart: {
    //     width:500,
    //     height: 500,
    //     type: 'bar',
    //   },
    //   plotOptions: {
    //     bar: {
    //       horizontal: true,
    //     },
    //   },
    //   dataLabels: {
    //     enabled: false,
    //   },
    //   stroke: {
    //     width: 1,
    //     colors: ['#fff'],
    //   },
    //   series: [
    //     {
    //       name: 'series-1',
    //       data: [],
    //     },
    //   ],
    //   xaxis: {
    //     categories: [],
    //   },
    //   legend: {
    //     position: 'right',
    //     verticalAlign: 'top',
    //     containerMargin: {
    //       left: 35,
    //       right: 60,
    //     },
    //   },
    //   responsive: [
    //     {
    //       breakpoint: 1000,
    //       options: {
    //         plotOptions: {
    //           bar: {
    //             horizontal: false,
    //           },
    //         },
    //         legend: {
    //           position: 'bottom',
    //         },
    //       },
    //     },
    //   ],
    // },
    options: {
      plotOptions: {
        pie: {
          donut: {
            size: '65%',
          },
        },
      },

      chart: {
        type: 'donut',
      },

      series: [],
      labels: [],
    },
  }),
  middleware: 'auth-admin',

  async fetch() {
    if (this.$nuxt.$auth.$state.user.role === 'user') {
      this.$store.commit('set_appbar', true)
      this.$store.commit('set_button', true)
      this.$store.commit('set_fullname', this.$nuxt.$auth.user.fullname)
    }
  },
  computed: {
    // formTitle() {
    //   return this.isEdit === true ? 'ແກ້ໄຂຂໍ້ມູນ' : 'ບັນທຶກ'
    // },

    filteredDataPhyrum() {
      console.log(this.kid)
      return this.phylumItem.filter((item) =>
        `${item.k_name_en}`.includes(this.kid)
      )
    },
    filterClass() {
      return this.classItem.filter((item) =>
        `${item.p_name_en}`.includes(this.pid)
      )
    },
    filterOrder() {
      return this.orderItem.filter((item) =>
        `${item.c_name_en}`.includes(this.cid)
      )
    },
    filterFamily() {
      return this.familyItem.filter((item) =>
        `${item.o_name_en}`.includes(this.oid)
      )
    },
    filterGenus() {
      return this.genusItem.filter((item) =>
        `${item.f_name_en}`.includes(this.fid)
      )
    },
    filterSpecies() {
      return this.speciesItem.filter((item) =>
        `${item.g_name_en}`.includes(this.gid)
      )
    },
  },
  methods: {
    initialize() {},
    hanadlePhylum() {
      this.data_insect = this.desserts.filter((item) =>
        `${item.phylum_name_en}`.includes(this.pid)
      )
    },
    handleClass() {
      this.data_insect = this.desserts.filter((item) =>
        `${item.class_name_en}`.includes(this.cid)
      )
    },
    handleorder() {
      this.data_insect = this.desserts.filter((item) =>
        `${item.order_name_en}`.includes(this.oid)
      )
    },
    handlefamily() {
      this.data_insect = this.desserts.filter((item) =>
        `${item.family_name_en}`.includes(this.fid)
      )
    },
    handlegenus() {
      this.data_insect = this.desserts.filter((item) =>
        `${item.genus_name_en}`.includes(this.gid)
      )
    },
    handlespecies() {
      this.data_insect = this.desserts.filter((item) =>
        `${item.species_name_en}`.includes(this.sid)
      )
    },
    fetch() {
      this.$axios
        .get(`/report_and_statistics/statistics_found`)
        .then((result) => {
          for (var i = 0; i < result.data[0].length; i++) {
            this.options.labels.push(result.data[0][i].years.toString())
            this.options.series.push(result.data[0][i].total)
            // this.options.xaxis.categories.push(
            //   result.data[0][i].years.toString()
            // )
            // this.options.series[0].data.push(result.data[0][i].total)
          }
          console.log('series' + this.options.series[0])
        })
      this.$axios
        .get(`/report_and_statistics/statistics_insecta`)
        .then((result1) => {
          this.desserts = result1.data[0]
          this.data_insect = result1.data[0]
        })
      this.$axios.get(`/kingdom/get`).then((result) => {
        this.KingdomItem = result.data[0]
      }),
        this.$axios.get(`/phylum/get`).then((result) => {
          this.phylumItem = result.data[0]
          console.log(this.phylumItem)
        }),
        this.$axios.get(`/class/get`).then((result) => {
          this.classItem = result.data[0]
        }),
        this.$axios.get(`/order/get`).then((result) => {
          this.orderItem = result.data[0]
        }),
        this.$axios.get(`/family/get`).then((result) => {
          this.familyItem = result.data[0]
        }),
        this.$axios.get(`/genus/get`).then((result) => {
          this.genusItem = result.data[0]
        }),
        this.$axios.get(`/species/get`).then((result) => {
          this.speciesItem = result.data[0]
        })
    },
  },
  created() {
    this.initialize()
  },
  mounted() {
    this.fetch()
  },
}
</script>

<style scoped>
h1.title {
  font-family: 'boonhome-400' !important;
  font-size: 1rem !important;
  font-weight: normal;
  text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: #2525258a;
}

.a {
  font-family: 'boonhome-400';
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
/* .img-fluid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 120px;
  height: 120px;
} */
.titleimage {
  font-family: 'boonhome-400';
  font-weight: bold;
  font-size: 20px !important;
}
@media screen and (min-width: 300px) {
  h1.b {
    font-family: 'boonhome-400';
    font-size: 2rem;
    font-weight: bold;
    color: #2d852d;
  }
  .img-fluid {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 120px;
    height: 120px;
  }
}
@media screen and (min-width: 1025px) {
  h1.b {
    font-family: 'boonhome-400';
    font-size: 4rem;
    font-weight: bold;
    color: #2d852d;
  }
  .img-fluid {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 200px;
    height: 200px;
  }
}
</style>