<template>
  <v-col>
    <v-col>
      <v-row justify="center">
        <v-col cols="12" sm="8" md="10" xs="12">
          <h1 class="b text-center">
            Online Insects information management system for Faculty of
            Agriculture
          </h1>
        </v-col>
      </v-row>
      <!-- search -->
    </v-col>

    <v-col>
      <v-row justify="center">
        <v-col lg="4" md="6" sm="6" xs="10">
          <v-row>
            <v-col>
              <v-row>
                <v-autocomplete
                  dense
                  filled
                  rounded
                  v-model="search"
                  :items="insectainfo"
                  color="blue-grey lighten-2"
                  label="ຄົ້ນຫາ"
                  item-text="scientificName_en"
                  item-value="insecta_id"
                  style="font-family: 'boonhome-400' !important"
                >
                  <template v-slot:item="data">
                    <v-list-item link :to="'/insect/' + data.item.insecta_id">
                      <v-list-item-content>
                        <v-list-item-title
                          v-html="data.item.scientificName_en"
                        ></v-list-item-title>
                        <v-list-item-subtitle
                          v-html="data.item.scientificName_la"
                        ></v-list-item-subtitle>
                      </v-list-item-content>
                    </v-list-item>
                  </template>
                </v-autocomplete>
                <v-icon  x-large class="mb-5 hidden-sm-and-down">mdi-magnify</v-icon>
              </v-row>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <v-row justify="center">
        <v-col cols="12" sm="8" md="2" xs="12">
          <v-col>
            <v-row>
              <h1 class="title">ເລືອກລຳດັບຊັ້ນ:</h1>
            </v-row>
            <v-row>
              <v-autocomplete
                v-model="cid"
                solo
                hide-details
                :items="classItem"
                label="class"
                item-text="c_name_en"
                item-value="cid"
                item-color="green"
                class="mb-4"
                style="
                  font-family: 'boonhome-400';
                  font-weight: bold;
                  padding: 4px;
                "
                @change="handleClass"
              >
                <template v-slot:item="data">
                  <template>
                    <v-list-item-content>
                      <v-list-item-title
                        v-html="'Class: ' + data.item.c_name_en"
                      ></v-list-item-title>
                      <v-list-item-subtitle
                        v-html="'Phylum: ' + data.item.p_name_en"
                      ></v-list-item-subtitle>
                    </v-list-item-content>
                  </template>
                </template>
              </v-autocomplete>
            </v-row>
            <v-divider color="green"></v-divider>
            <v-row>
              <v-autocomplete
                v-model="oid"
                solo
                hide-details
                :items="filterOrder"
                label="order"
                item-text="o_name_en"
                item-value="oid"
                item-color="green"
                class="my-4"
                style="
                  font-family: 'boonhome-400';
                  font-weight: bold;
                  padding: 4px;
                "
                @change="handleorder"
              >
                <template v-slot:item="data">
                  <template>
                    <v-list-item-content>
                      <v-list-item-title
                        v-html="'Order: ' + data.item.o_name_en"
                      ></v-list-item-title>
                      <v-list-item-subtitle
                        v-html="'Class: ' + data.item.c_name_en"
                      ></v-list-item-subtitle>
                    </v-list-item-content>
                  </template>
                </template>
              </v-autocomplete>
            </v-row>
            <v-divider color="green"></v-divider>
            <v-row>
              <v-autocomplete
                v-model="fid"
                solo
                hide-details
                :items="filterFamily"
                label="family"
                item-text="f_name_en"
                item-value="fid"
                item-color="green"
                class="my-4"
                style="
                  font-family: 'boonhome-400';
                  font-weight: bold;
                  padding: 4px;
                "
                @change="handlefamily"
              >
                <template v-slot:item="data">
                  <template>
                    <v-list-item-content>
                      <v-list-item-title
                        v-html="'family: ' + data.item.f_name_en"
                      ></v-list-item-title>
                      <v-list-item-subtitle
                        v-html="'Order: ' + data.item.o_name_en"
                      ></v-list-item-subtitle>
                    </v-list-item-content>
                  </template>
                </template>
              </v-autocomplete>
            </v-row>
            <v-divider color="green"></v-divider>
            <v-row>
              <v-autocomplete
                v-model="gid"
                solo
                hide-details
                :items="filterGenus"
                label="genus"
                item-text="g_name_en"
                item-value="gid"
                item-color="green"
                class="my-4"
                style="
                  font-family: 'boonhome-400';
                  font-weight: bold;
                  padding: 4px;
                "
                @change="handlegenus"
              >
                <template v-slot:item="data">
                  <template>
                    <v-list-item-content>
                      <v-list-item-title
                        v-html="'Genus: ' + data.item.g_name_en"
                      ></v-list-item-title>
                      <v-list-item-subtitle
                        v-html="'Family: ' + data.item.f_name_en"
                      ></v-list-item-subtitle>
                    </v-list-item-content>
                  </template>
                </template>
              </v-autocomplete>
            </v-row>
            <v-divider color="green"></v-divider>
            <v-row>
              <v-autocomplete
                v-model="sid"
                solo
                hide-details
                :items="filterSpecies"
                label="species"
                item-text="s_name_en"
                item-value="sid"
                item-color="green"
                class="my-4"
                @change="handlespecies"
                style="
                  font-family: 'boonhome-400';
                  font-weight: bold;
                  padding: 4px;
                "
              >
                <template v-slot:item="data">
                  <template>
                    <v-list-item-content>
                      <v-list-item-title
                        v-html="'Species: ' + data.item.s_name_en"
                      ></v-list-item-title>
                      <v-list-item-subtitle
                        v-html="'Genus: ' + data.item.g_name_en"
                      ></v-list-item-subtitle>
                    </v-list-item-content>
                  </template>
                </template>
              </v-autocomplete>
            </v-row>
          </v-col>
        </v-col>
        <v-col cols="12" sm="8" md="8" xs="12">
          <!-- main -->
          <v-row justify="center" class="d-flex flex-row justify-start">
            <div class="ma-4 blog" v-for="(file, f) in insect" :key="f">
              <a
                @click="test(file.insecta_id)"
                target="_blank"
                class="button--grey"
              >
                <v-row   style="padding:10px" justify="center">
                  <img :src="file.image" class="img-fluid" />
                </v-row>
                <v-row justify="center">
                  <h1 class="titleimage text-center mt-1">
                    {{ file.scientificName_en }}
                  </h1>
                </v-row>
              </a>
            </div>
          </v-row>
        </v-col>
      </v-row>
    </v-col>
  </v-col>
</template>

<script>
import mainDrawer from '../components/Main-layout/main-drawer.vue'

export default {
  data() {
    return {
      itemNameinsect: [],
      search: '',
      KingdomItem: [],
      phylumItem: [],
      imageResize: [],
      imagename: [],
      classItem: [],
      orderItem: [],
      familyItem: [],
      genusItem: [],
      speciesItem: [],
      insectainfo: [],
      insect: [],
      kid: '',
      pid: '',
      cid: '',
      oid: '',
      fid: '',
      gid: '',
      sid: '',
      species: '',
      nullobj: {
        kid: '',
        pid: '',
        cid: '',
        oid: '',
        fid: '',
        gid: '',
        sid: '',
        c_name_en: 'ວ່າງ',
        o_name_en: 'ວ່າງ',
        f_name_en: 'ວ່າງ',
        g_name_en: 'ວ່າງ',
        s_name_en: 'ວ່າງ',
      },
    }
  },

  computed: {
    // filterinsect() {
    //   return this.insectainfo.filter((item) => `${item.pid}`.includes(this.pid))
    // },

    filterOrder() {
      return this.orderItem.filter((item) => `${item.cid}`.includes(this.cid))
    },
    filterFamily() {
      return this.familyItem.filter((item) => `${item.oid}`.includes(this.oid))
    },
    filterGenus() {
      return this.genusItem.filter((item) => `${item.fid}`.includes(this.fid))
    },
    filterSpecies() {
      return this.speciesItem.filter((item) => `${item.gid}`.includes(this.gid))
    },
  },
  async fetch() {
    if (this.$nuxt.$auth.loggedIn == true) {
      if (this.$nuxt.$auth.$state.user.role === 'admin') {
        this.$store.commit('set_drawer', true)
        this.$store.commit('set_topbar', true)
        this.$store.commit('set_appbar', false)
        this.$store.commit('set_fullname', this.$nuxt.$auth.user.fullname)
      } else if (this.$nuxt.$auth.$state.user.role === 'researcher') {
        this.$store.commit('set_drawer', true)
        this.$store.commit('set_topbar', true)
        this.$store.commit('set_appbar', false)
        this.$store.commit('set_research', true)
        this.$store.commit('set_fullname', this.$nuxt.$auth.user.fullname)
      }
    }
  },
  methods: {
    handleClass() {
      this.insect = this.insectainfo.filter((item) =>
        `${item.cid}`.includes(this.cid)
      )
    },
    handleorder() {
      this.insect = this.insectainfo.filter((item) =>
        `${item.oid}`.includes(this.oid)
      )
    },
    handlefamily() {
      this.insect = this.insectainfo.filter((item) =>
        `${item.fid}`.includes(this.fid)
      )
    },
    handlegenus() {
      this.insect = this.insectainfo.filter((item) =>
        `${item.gid}`.includes(this.gid)
      )
    },
    handlespecies() {
      this.insect = this.insectainfo.filter((item) =>
        `${item.sid}`.includes(this.sid)
      )
    },
    test(_id) {
      this.$router.push({
        name: 'insect-id',
        params: {
          id: _id,
        },
      })
    },
    fetch() {
      if (this.$nuxt.$auth.$state.user) {
        if (this.$nuxt.$auth.$state.user.role === 'user') {
          this.$store.commit('set_appbar', true)
          this.$store.commit('set_button', true)
          this.$store.commit('set_fullname', this.$nuxt.$auth.user.fullname)
        }
      }
      this.$axios.get(`/insecta/home_page`).then((result) => {
        const handleimage = (list, prop) => {
          // change some string in object but use old object
          return list.map((item) => {
            var url = 'https://ms.mndev.com/insect/'
            const obj = Object.assign({}, item)
            obj[prop] = url.concat(obj[prop])
            return this.insectainfo.push(obj)
          })
        }
        handleimage(result.data[0], 'image')
        this.insect = this.insectainfo
      })
      this.$axios.get(`/phylum/get`).then((result) => {
        this.phylumItem = result.data[0]
      }),
        this.$axios.get(`/class/get`).then((result) => {
          this.classItem = result.data[0]
        }),
        this.$axios.get(`/order/get`).then((result) => {
          this.orderItem = result.data[0]
        }),
        this.$axios.get(`/family/get`).then((result) => {
          this.familyItem = result.data[0]
        }),
        this.$axios.get(`/genus/get`).then((result) => {
          this.genusItem = result.data[0]
        }),
        this.$axios.get(`/species/get`).then((result) => {
          this.speciesItem = result.data[0]
        })
    },
  },
  mounted() {
    this.fetch()
  },
  components: { mainDrawer },
}
</script>
<style scoped>
h1.title {
  font-family: 'boonhome-400' !important;
  font-size: 1rem !important;
  font-weight: normal;
  text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: #2525258a;
}

h1.a {
  font-family: 'boonhome-400';
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
/* .img-fluid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 120px;
  height: 120px;
} */

@media screen and (min-width: 300px) {
  h1.b {
    font-family: 'boonhome-400';
    font-size: 2rem;
    font-weight: bold;
    color: #2d852d;
  }
  .img-fluid {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 120px;
    height: 120px;
  }
  .titleimage {
    font-family: 'boonhome-400';
    font-weight: bold;
    font-size: 12px !important;
  }
  .blog {
    width: 120px;
  }
}
@media screen and (min-width: 1025px) {
  h1.b {
    font-family: 'boonhome-400';
    font-size: 3.6rem;
    font-weight: bold;
    color: #2d852d;
  }
  .img-fluid {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 200px;
    height: 200px;
  }
  .titleimage {
    font-family: 'boonhome-400';
    font-weight: bold;
    font-size: 20px !important;
  }
  .blog {
    width: 200px;
  }
}
</style>
