<template>
  <v-app>
    <v-main>
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="8">
            <v-card class="elevation-10">
              <v-window v-model="step">
                <v-window-item :value="0">
                  <v-row>
                    <v-col cols="12" md="8">
                      <v-card-text class="my-12">
                        <h1 class="text-center head-3">ລືມລະຫັດຜ່ານ</h1>
                        <h1 class="mt-3 text-center head-2">
                          ໃສ່ອີເມວຂອງທ່ານເພື່ອກູ້ລະຫັດໃໝ່
                        </h1>
                        <v-form ref="form" v-model="valid" lazy-validation>
                          <v-container>
                            <v-row justify="center">
                              <v-col cols="12" md="8">
                                <v-col cols="12">
                                  <v-text-field
                                    :rules="[rules.required]"
                                    v-model="account.username"
                                    label="Email"
                                    name="username"
                                    type="text"
                                    color="teal accent-3"
                                    filled
                                    rounded
                                    dense
                                    prepend-icon="mdi-account"
                                    class="txt"
                                  ></v-text-field>
                                </v-col>
                              </v-col>
                            </v-row>
                          </v-container>
                        </v-form>
                        <v-row justify="center">
                          <v-btn
                            :disabled="!valid"
                            @click="
                              forgetpassword()
                              overlay = !overlay
                            "
                            x-large
                            rounded
                            type="submit"
                            color="teal "
                            class="bt"
                            >ຂໍລະຫັດຜ່ານໃໝ່</v-btn
                          >
                        </v-row>
                      </v-card-text>
                    </v-col>
                    <v-col cols="12" md="4" class="teal">
                      <v-card-text class="white--text mt-12">
                        <h1 class="text-center Head-1">ຍິນດີຕ້ອນຮັບສູ່ເວັບ</h1>
                        <h3
                          class="text-center mt-5"
                          style="font-family: 'boonhome-400'"
                        >
                          ກະລຸນາເພີ່ມຂໍ້ມູນຂອງທ່ານເພື່ອເຂົ້າເຖິງສ່ວນອື່ນໆ,
                          ສາມາດສະໝັກສະມາຊິກໄດ້ດ້ານລຸ່ມນີ້
                        </h3>
                      </v-card-text>
                      <div class="text-center">
                        <v-btn
                          rounded
                          large
                          outlined
                          dark
                          @click="step++"
                          class="bt"
                          >ເຂົ້າສູ່ລະບົບ</v-btn
                        >
                      </div>
                    </v-col>
                  </v-row>
                </v-window-item>
                <v-window-item :value="1">
                  <v-row>
                    <v-col cols="12" md="8">
                      <v-card-text class="my-12">
                        <v-form ref="form" v-model="valid" lazy-validation>
                          <h1 class="mb-5 text-center Head">ເຂົ້າສູ່ລະບົບ</h1>
                          <h1 class="mt-10 text-center head-2">
                            ຫຼື ນຳໃຊ້ອີເມວຂອງທ່ານ:
                          </h1>
                          <v-container>
                            <v-row justify="center">
                              <v-col cols="12" md="8">
                                <v-col cols="12">
                                  <v-text-field
                                    v-model="account.username"
                                    label="Email"
                                    name="username"
                                    type="text"
                                    color="teal accent-3"
                                    filled
                                    rounded
                                    :rules="[rules.required, rules.email]"
                                    dense
                                    prepend-icon="mdi-account"
                                    class="txt"
                                  ></v-text-field>
                                  <v-text-field
                                    prepend-icon="mdi-lock"
                                    v-model="account.password"
                                    id="password"
                                    label="password"
                                    name="Password"
                                    filled
                                    rounded
                                    :rules="[rules.required]"
                                    dense
                                    :append-icon="
                                      isShowPassword ? 'mdi-eye' : 'mdi-eye-off'
                                    "
                                    @click:append="
                                      isShowPassword = !isShowPassword
                                    "
                                    :type="isShowPassword ? 'text' : 'password'"
                                    color="teal accent-3"
                                    class="txt"
                                  ></v-text-field>
                                  <a @click="step--" class="txt-href"
                                    >ລືມລະຫັດຜ່ານ?</a
                                  >
                                </v-col>
                              </v-col>
                            </v-row>
                          </v-container>
                        </v-form>
                        <v-row justify="center">
                          <v-btn
                            :disabled="!valid"
                            @click="
                              userLogin()
                              overlay = !overlay
                            "
                            x-large
                            rounded
                            type="submit"
                            color="teal "
                            class="bt"
                            >ເຂົ້າສູ່ລະບົບ</v-btn
                          >
                        </v-row>
                      </v-card-text>
                    </v-col>
                    <v-col cols="12" md="4" class="teal">
                      <v-card-text class="white--text mt-8">
                        <h1 class="text-center Head-1">
                          ຍິນດີຕ້ອນຮັບສູ່ເວັບຂອງພວກເຮົາ
                        </h1>
                        <h3
                          class="text-center mt-5"
                          style="font-family: 'boonhome-400'"
                        >
                          ກະລຸນາເພີ່ມຂໍ້ມູນຂອງທ່ານເພື່ອເຂົ້າເຖິງສ່ວນອື່ນໆ,
                          ສາມາດສະໝັກສະມາຊິກໄດ້ດ້ານລຸ່ມນີ້
                        </h3>
                      </v-card-text>
                      <div class="text-center">
                        <v-btn
                          rounded
                          large
                          outlined
                          dark
                          @click="step++"
                          class="bt"
                          >ສະໝັກສະມາຊິກ</v-btn
                        >
                      </div>
                    </v-col>
                  </v-row>
                </v-window-item>
                <v-window-item :value="2">
                  <v-row>
                    <v-col cols="12" md="4" class="teal">
                      <v-card-text class="white--text mt-12">
                        <h1 class="text-center Head-1">ທົດລອງສະຫມັກສະມາຊິກ</h1>
                        <h3
                          class="text-center mt-5"
                          style="font-family: 'boonhome-400'"
                        >
                          <v-icon color="white">mdi-check</v-icon
                          >ເພື່ອດາວໂຫຼດຂໍ້ມູນ (ສຳລັບສະມາຊິກທົ່ວໄປ)
                        </h3>
                        <h3
                          class="text-center mt-5"
                          style="font-family: 'boonhome-400'"
                        >
                          <v-icon color="white">mdi-check</v-icon
                          >ເພື່ອອັບໂຫຼດຂໍ້ມູນແມງໄມ້ (ສຳລັບນັກຄົ້ນຄວ້າ)
                        </h3>
                      </v-card-text>
                      <div class="text-center">
                        <v-btn
                          rounded
                          large
                          outlined
                          dark
                          @click="step--"
                          class="bt"
                          >ເຂົ້າສູ່ລະບົບ</v-btn
                        >
                      </div>
                    </v-col>
                    <v-col cols="12" md="8">
                      <v-card-text class="my-8">
                        <h1 class="mb-5 text-center Head">ສະໝັກສະມາຊິກ</h1>
                        <h1 class="mt-3 text-center head-2">
                          ຫຼື ສະໝັກດ້ວຍອີເມວຂອງທ່ານ:
                        </h1>
                        <v-form ref="form" v-model="valid" lazy-validation>
                          <v-container>
                            <v-row justify="center">
                              <v-col cols="12" md="8">
                                <v-col cols="12">
                                  <v-text-field
                                    v-model="user.fullname"
                                    label="ຊື່ ແລະ ນາມສະກຸນ"
                                    name="username"
                                    type="text"
                                    color="teal accent-3"
                                    filled
                                    :rules="[rules.required]"
                                    rounded
                                    dense
                                    class="txt"
                                  ></v-text-field>

                                  <v-text-field
                                    v-model="user.email"
                                    label="Email"
                                    name="username"
                                    type="text"
                                    color="teal accent-3"
                                    :rules="[rules.required, rules.email]"
                                    filled
                                    rounded
                                    dense
                                    class="txt"
                                  ></v-text-field>
                                  <v-text-field
                                    v-model="user.password"
                                    id="password"
                                    label="password"
                                    name="Password"
                                    filled
                                    rounded
                                    dense
                                    :rules="[rules.required]"
                                    :append-icon="
                                      isShowPassword ? 'mdi-eye' : 'mdi-eye-off'
                                    "
                                    @click:append="
                                      isShowPassword = !isShowPassword
                                    "
                                    :type="isShowPassword ? 'text' : 'password'"
                                    color="teal accent-3"
                                    class="txt"
                                  ></v-text-field>

                                  <v-radio-group v-model="user.gender" row>
                                    <v-radio
                                      color="teal"
                                      value="m"
                                      label="male"
                                    ></v-radio>
                                    <v-radio
                                      color="teal"
                                      value="f"
                                      label="female"
                                    ></v-radio>
                                  </v-radio-group>
                                  <v-menu
                                    ref="menu"
                                    v-model="menu"
                                    :close-on-content-click="false"
                                    :return-value.sync="user.birthday"
                                    transition="scale-transition"
                                    offset-y
                                    min-width="auto"
                                  >
                                    <template v-slot:activator="{ on, attrs }">
                                      <v-combobox
                                        v-model="user.birthday"
                                        label="ເລືອກວັນເດືອນປີເກີດ"
                                        prepend-icon="mdi-calendar"
                                        readonly
                                        v-bind="attrs"
                                        v-on="on"
                                      ></v-combobox>
                                    </template>
                                    <v-date-picker
                                      v-model="user.birthday"
                                      no-title
                                      scrollable
                                    >
                                      <v-spacer></v-spacer>
                                      <v-btn
                                        text
                                        color="primary"
                                        @click="menu = false"
                                        >Cancel</v-btn
                                      >
                                      <v-btn
                                        text
                                        color="primary"
                                        @click="$refs.menu.save(user.birthday)"
                                        >OK</v-btn
                                      >
                                    </v-date-picker>
                                  </v-menu>
                                </v-col>
                              </v-col>
                            </v-row>
                          </v-container>
                        </v-form>
                        <v-row justify="center">
                          <v-btn
                            :disabled="!valid"
                            @click="
                              register()
                              overlay = !overlay
                            "
                            x-large
                            rounded
                            type="submit"
                            color="teal "
                            class="bt"
                            >ລົງທະບຽນ</v-btn
                          >
                        </v-row>
                      </v-card-text>
                    </v-col>
                  </v-row>
                </v-window-item>
                <v-window-item :value="3">
                  <v-row>
                    <v-col cols="12" md="4" class="teal">
                      <v-card-text class="white--text mt-12">
                        <h1 class="text-center Head-1">ທົດລອງສະຫມັກສະມາຊິກ</h1>
                        <h3
                          class="text-center mt-5"
                          style="font-family: 'boonhome-400'"
                        >
                          <v-icon color="white">mdi-check</v-icon
                          >ເພື່ອດາວໂຫຼດຂໍ້ມູນ (ສຳລັບສະມາຊິກທົ່ວໄປ)
                        </h3>
                        <h3
                          class="text-center mt-5"
                          style="font-family: 'boonhome-400'"
                        >
                          <v-icon color="white">mdi-check</v-icon
                          >ເພື່ອອັບໂຫຼດຂໍ້ມູນແມງໄມ້ (ສຳລັບນັກຄົ້ນຄວ້າ)
                        </h3>
                      </v-card-text>
                      <div class="text-center">
                        <v-btn
                          rounded
                          large
                          outlined
                          dark
                          @click="step++"
                          class="bt"
                          >ເຂົ້າສູ່ລະບົບ</v-btn
                        >
                      </div>
                    </v-col>
                    <v-col cols="12" md="8">
                      <v-card-text class="my-12">
                        <h1
                          class="text-center Head mb-6"
                          style="font-size: 40px"
                        >
                          ເພີ່ມຂໍ້ມູນສຳລັບນັກຄົ້ນຄວ້າ
                        </h1>
                        <h1 class="text-center head-2">
                          ກະລຸນາເພີ່ມຂໍ້ມູນນັກຄົ້ນຄວ້າຂອງທ່ານດ້ານລຸ່ມ
                        </h1>

                        <v-container>
                          <v-row justify="center">
                            <v-col cols="12" md="8">
                              <v-col cols="12">
                                <v-text-field
                                  v-model="account.username"
                                  label="ວຸດທິການສຶກສາ"
                                  name="username"
                                  type="text"
                                  color="teal accent-3"
                                  filled
                                  rounded
                                  dense
                                  class="txt"
                                ></v-text-field>
                                <v-text-field
                                  v-model="account.username"
                                  label="ສະຖາບັນ"
                                  name="username"
                                  type="text"
                                  color="teal accent-3"
                                  filled
                                  rounded
                                  dense
                                  class="txt"
                                ></v-text-field>
                                <v-text-field
                                  v-model="account.username"
                                  label="ສັນຊາດ"
                                  name="username"
                                  type="text"
                                  color="teal accent-3"
                                  filled
                                  rounded
                                  dense
                                  class="txt"
                                ></v-text-field>
                                <v-text-field
                                  v-model="account.username"
                                  label="ຊ່ຽວຊານດ້ານ"
                                  name="username"
                                  type="text"
                                  color="teal accent-3"
                                  filled
                                  rounded
                                  dense
                                  class="txt"
                                ></v-text-field>
                              </v-col>
                            </v-col>
                          </v-row>
                        </v-container>
                        <v-row justify="center">
                          <v-btn
                            x-large
                            rounded
                            type="submit"
                            color="teal "
                            class="bt"
                            >ລົງທະບຽນ</v-btn
                          >
                        </v-row>
                      </v-card-text>
                    </v-col>
                  </v-row>
                </v-window-item>
              </v-window>
            </v-card>
          </v-col>
        </v-row>
      </v-container>

      <mydialog :mydialog="detail" />

      <v-snackbar v-model="snackbar">
        {{ text }}
        <template v-slot:action="{ attrs }">
          <v-btn color="red" text v-bind="attrs" @click="snackbar = false"
            >Close</v-btn
          >
        </template>
      </v-snackbar>
      <v-overlay :value="overlay">
        <v-progress-circular indeterminate size="64"></v-progress-circular>
      </v-overlay>
    </v-main>
  </v-app>
</template>

<script>
import { v4 as uuidv4 } from 'uuid'
import jwt_decode from 'jwt-decode'
export default {
  data: () => ({
    dialog: false,
    date: '2000-01-01',
    menu: false,
    sex: '',
    text: `Email or password is wrong`,
    snackbar: false,
    overlay: false,
    isShowPassword: false,
    step: 1,
    uuid: '',
    uuid1: '',
    role: '',
    user: {
      email: '',
      password: '',
      fullname: '',
      gender: '',
      birthday: '',
    },
    account: {
      username: '',
      password: '',
    },
    detail: {
      stt: '',
      color: '',
      Head: '',
      Text: '',
      icon: '',
    },
    valid: true,
    rules: {
      required: (value) => !!value || 'Required.',
      counter: (value) => value.length <= 20 || 'Max 20 characters',
      email: (value) => {
        const pattern =
          /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        return pattern.test(value) || 'Invalid e-mail.'
      },
    },
  }),
  props: {
    source: String,
  },
  watch: {
    overlay(val) {
      val &&
        setTimeout(() => {
          this.overlay = false
        }, 3500)
    },
  },
  methods: {
    forgetpassword() {
      this.$axios
        .post('https://ma.mndev.com/v1/reset/email', {
          email: 'phanousonestl@gmail.com',
          app: 'insect',
        })
        .then((response) => {
          console.log(response)
          if (response.status === 200) {
            this.detail = {
              stt: true,
              color: 'teal',
              Head: 'ຄຳຮ້ອງຂໍສຳເລັດ',
              Text: 'ກະລຸນາເຂົ້າໄປຢືນຢັນລະຫັດຜ່ານໃນອີເມວຂອງທ່ານ',
              icon: 'mdi-checkbox-marked-circle-outline',
            }
            setTimeout(() => this.step++, 3000)
          } else {
            this.detail = {
              stt: true,
              color: 'red',
              Head: 'ຄຳຮ້ອງຂໍບໍ່ສຳເລັດ',
              Text: 'ກະລຸນາກວດອີເມວຂອງທ່ານໃຫ້ຖືກຕ້ອງ',
              icon: 'mdi-checkbox-marked-circle-outline',
            }
          }
        })
        .catch(function (error) {
          console.log(error)
        })
    },
    register() {
      this.$axios
        .post('https://ma.mndev.com/v1/register/email', {
          app: 'insect',
          at_name: 'email',
          email: this.user.email,
          password: this.user.password,
          fullname: this.user.fullname.toString(),
          gender: this.user.gender.toString(),
          birthday: this.user.birthday,
        })
        .then((response) => {
          console.log(response)
          if (response.status === 200) {
            this.detail = {
              stt: true,
              color: 'red',
              Head: 'ສະຫມັກບໍ່ສຳເລັດ',
              Text: 'ອີເມວນີ້ຖືກໃຊ້ງານແລ້ວ ກະລຸນາປ່ຽນອີເມວໃຫມ່',
              icon: 'mdi-close-circle-outline',
            }
          } else if (response.status === 201) {
            this.detail = {
              stt: true,
              color: 'teal',
              Head: 'ສະຫມັກສຳເລັດ',
              Text: 'ກະລຸນາກົດຢືນຢັນໃນອີເມວຂອງທ່ານ',
              icon: 'mdi-checkbox-marked-circle-outline',
            }
            setTimeout(() => this.step--, 3000)
          } else {
            this.detail = {
              stt: true,
              color: 'red',

              Head: 'ມີບາງຢ່າງພິດພາດ',
              Text: 'Reload this page',
              icon: 'mdi-close-circle-outline',
            }
          }
        })
        .catch(function (error) {
          console.log(error)
        })
    },
    async userLogin() {
      try {
        this.uuid = this.$auth.$storage.getLocalStorage('_uuid')
        if (this.uuid == '' || this.uuid == null) {
          this.uuid = uuidv4()
        } else {
          this.uuid = this.$auth.$storage.getLocalStorage('_uuid')
        }
        let response = await this.$auth.loginWith('local', {
          data: {
            app: 'insect',
            email: this.account.username,
            password: this.account.password,
            uuid: this.uuid,
          },
        })
        if (response.status === 201) {
          this.role = this.$nuxt.$auth.$state.user.role
          this.$auth.$storage.setLocalStorage('_role', this.role)
          this.$auth.$storage.setLocalStorage('_uuid', this.uuid)

          if (this.role === 'admin') {
            console.log('ok admin')
            this.$store.commit('set_drawer', true)
            this.$store.commit('set_topbar', true)
            this.$store.commit('set_appbar', false)
            this.$store.commit('set_fullname', this.$nuxt.$auth.user.fullname)
            this.$router.push('/')
          } else if (this.role === 'researcher') {
            console.log('ok rs')
            this.$store.commit('set_drawer', true)
            this.$store.commit('set_topbar', true)
            this.$store.commit('set_appbar', false)
            this.$store.commit('set_research', true)
            this.$store.commit('set_fullname', this.$nuxt.$auth.user.fullname)
            this.$router.push('/')
          } else if (this.role === 'user') {
            this.$store.commit('set_appbar', true)
            this.$store.commit('set_button', true)
            this.$store.commit('set_fullname', this.$nuxt.$auth.user.fullname)
            this.$router.push('/')
          }
        } else if (response.status === 200) {
          this.detail = {
            stt: true,
            color: 'red',
            Head: 'ຂໍອະໄພ',
            Text: 'ອີເມວນີ້ບໍ່ມີໃນລະບົບ',
            icon: 'mdi-close-circle-outline',
          }
        }
      } catch (err) {
        console.log(err)
      }
    },
  },
}
</script>

<style>

@media screen and (min-width: 300px) {
.Head {
  font-family: 'boonhome-400';
  font-weight: bold;
  font-size: 40px;
  color: #009688;
}
.Head-1 {
  font-family: 'boonhome-400';
  font-weight: normal;
  font-size: 25px;
  color: #ffffff;
}
.head-2 {
  font-family: 'boonhome-400';
  font-weight: bold;
  font-size: 15px;
  color: #9da1a18a;
}
.head-3 {
  font-family: 'boonhome-400';
  font-weight: bold;
  font-size: 20px;
  color: #009688;
}
.icon-social {
  border-color: #d6d6d6c7;
}
.bt {
  font-family: 'boonhome-400';
  font-weight: normal;
  font-size: 15px !important;
  color: #ffff !important;
}
.txt {
  font-family: 'boonhome-400';
  font-weight: normal;
  font-size: 15px;
  color: #ffff !important;
}
.txt-href {
  font-family: 'boonhome-400';
  font-weight: bold;
  font-size: 15px;
  color: #009688;
}
}
@media screen and (min-width: 1025px) {
  .Head {
  font-family: 'boonhome-400';
  font-weight: bold;
  font-size: 60px;
  color: #009688;
}
.Head-1 {
  font-family: 'boonhome-400';
  font-weight: normal;
  font-size: 29px;
  color: #ffffff;
}
.head-2 {
  font-family: 'boonhome-400';
  font-weight: bold;
  font-size: 20px;
  color: #9da1a18a;
}
.head-3 {
  font-family: 'boonhome-400';
  font-weight: bold;
  font-size: 30px;
  color: #009688;
}
.icon-social {
  border-color: #d6d6d6c7;
}
.bt {
  font-family: 'boonhome-400';
  font-weight: normal;
  font-size: 20px !important;
  color: #ffff !important;
}
.txt {
  font-family: 'boonhome-400';
  font-weight: normal;
  font-size: 20px;
  color: #ffff !important;
}
.txt-href {
  font-family: 'boonhome-400';
  font-weight: bold;
  font-size: 20px;
  color: #009688;
}
}
</style>