<template>
  <v-row>
    <div class="bg-image"></div>
    <div class="bg-text">
      <h1>I am John Doe</h1>
      <p>And I'm a Photographer</p>
      <v-btn @click="opendialog"> success</v-btn>
      <v-btn @click="opendialogfail"> fail</v-btn>
    </div>

  <v-dialog v-model="dialogDelete" max-width="500px">
        <v-card>
          <v-card-title class="headline title-tab">
            <v-row justify="center">
              <h2
                class="font-weight-light pink--text text-center"
                style="font-family: 'boonhome-400' !important"
              >
               ແມງໄມ້ຊະນິດນີ້ຖືກເພີ່ມແລ້ວ, ຕ້ອງການເພີ່ມຂໍ້ມູນການຄົ້ນພົບໃຫມ່ ຫຼື ບໍ່ ?
              </h2>
            </v-row></v-card-title
          >
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="grey " >Cancel</v-btn>
            <v-btn color="green darken-1" >OK</v-btn>
            <v-spacer></v-spacer>
          </v-card-actions>
        </v-card>
      </v-dialog>
  </v-row>
</template>

<script>
import mydialog from '../components/mydialog.vue'
export default {
  components: { mydialog },

  data() {
    return {
      dialogDelete: true,
      dialog: false,
      dialog1: false,
      detail: {
        stt: '',
        color: '',
        Head: '',
        Text: '',
        icon: '',
      },
    }
  },

  methods: {
    opendialog() {
      this.detail = {
        stt: true,
        color: 'teal',
        Head: 'ອັບໂຫຼດສຳເລັດ',
        Text: 'ຄຳຂໍຂອງທ່ານຈະຖືກສົ່ງໄປໃຫ້ແອັດມິນອານຸມັດ ລໍຖ້າເບິ່ງໃນອິເມວaaaaaaaaaaaaaaaaa',
        icon: 'mdi-checkbox-marked-circle-outline',
      }
      setTimeout(() => this.$router.push('/'), 5000)
      // this.$router.push('/')
    },
    opendialogfail() {
      this.detail = {
        stt: true,
        color: 'red',
        Head: 'ອັບໂຫຼດບໍ່ສຳເລັດ',
        Text: 'ຂໍອະໄພມີບັນຫາ ກະລຸນາກວດເບິ່ງຂໍ້ມູນ ແລ້ວກົດອັບໂຫລດໃຫມ່',
        icon: 'mdi-close-circle-outline',
      }
      console.log(this.detail.color)
      this.dialog = true
    },
  },
  async fetch() {},
}
</script>

<style scoped>
span.a {
  font-family: 'boonhome-400';
  font-weight: bold;
  font-size: 50px;
  color: #ffffff;
}
span.b {
  font-family: 'boonhome-400';
  font-weight: lighter;
  font-size: 25px;
  color: #ffffff;
}
h1 {
  size: 100px;
}
.bg-image {
  /* The image used */
  background-image: url('https://www.wallpapertip.com/wmimgs/83-831552_desktop-background-plant.jpg');

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
</style>