<template>
  <v-container id="role" fluid tag="section">
    <v-data-table :search="search" :headers="headers" :items="desserts" class="elevation-1">
      <template v-slot:top>
        <v-toolbar color="teal">
          <v-toolbar-title class="title-header">ສະມາຊິກທັງຫມົດ</v-toolbar-title>
          <v-divider vertical style="margin-left:10px;  margin-right:10px;background-color:white;"></v-divider>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
            filled
            style="background-color: white;"
          ></v-text-field>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" max-width="1200px">
            <template v-slot:activator="{ on, attrs }">
              <v-btn color="green" dark class="mb-2" v-bind="attrs" v-on="on">
                <v-icon>mdi-plus</v-icon>ໃສ່ຊ່ຳສາ ຫຼັງຈາກນັ້ນເອົາອອກ
              </v-btn>
            </template>
            <v-card>
              <v-card-title class="bg-title">
                <span
                  class="headline"
                  style="font-family: 'boonhome-400' !important; font-weight: bold; font-size:30px; margin-left:10px"
                >ກວດສອບກ່ອນຢືນຢັນອັບໂຫລດ</span>
              </v-card-title>
              <v-card-text>
                <v-container style="margin-top:10px">
                  <v-col>
                    <v-row>
                      <v-col cols="2">
                        <v-subheader>ລະຫັດສະມາຊິກ::</v-subheader>
                      </v-col>
                      <v-col cols="4">
                        <v-text-field disabled label="LA" class="bt"></v-text-field>
                      </v-col>
                      <v-col cols="4">
                        <v-text-field disabled label="EN" class="bt"></v-text-field>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col cols="2">
                        <v-subheader>ຊື່:</v-subheader>
                      </v-col>
                      <v-col cols="4">
                        <v-text-field disabled label="LA" class="bt"></v-text-field>
                      </v-col>
                      <v-col cols="4">
                        <v-text-field disabled label="EN" class="bt"></v-text-field>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col cols="2">
                        <v-subheader>ນາມສະກຸນ:</v-subheader>
                      </v-col>
                      <v-col cols="4">
                        <v-text-field disabled label="LA" class="bt"></v-text-field>
                      </v-col>
                      <v-col cols="4">
                        <v-text-field disabled label="EN" class="bt"></v-text-field>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col cols="2">
                        <v-subheader>ສິດ:</v-subheader>
                      </v-col>
                      <v-col cols="5">
                        <v-select :items="roles" filled label="ສິດ"></v-select>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col cols="2">
                        <v-subheader>Username:</v-subheader>
                      </v-col>
                      <v-col cols="4">
                        <v-text-field disabled label="LA" class="bt"></v-text-field>
                      </v-col>
                      <v-col cols="4">
                        <v-text-field disabled label="EN" class="bt"></v-text-field>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col cols="2">
                        <v-subheader>email:</v-subheader>
                      </v-col>
                      <v-col cols="4">
                        <v-text-field disabled label="LA" class="bt"></v-text-field>
                      </v-col>
                      <v-col cols="4">
                        <v-text-field disabled label="EN" class="bt"></v-text-field>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col cols="2">
                        <v-subheader>ເບີໂທ::</v-subheader>
                      </v-col>
                      <v-col cols="4">
                        <v-text-field disabled label="LA" class="bt"></v-text-field>
                      </v-col>
                      <v-col cols="4">
                        <v-text-field disabled label="EN" class="bt"></v-text-field>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col cols="2">
                        <v-subheader>ວຸດທີການສຶກສາ:</v-subheader>
                      </v-col>
                      <v-col cols="4">
                        <v-text-field disabled label="LA" class="bt"></v-text-field>
                      </v-col>
                      <v-col cols="4">
                        <v-text-field disabled label="EN" class="bt"></v-text-field>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col cols="2">
                        <v-subheader>ສະຖາບັນ:</v-subheader>
                      </v-col>
                      <v-col cols="4">
                        <v-text-field disabled label="LA" class="bt"></v-text-field>
                      </v-col>
                      <v-col cols="4">
                        <v-text-field disabled label="EN" class="bt"></v-text-field>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col cols="2">
                        <v-subheader>ສັນຊາດ:</v-subheader>
                      </v-col>
                      <v-col cols="4">
                        <v-text-field disabled label="LA" class="bt"></v-text-field>
                      </v-col>
                      <v-col cols="4">
                        <v-text-field disabled label="EN" class="bt"></v-text-field>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col cols="2">
                        <v-subheader>ຊ່ຽວຊານດ້ານ:</v-subheader>
                      </v-col>
                      <v-col cols="4">
                        <v-text-field disabled label="LA" class="bt"></v-text-field>
                      </v-col>
                      <v-col cols="4">
                        <v-text-field disabled label="EN" class="bt"></v-text-field>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col cols="2">
                        <v-subheader>ສະຖານະ:</v-subheader>
                      </v-col>
                      <v-col cols="4">
                        <v-text-field disabled label="LA" class="bt"></v-text-field>
                      </v-col>
                      <v-col cols="4">
                        <v-text-field disabled label="EN" class="bt"></v-text-field>
                      </v-col>
                    </v-row>
                    <v-divider></v-divider>
                    <v-row justify="center">
                      <div style="margin-top:10px">
                        <v-btn x-large depressed color="success" class="bt">ບັນທຶກ</v-btn>
                        <v-btn x-large depressed class="bt">ບັນທຶກ</v-btn>
                      </div>
                    </v-row>
                  </v-col>
                </v-container>
              </v-card-text>
              <v-card-actions></v-card-actions>
            </v-card>
          </v-dialog>
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="headline">ເຈົ້າຕ້ອງການລົບຂໍ້ມູນນີ້ ຫຼື ບໍ່?</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
                <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>

      <template v-slot:item="{ item }">
        <tr>
          <td>{{item.n_id}}</td>
          <!-- <td>{{item.name}}</td> -->
          <td>
            <div>{{item.n_name_en}}</div>
            <div>{{item.n_name_la}}</div>
          </td>

          <td>
            <v-icon small class="mr-2" @click="editItem(item)" color="green">mdi-pencil</v-icon>
            <v-icon small @click="deleteItem(item)" color="red">mdi-delete</v-icon>
          </td>
        </tr>
      </template>
    </v-data-table>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    roles: ['ນັກຄົ້ນຄວ້າ', 'ສະມາຊິກ'],
    dialog: false,
    search: '',
    dialogDelete: false,
    headers: [
      {
        text: 'ID',
        align: 'start',
        sortable: false,
        value: 'n_id',
      },
      { text: 'username', value: 'n_name_la', align: ' d-none' },
      { text: 'name', value: 'n_name_en' },
      { text: 'role', value: 'n_name_en' },
      { text: 'status', value: 'n_name_en' },
      { text: 'Actions', value: 'actions', sortable: false, align: 'end' },
    ],
    desserts: [],
    editedIndex: -1,
    editedItem: {},
    defaultItem: {},
  }),
  methods: {
    initialize() {},
    fetch() {
      this.$axios.get(`/nationality/get`).then((result) => {
        this.desserts = result.data[0]
      })
    },
    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    deleteItem(item) {
      this.editedIndex = this.desserts.indexOf(item)
      this.editedItem = Object.assign({}, item)

      this.dialogDelete = true
    },

    deleteItemConfirm() {
      this.$axios
        .delete('/nationality/delete-nationality', {
          data: { n_id: this.editedItem.n_id },
        })
        .then(function (response) {
          console.log(response)
        })
        .catch(function (error) {
          console.log(error)
        })

      this.closeDelete()
    },

    close() {
      this.fetch()
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    closeDelete() {
      this.fetch()
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem)

        this.$axios
          .put('/nationality/edit-nationality', {
            n_id: this.editedItem.n_id,
            n_name_la: this.editedItem.n_name_la,
            n_name_en: this.editedItem.n_name_en,
          })
          .then(function (response) {
            console.log(response)
          })
          .catch(function (error) {
            console.log(error)
          })
      } else {
        this.$axios
          .post('/nationality/post-nationality', {
            n_name_la: this.editedItem.n_name_la,
            n_name_en: this.editedItem.n_name_en,
          })
          .then(function (response) {
            console.log(response)
          })
          .catch(function (error) {
            console.log(error)
          })
      }
      this.close()
    },
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? 'ເພີ່ມສິດໃຫມ່' : 'ແກ້ໄຂຂໍ້ມູນ'
    },
  },

  watch: {
    dialog(val) {
      val || this.close()
    },
    dialogDelete(val) {
      val || this.closeDelete()
    },
  },

  created() {
    this.initialize()
  },

  mounted() {
    this.fetch()
  },
}
</script>

<style scoped>
.v-text-field--outlined >>> fieldset {
  border-color: rgba(255, 255, 255, 0.986);
}
</style>
