<template>
  <v-container id="district" fluid tag="section">
    <v-data-table :search="search" :headers="headers" :items="desserts" class="elevation-1">
      <template v-slot:top>
        <v-toolbar color="teal">
          <v-toolbar-title class="title-header">ຈັດການຂໍ້ມູນເມືອງ</v-toolbar-title>
          <v-divider vertical style="margin-left:10px;  margin-right:10px;background-color:white;"></v-divider>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
            filled
            style=" margin-right:10px; background-color: #E8F5E9"
            solo
          ></v-text-field>

          <v-spacer></v-spacer>

          <v-dialog v-model="dialog" max-width="500px">
            <template v-slot:activator="{ on, attrs }">
              <v-btn color="green" dark class="mb-2" v-bind="attrs" v-on="on">
                <v-icon>mdi-plus</v-icon>ADD
              </v-btn>
            </template>
            <v-card>
              <v-card-title class="bg-title">
                <span
                  class="headline"
                  style="font-family: 'boonhome-400' !important;
  font-weight: bold; font-size:25px;"
                >{{ formTitle }}</span>
              </v-card-title>

              <v-card-text>
                <v-container style="margin-top:10px">
                  <v-col>
                    <v-row>
                      <v-text-field
                        solo
                        v-model="editedItem.dr_name_en"
                        label="Distrcit EN"
                        class="bt"
                      ></v-text-field>
                    </v-row>
                    <v-row>
                      <v-text-field
                        solo
                        v-model="editedItem.dr_name_la"
                        label="Distrcit LA"
                        class="bt"
                      ></v-text-field>
                    </v-row>
                    <v-row style="justify-content:flex-end; ">
                      <v-btn
                        depressed
                        color="success"
                        @click="save"
                        style="margin-right:5px"
                        class="bt"
                      >ບັນທຶກ</v-btn>
                    </v-row>
                  </v-col>
                </v-container>
              </v-card-text>
              <v-card-actions></v-card-actions>
            </v-card>
          </v-dialog>
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="headline">ເຈົ້າຕ້ອງການລົບຂໍ້ມູນນີ້ ຫຼື ບໍ່?</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
                <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>

      <template v-slot:item="{ item }">
        <tr>
          <td>{{item.d_id}}</td>
          <!-- <td>{{item.name}}</td> -->
          <td>
            <div>{{item.pro_name_en}}</div>
            <div>{{item.pro_name_la}}</div>
          </td>
          <td>
            <div>{{item.dr_name_en}}</div>
            <div>{{item.dr_name_la}}</div>
          </td>

          <td>
            <v-icon medium class="mr-2" @click="editItem(item)" color="green">mdi-pencil</v-icon>
            <v-icon medium @click="deleteItem(item)" color="red">mdi-delete</v-icon>
          </td>
          <td>
            <v-btn @click="next(item.d_id)" color="primary">Detail</v-btn>
          </td>
        </tr>
      </template>
    </v-data-table>
  </v-container>
</template>

<script>
export default {
  middleware: 'auth-admin',
  data: () => ({
    dialog: false,
    search: '',
    sortBy: '',
    dialogDelete: false,
    headers: [
      {
        text: 'ID',
        align: 'start',
        sortable: false,
        value: 'd_id',
      },
      { text: 'Province1', value: 'pro_name_la', align: ' d-none' },
      { text: 'Province ', value: 'pro_name_en' },
      { text: 'district1', value: 'dr_name_en', align: ' d-none' },
      { text: 'district ', value: 'dr_name_la' },
      { text: 'Actions', value: 'actions', sortable: false },
      { text: 'Detail', value: 'detail', sortable: false, align: 'end' },
    ],
    itemProvince: [],
    desserts: [],
    editedIndex: -1,
    editedItem: {
      d_id: '',
      pro_id: '',
      dr_name_la: '',
      dr_name_en: '',
    },
    defaultItem: {
      d_id: '',
      pro_id: '',
      dr_name_la: '',
      dr_name_en: '',
    },
  }),
  methods: {
    next(district_id) {
      this.$router.push({
        name: 'management-locate-village-id',
        params: {
          id: district_id,
        },
      })
    },
    initialize() {},
    fetch() {
      this.$axios
        .get(`/district/getByProId/` + this.$route.params.id)
        .then((result) => {
          this.desserts = result.data[0]
        })
    },
    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    deleteItem(item) {
      this.editedIndex = this.desserts.indexOf(item)
      this.editedItem = Object.assign({}, item)

      this.dialogDelete = true
    },

    deleteItemConfirm() {
      this.$axios
        .delete('/district/delete-district/', {
          data: { d_id: this.editedItem.d_id.toString() },
        })
        .then(function (response) {
          console.log(response)
        })
        .catch(function (error) {
          console.log(error)
        })

      this.closeDelete()
    },

    close() {
      this.fetch()
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    closeDelete() {
      this.fetch()
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem)

        this.$axios
          .put('/district/edit-district', {
            d_id: this.editedItem.d_id.toString(),
            pro_id: this.$route.params.id.toString(),
            dr_name_la: this.editedItem.dr_name_la.toString(),
            dr_name_en: this.editedItem.dr_name_en.toString(),
          })
          .then(function (response) {
            console.log(response)
          })
          .catch(function (error) {
            console.log(error)
          })
      } else {
        this.$axios
          .post(`/district/post-district`, {
            pro_id: this.$route.params.id.toString(),
            dr_name_la: this.editedItem.dr_name_la.toString(),
            dr_name_en: this.editedItem.dr_name_en.toString(),
          })
          .then(function (response) {
            console.log(response)
          })
          .catch(function (error) {
            console.log(error)
          })
      }

      this.close()
    },
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? 'ເພີ່ມເມືອງໃຫມ່' : 'ແກ້ໄຂຂໍ້ມູນ'
    },
  },
  async fetch() {
    console.log('provice id:' + this.$route.params.id)
    if (this.$nuxt.$auth.$state.user.role === 'admin') {
      console.log('ok admin')
      this.$store.commit('set_drawer', true)
      this.$store.commit('set_topbar', true)
      this.$store.commit('set_appbar', false)
      this.$store.commit('set_fullname', this.$nuxt.$auth.user.fullname)
    } else if (this.$nuxt.$auth.$state.user.role === 'researcher') {
      console.log('ok rs')
      this.$store.commit('set_drawer', true)
      this.$store.commit('set_topbar', true)
      this.$store.commit('set_appbar', false)
      this.$store.commit('set_research', true)
      this.$store.commit('set_fullname', this.$nuxt.$auth.user.fullname)
    }
  },

  watch: {
    dialog(val) {
      val || this.close()
    },
    dialogDelete(val) {
      val || this.closeDelete()
    },
  },

  created() {
    this.initialize()
  },

  mounted() {
    this.fetch()
  },
}
</script>

<style scoped>
.v-text-field--outlined >>> fieldset {
  border-color: rgba(255, 255, 255, 0.986);
}
</style>
