<template>
  <v-card>
    <v-tabs centered background-color="teal" color="white accent-4" left>
      <v-tab> <v-icon left>mdi-account</v-icon>ລາຍລະອຽດແມງໄມ້ </v-tab>
      <v-tab> <v-icon left>mdi-bug</v-icon>ລາຍລະອຽດການອັບໂຫລດ </v-tab>
      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <v-container style="margin-top: 10px">
              <v-col>
                <v-row>
                  <v-col cols="2">
                    <v-subheader>ຊື່ທົ່ວໄປ:</v-subheader>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].name_la"
                      disabled
                      label="LA"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].name_en"
                      disabled
                      label="EN"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col cols="2">
                    <v-subheader>ຊື່ທ້ອງຖິ່ນ:</v-subheader>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].localName_la"
                      disabled
                      label="LA"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].localName_en"
                      disabled
                      label="EN"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="2">
                    <v-subheader>ຊື່ສາມັນ:</v-subheader>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].commonName_la"
                      disabled
                      label="LA"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].commonName_en"
                      disabled
                      label="EN"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="2">
                    <v-subheader>ຊື່ທາງວິທະຍາສາດ:</v-subheader>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].scientificName_la"
                      disabled
                      label="LA"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].scientificName_en"
                      disabled
                      label="EN"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-divider></v-divider>
                <v-row>
                  <v-col cols="2">
                    <v-subheader>ລັກສະນະທົ່ວໄປ:</v-subheader>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].local_style_la"
                      disabled
                      label="LA"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].local_style_en"
                      disabled
                      label="EN"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="2">
                    <v-subheader>ລັກສະນະໜວດ:</v-subheader>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].mustache_style_la"
                      disabled
                      label="LA"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].mustache_style_en"
                      disabled
                      label="EN"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="2">
                    <v-subheader>ລັກສະນະປາກ:</v-subheader>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].mouth_style_la"
                      disabled
                      label="LA"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].mouth_style_en"
                      disabled
                      label="EN"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="2">
                    <v-subheader>ລັກສະນະປີກ:</v-subheader>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].wing_styla_la"
                      disabled
                      label="LA"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].wing_styla_en"
                      disabled
                      label="EN"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="2">
                    <v-subheader>ລັກສະນະຂາ:</v-subheader>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].leg_style_la"
                      disabled
                      label="LA"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].leg_style_en"
                      disabled
                      label="EN"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="2">
                    <v-subheader>ລັກສະນະຕາ:</v-subheader>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].eyes_style_la"
                      disabled
                      label="LA"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].eyes_style_en"
                      disabled
                      label="EN"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                </v-row>

                <v-divider></v-divider>
                <v-row>
                  <v-col cols="2">
                    <v-subheader>ຖິ່ນອາໄສ:</v-subheader>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field disabled label="LA" class="bt"></v-text-field>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field disabled label="EN" class="bt"></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="2">
                    <v-subheader>ອາຫານ:</v-subheader>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].insect_food_la"
                      disabled
                      label="LA"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].insect_food_en"
                      disabled
                      label="EN"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="2">
                    <v-subheader>ການໃຊ້ປະໂຫຍດ:</v-subheader>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].utilization_la"
                      disabled
                      label="LA"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].utilization_en"
                      disabled
                      label="EN"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="2">
                    <v-subheader>ວິທີຈັບ:</v-subheader>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].trap_la"
                      disabled
                      label="LA"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-model="insect[0].trap_en"
                      disabled
                      label="EN"
                      class="bt"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
            </v-container>
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <v-row>
              <v-slide-group class="pa-4" center-active show-arrows>
                <v-slide-item v-for="(file, f) in imageResize" :key="f">
                  <!-- <v-img :src="file" class="ma-4 img-fluid" height="200" width="200" /> -->
                  <img :src="file" class="ma-4 img-fluid" :title="'file' + f" />
                </v-slide-item>
              </v-slide-group>
            </v-row>
            <v-row>
              <v-col cols="2">
                <v-subheader>ພົບທີ່:</v-subheader>
              </v-col>
              <v-col cols="6">
                <v-textarea
                  disabled
                  v-model="found"
                  solo
                  name="input-7-4"
                  class="bt"
                  label="Solo textarea"
                ></v-textarea>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="2">
                <v-subheader>ວັນເດືອນປີ:</v-subheader>
              </v-col>
              <v-col cols="4">
                <v-text-field
                  v-model="itemhistory[0].date_found"
                  disabled
                  label="LA"
                  class="bt"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="2">
                <v-subheader>ຈາກນ້ຳທະເລ:</v-subheader>
              </v-col>
              <v-col cols="4">
                <v-text-field
                  v-model="itemhistory[0].sea"
                  disabled
                  label="LA"
                  class="bt"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="2">
                <v-subheader>ຕຳແຫນ່ງ:</v-subheader>
              </v-col>
              <v-col cols="4">
                <v-text-field
                  v-model="itemhistory[0].gps_found"
                  disabled
                  label="LA"
                  class="bt"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="2">
                <v-subheader>ຈັບໂດຍ:</v-subheader>
              </v-col>
              <v-col cols="4">
                <v-text-field
                  v-model="itemhistory[0].finder_name_la"
                  disabled
                  label="LA"
                  class="bt"
                ></v-text-field>
              </v-col>
              <v-col cols="4">
                <v-text-field
                  v-model="itemhistory[0].finder_name_en"
                  disabled
                  label="EN"
                  class="bt"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-tab-item>
    </v-tabs>
  </v-card>
</template>
<script>
import imageCompression from 'browser-image-compression'
export default {
  middleware: 'auth-admin',
  data: () => ({
    dialogDelete: false,
    imageResize: [],
    files: [],
    readers: [],
    image: null,
    dialog: false,
    dialog1: false,
    insect: [
      {
        insecta_id: '',
        sid: '5',
        name_la: 'A',
        name_en: 'A',
        localName_la: 'dd',
        localName_en: 'ff',
        commonName_la: 'gg',
        commonName_en: 'hh',
        scientificName_la: 'jssssssj',
        scientificName_en: 'ssssad',
        local_style_la: 'll',
        local_style_en: 'zz',
        mustache_style_la: 'cc',
        mustache_style_en: 'vv',
        mouth_style_la: 'bb',
        mouth_style_en: 'nn',
        wing_styla_la: 'mm',
        wing_styla_en: 'qq',
        leg_style_la: 'ww',
        leg_style_en: 'ee',
        eyes_style_la: 'rr',
        eyes_style_en: 'tt',
        habitat_la: 'yy',
        habitat_en: 'uu',
        insect_food_la: 'ii',
        insect_food_en: 'oo',
        utilization_la: 'pp',
        utilization_en: 'qw',
        trap_la: 'as',
        trap_en: 'df',
      },
    ],
    found: '',
    Imagename: [],
    search: '',
    alldata: [],
    KingdomItem: [],
    phylumItem: [],
    classItem: [],
    orderItem: [],
    familyItem: [],
    genusItem: [],
    speciesItem: [],
    itemProvince: [],

    itemhistory: [
      {
        log_id: 22,
        v_id: 10101,
        d_id: 101,
        pro_id: 1,
        finder_name_la: 'ພານຸສອນ',
        finder_name_en: 'Phanousone',
        v_name_la: 'ໜອງປິງ',
        v_name_en: 'Nongping',
        dr_name_la: 'ຈັນທະບູລີ',
        dr_name_en: 'Chanthabuly',
        pro_name_la: 'ນະຄອນຫລວງວຽງຈັນ',
        pro_name_en: 'Vientiane capital',
        gps_found: '18°5′48.14N,102°23′23.13E',
        date_found: '2021-05-20T17:00:00.000Z',
        upload_date: '2021-05-29T17:00:00.000Z',
        sea: 'DEC 2018. 700 m elev',
      },
    ],
    txt: '',
    description: '',
    isEdit: false,
    namePic: {
      name: '',
      index: '',
    },
    valid: true,

    rules: {
      required: (value) => !!value || 'Required.',
    },
  }),
  async fetch() {
    if (this.$nuxt.$auth.$state.user.role === 'admin') {
      console.log('ok admin')
      this.$store.commit('set_drawer', true)
      this.$store.commit('set_topbar', true)
      this.$store.commit('set_appbar', false)
      this.$store.commit('set_fullname', this.$nuxt.$auth.user.fullname)
    } else if (this.$nuxt.$auth.$state.user.role === 'researcher') {
      console.log('ok rs')
      this.$store.commit('set_drawer', true)
      this.$store.commit('set_topbar', true)
      this.$store.commit('set_appbar', false)
      this.$store.commit('set_research', true)
      this.$store.commit('set_fullname', this.$nuxt.$auth.user.fullname)
    }
    console.log(this.$route.params.id)

    this.insect[0].insecta_id = this.$route.params.id
    // this.isEdit = true
    this.$axios
      .get(`/insecta/getById/` + this.insect[0].insecta_id)
      .then((respone) => {
        this.insect = respone.data[0]
      })
    this.$axios
      .get(`/log/history_fond/` + this.insect[0].insecta_id)
      .then((result) => {
        if (result.status === 200) {
          this.itemhistory = result.data[0]

          this.found =
            'ບ້ານ' +
            this.itemhistory[0].v_name_la +
            ', ເມືອງ' +
            this.itemhistory[0].dr_name_la +
            ', ແຂວງ' +
            this.itemhistory[0].pro_name_la
        }
      })
    this.$axios
      .get(`/image/getById/` + this.insect[0].insecta_id)
      .then((result) => {
        for (var i = 0; i <= result.data.length; i++) {
          var url = 'https://ms.mndev.com/insect/' + result.data[0][i].image
          console.log(url)
          this.imageResize.push(url)
        }
      })
  },
  computed: {
    formTitle() {
      return this.isEdit === true ? 'ບັນທຶກ' : 'ແກ້ໄຂຂໍ້ມູນ'
    },

    url() {
      if (!this.image) return
      return URL.createObjectURL(this.image)
    },
  },
  methods: {
    test() {
      for (var i = 0; i < this.imageResize.length; i++) {
        console.log(this.imageResize[i])
      }
    },
    deleteItemConfirm(item, index) {
      this.dialogDelete = true
      this.namePic.name = item
      this.namePic.index = index
      console.log('name: ' + this.namePic.name + 'index: ' + this.namePic.index)
    },
    
    close() {
      this.dialog = false
    },
    closeDelete() {
      this.dialogDelete = false
    },
  },
}
</script>

<style scoped>
.v-subheader {
  justify-content: flex-end;
  font-family: 'boonhome-400' !important ;
  font-weight: normal;
  font-size: 20px;
}
.v-tab {
  font-family: 'boonhome-400' !important ;
  font-weight: bold;
  font-size: 18px;
}
.title-tab {
  font-family: 'boonhome-400' !important ;
  font-weight: bold;
  font-size: 30px;
}
.img-fluid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 200px;
  height: 200px;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}
.txtarea {
  font-family: 'boonhome-400';
  font-weight: normal;
  font-size: 20px;
  color: #ffff !important;
}
</style>