<template>
  <div>
    <v-row>
      <v-col cols="3">
        <v-card rounded class="ma-2" elevation="13">
          <h1 class="a">ຂໍ້ມູນແມງໄມ້ທັງຫມົດ</h1>

          <v-col>
            <v-row justify="center">
              <h1 class="b mr-3">{{ total_insect }}</h1>
              <h1 class="c mt-10">ຕົວ</h1>
            </v-row>
          </v-col>
        </v-card>
        <v-card rounded class="ma-2" elevation="13">
          <h1 class="a">ຂໍ້ມູນນັກຄົ້ນຄວ້າທັງຫມົດ</h1>

          <v-col>
            <v-row justify="center">
              <h1 class="b mr-3">{{ total_research }}</h1>
              <h1 class="c mt-10">ຄົນ</h1>
            </v-row>
          </v-col>
        </v-card>
      </v-col>
      <v-col cols="9">
        <v-card rounded class="ma-2" elevation="13">
          <v-container id="role" fluid tag="section">
            <v-row>
              <v-col cols="2">
                <h1 class="c mt-4">ເລືອກວັນທີ:</h1>
              </v-col>
              <v-col cols="7" sm="6">
                <v-menu
                  v-model="menu2"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="auto"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      style="
                        font-family: 'boonhome-400' !important;
                        font-size: 20px !important;
                      "
                      v-model="computedDateFormatted"
                      label="ວັນທີ/ເດືອນ/ປິ"
                      persistent-hint
                      prepend-icon="mdi-calendar"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="date"
                    no-title
                    @input="menu2 = false"
                  ></v-date-picker>
                </v-menu>
              </v-col>
              <v-col cols="1">
                <v-btn @click="getData" color="success" class="mt-4 bt"
                  >ດືງຂໍ້ມູນ</v-btn
                >
              </v-col>
            </v-row>
            <v-data-table
              :headers="headers"
              :items="desserts"
              class="elevation-1"
            >
              <template v-slot:top>
                <v-toolbar color="teal">
                  <v-toolbar-title class="title-header"
                    >ລາຍງານຂໍ້ມູນແມງໄມ້</v-toolbar-title
                  >
                  <v-divider
                    vertical
                    style="
                      margin-left: 10px;
                      margin-right: 10px;
                      background-color: white;
                    "
                  ></v-divider>
                  <!-- <v-text-field
                    v-model="search"
                    append-icon="mdi-magnify"
                    label="Search"
                    single-line
                    hide-details
                    filled
                    style="background-color: white"
                  ></v-text-field> -->
                  <v-spacer></v-spacer>
                </v-toolbar>
              </template>

              <template v-slot:item="{ item }">
                <tr>
                  <td>{{ item.insecta_id }}</td>
                  <!-- <td>{{item.name}}</td> -->
                  <td>
                    <div>{{ item.insecta_name_la }}</div>
                    <div>{{ item.insecta_name_en }}</div>
                  </td>
                  <td>
                    <div>{{ item.species_name_la }}</div>
                    <div>{{ item.species_name_en }}</div>
                  </td>
                  <td>
                    <div>{{ item.upload_date }}</div>
                  </td>
                  <td>
                    <div>{{ item.activate }}</div>
                  </td>
                  <td>
                    <v-btn @click="next(item.insecta_id)" color="primary"
                      >Detail</v-btn
                    >
                  </td>
                </tr>
              </template>
            </v-data-table>
          </v-container>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
//import ApexCharts from 'apexcharts'
import VueApexCharts from 'vue-apexcharts'
import JsonCSV from 'vue-json-csv'
export default {
  components: {
    apexcharts: VueApexCharts,
    JsonCSV,
  },

  data: (vm) => ({
    date: new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
      .toISOString()
      .substr(0, 10),
    dateFormatted: vm.formatDate(
      new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
        .toISOString()
        .substr(0, 10)
    ),
    menu1: false,
    menu2: false,
    total_insect: '',
    total_research: '',
    activateColor: '',
    roles: ['ນັກຄົ້ນຄວ້າ', 'ສະມາຊິກ'],
    dialog: false,
    search: '',
    dialogDelete: false,
    headers: [
      {
        text: 'ID',
        align: 'start',
        sortable: false,
        value: 'log_id',
      },
      { text: 'insecta_name', value: 'insecta_name_la', align: ' d-none' },
      { text: 'insecta_name', value: 'insecta_name_en' },
      { text: 'species', value: 'species_name_la', align: ' d-none' },
      { text: 'species', value: 'species_name_en' },
      { text: 'upload_date', value: 'upload_date' },
      { text: 'activate', value: 'activate' },
      { text: 'Actions', value: 'actions', sortable: false, align: 'end' },
    ],
    desserts: [],
    editedIndex: -1,
    editedItem: {},
    defaultItem: {},
    insectainfo: [],
  }),
  middleware: 'auth-admin',

  async fetch() {
    if (this.$nuxt.$auth.$state.user.role === 'admin') {
      this.$store.commit('set_drawer', true)
      this.$store.commit('set_topbar', true)
      this.$store.commit('set_appbar', false)
      this.$store.commit('set_fullname', this.$nuxt.$auth.user.fullname)
    } else if (this.$nuxt.$auth.$state.user.role === 'researcher') {
      this.$store.commit('set_drawer', true)
      this.$store.commit('set_topbar', true)
      this.$store.commit('set_appbar', false)
      this.$store.commit('set_research', true)
      this.$store.commit('set_fullname', this.$nuxt.$auth.user.fullname)
    }
    this.$axios.get(`/report_and_statistics/report_insecta`).then((result) => {
      this.total_insect = result.data[0][0].Total
      console.log('total:' + this.total_insect.toString())
    })
    this.$axios
      .get(`/report_and_statistics/report_researcher`)
      .then((result) => {
        this.total_research = result.data[0][0].Total
        console.log('total:' + this.total_research.toString())
      })
  },
  computed: {
    computedDateFormatted() {
      return this.formatDate(this.date)
    },
  },
  watch: {
    date(val) {
      this.dateFormatted = this.formatDate(this.date)
    },
  },
  methods: {
    next(insecta_id) {
      this.$router.push({
        name: 'report-id',
        params: {
          id: insecta_id,
        },
      })
    },
    formatDate(date) {
      if (!date) return null
      const [year, month, day] = date.split('-')
      return `${day}-${month}-${year}`
    },
    parseDate(date) {
      if (!date) return null
      const [month, day, year] = date.split('/')
      return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
    },
    getData() {
      console.log(this.date)
      this.$axios
        .get(
          `/report_and_statistics/report_insecta_by_date/` +
            this.date.toString()
        )
        .then((result) => {
          const handledata = (list, prop) => {
            //change some string in object but use old object
            return list.map((item) => {
              var result
              const obj = Object.assign({}, item)
              if (obj[prop] == '1') {
                result = 'activated'
              } else if (obj[prop] == '2') {
                result = 'Not Activated'
              } else if (obj[prop] == '0') {
                result = 'Pending'
              }
              obj[prop] = result
              return this.insectainfo.push(obj)
            })
          }
          handledata(result.data[0], 'activate')
          this.desserts = this.insectainfo
        })
    },
  },
}
</script>

<style>
.container {
  position: relative;
  text-align: center;
  color: white;
}

.titleimage {
  font-family: 'boonhome-400';
  font-weight: bold;
  font-size: 20px !important;
}
@media screen and (min-width: 300px) {
  h1.b {
    font-family: 'boonhome-400';
    font-size: 2rem;
    font-weight: bold;
    color: #2d852d;
  }
  .img-fluid {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 120px;
    height: 120px;
  }
  h1.a {
    font-family: 'boonhome-400';
    font-size: 1rem !important;
    font-weight: bold;
    text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: #202020;
  }
  h1.c {
    font-family: 'boonhome-400' !important;
    font-size: 1rem !important;
    font-weight: bold;
    text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: #2525258a;
  }
}
@media screen and (min-width: 1025px) {
  h1.b {
    font-family: 'boonhome-400';
    font-size: 4rem;
    font-weight: bold;
    color: #2d852d;
  }
  .img-fluid {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 200px;
    height: 200px;
  }
  h1.a {
    font-family: 'boonhome-400' !important;
    font-size: 2rem !important;
    font-weight: bold;
    text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: #202020;
  }
  h1.c {
    font-family: 'boonhome-400' !important;
    font-size: 1.5rem !important;
    font-weight: bold;
    text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: #2525258a;
  }
}
</style>