<template>
  <v-card>
    <v-form ref="form" v-model="valid" lazy-validation>
      <v-toolbar flat color="teal" dark>
        <v-toolbar-title class="title-header"
          >Upload ຂໍ້ມູນແມງໄມ້</v-toolbar-title
        >
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="1200px">
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              :disabled="!valid"
              color="green"
              dark
              v-bind="attrs"
              v-on="on"
            >
              Upload
              <v-icon class="ml-2">mdi-check</v-icon>
            </v-btn>
          </template>
          <v-card>
            <v-card-title class="bg-title">
              <span
                class="headline"
                style="
                  font-family: 'boonhome-400' !important;
                  font-weight: bold;
                  font-size: 30px;
                  margin-left: 10px;
                "
                >ກວດສອບກ່ອນຢືນຢັນອັບໂຫລດ</span
              >
            </v-card-title>
            <v-card-text>
              <v-container style="margin-top: 10px">
                <v-col>
                  <v-row>
                    <v-col cols="2">
                      <v-subheader>ຊື່ທົ່ວໄປ:</v-subheader>
                    </v-col>
                    <v-col cols="4">
                      <v-text-field
                        v-model="insect[0].name_la"
                        disabled
                        label="LA"
                        class="bt"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="4">
                      <v-text-field
                        v-model="insect[0].name_en"
                        disabled
                        label="EN"
                        class="bt"
                      ></v-text-field>
                    </v-col>
                  </v-row>

                  <v-row>
                    <v-col cols="2">
                      <v-subheader>ຊື່ທ້ອງຖິ່ນ:</v-subheader>
                    </v-col>
                    <v-col cols="4">
                      <v-text-field
                        v-model="insect[0].localName_la"
                        disabled
                        label="LA"
                        class="bt"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="4">
                      <v-text-field
                        v-model="insect[0].localName_en"
                        disabled
                        label="EN"
                        class="bt"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="2">
                      <v-subheader>ຊື່ສາມັນ:</v-subheader>
                    </v-col>
                    <v-col cols="4">
                      <v-text-field
                        v-model="insect[0].commonName_la"
                        disabled
                        label="LA"
                        class="bt"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="4">
                      <v-text-field
                        v-model="insect[0].commonName_en"
                        disabled
                        label="EN"
                        class="bt"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="2">
                      <v-subheader>ຊື່ທາງວິທະຍາສາດ:</v-subheader>
                    </v-col>
                    <v-col cols="4">
                      <v-text-field
                        v-model="insect[0].scientificName_la"
                        disabled
                        label="LA"
                        class="bt"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="4">
                      <v-text-field
                        v-model="insect[0].scientificName_en"
                        disabled
                        label="EN"
                        class="bt"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-divider></v-divider>
                  <v-row>
                    <v-col cols="2">
                      <v-subheader>ລັກສະນະທົ່ວໄປ:</v-subheader>
                    </v-col>
                    <v-col cols="4">
                      <v-text-field
                        v-model="insect[0].local_style_la"
                        disabled
                        label="LA"
                        class="bt"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="4">
                      <v-text-field
                        v-model="insect[0].local_style_en"
                        disabled
                        label="EN"
                        class="bt"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="2">
                      <v-subheader>ລັກສະນະໜວດ:</v-subheader>
                    </v-col>
                    <v-col cols="4">
                      <v-text-field
                        v-model="insect[0].mustache_style_la"
                        disabled
                        label="LA"
                        class="bt"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="4">
                      <v-text-field
                        v-model="insect[0].mustache_style_en"
                        disabled
                        label="EN"
                        class="bt"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="2">
                      <v-subheader>ລັກສະນະປາກ:</v-subheader>
                    </v-col>
                    <v-col cols="4">
                      <v-text-field
                        v-model="insect[0].mouth_style_la"
                        disabled
                        label="LA"
                        class="bt"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="4">
                      <v-text-field
                        v-model="insect[0].mouth_style_en"
                        disabled
                        label="EN"
                        class="bt"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="2">
                      <v-subheader>ລັກສະນະປີກ:</v-subheader>
                    </v-col>
                    <v-col cols="4">
                      <v-text-field
                        v-model="insect[0].wing_styla_la"
                        disabled
                        label="LA"
                        class="bt"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="4">
                      <v-text-field
                        v-model="insect[0].wing_styla_en"
                        disabled
                        label="EN"
                        class="bt"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="2">
                      <v-subheader>ລັກສະນະຂາ:</v-subheader>
                    </v-col>
                    <v-col cols="4">
                      <v-text-field
                        v-model="insect[0].leg_style_la"
                        disabled
                        label="LA"
                        class="bt"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="4">
                      <v-text-field
                        v-model="insect[0].leg_style_en"
                        disabled
                        label="EN"
                        class="bt"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="2">
                      <v-subheader>ລັກສະນະຕາ:</v-subheader>
                    </v-col>
                    <v-col cols="4">
                      <v-text-field
                        v-model="insect[0].eyes_style_la"
                        disabled
                        label="LA"
                        class="bt"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="4">
                      <v-text-field
                        v-model="insect[0].eyes_style_en"
                        disabled
                        label="EN"
                        class="bt"
                      ></v-text-field>
                    </v-col>
                  </v-row>

                  <v-divider></v-divider>
                  <v-row>
                    <v-col cols="2">
                      <v-subheader>ຖິ່ນອາໄສ:</v-subheader>
                    </v-col>
                    <v-col cols="4">
                      <v-text-field
                        v-model="insect[0].habitat_la"
                        disabled
                        label="LA"
                        class="bt"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="4">
                      <v-text-field
                        v-model="insect[0].habitat_en"
                        disabled
                        label="EN"
                        class="bt"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="2">
                      <v-subheader>ອາຫານ:</v-subheader>
                    </v-col>
                    <v-col cols="4">
                      <v-text-field
                        v-model="insect[0].insect_food_la"
                        disabled
                        label="LA"
                        class="bt"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="4">
                      <v-text-field
                        v-model="insect[0].insect_food_en"
                        disabled
                        label="EN"
                        class="bt"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="2">
                      <v-subheader>ການໃຊ້ປະໂຫຍດ:</v-subheader>
                    </v-col>
                    <v-col cols="4">
                      <v-text-field
                        v-model="insect[0].utilization_la"
                        disabled
                        label="LA"
                        class="bt"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="4">
                      <v-text-field
                        v-model="insect[0].utilization_en"
                        disabled
                        label="EN"
                        class="bt"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="2">
                      <v-subheader>ວິທີຈັບ:</v-subheader>
                    </v-col>
                    <v-col cols="4">
                      <v-text-field
                        v-model="insect[0].trap_la"
                        disabled
                        label="LA"
                        class="bt"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="4">
                      <v-text-field
                        v-model="insect[0].trap_en"
                        disabled
                        label="EN"
                        class="bt"
                      ></v-text-field>
                    </v-col>
                  </v-row>

                  <v-divider></v-divider>
                  <v-row justify="center">
                    <div style="margin-top: 10px">
                      <v-btn
                        :disabled="isActive"
                        x-large
                        depressed
                        @click="upload()"
                        color="success"
                        class="bt"
                        >{{ formTitle }}</v-btn
                      >

                      <v-btn
                        @click="next()"
                        v-if="isActive"
                        x-large
                        depressed
                        color="yellow"
                        class="bt"
                        >ເພີ່ມການຄົ້ນພົບໃຫມ່</v-btn
                      >
                      <v-btn
                        x-large
                        depressed
                        color="grey"
                        class="bt"
                        @click="close()"
                        >ຍົກເລີກ</v-btn
                      >
                    </div>
                  </v-row>
                </v-col>
              </v-container>
            </v-card-text>
            <v-card-actions></v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
      <v-tabs color="deep-purple accent-4" left>
        <v-tab> ສາຍພັນ ແລະ ຊື່ </v-tab>
        <v-tab> ລັກສະນະທາງຊີວະ </v-tab>
        <v-tab> ອື່ນໆ </v-tab>
        <v-tab> ຮູບພາບ </v-tab>
        <v-tab-item>
          <v-card flat>
            <v-card-text>
              <div>
                <span class="headline title-tab">ເລືອກສາຍພັນແມງໄມ້</span>
              </div>
              <v-row>
                <v-col cols="3">
                  <v-select
                    v-model="kid"
                    :items="KingdomItem"
                    dense
                    solo
                    label="kingdom"
                    item-text="name_en"
                    item-value="kid"
                    item-color="green"
                    style="font-weight: bold; font-family: 'boonhome-400'"
                  >
                    <template v-slot:item="data">
                      <template>
                        <v-list-item-content>
                          <v-list-item-title
                            v-html="data.item.name_en"
                          ></v-list-item-title>
                        </v-list-item-content>
                      </template>
                    </template>
                  </v-select>
                </v-col>
                <v-col cols="3">
                  <v-select
                    v-model="pid"
                    :items="filteredDataPhyrum"
                    dense
                    solo
                    label="phylum"
                    item-text="p_name_en"
                    item-value="pid"
                    item-color="green"
                    style="font-weight: bold; font-family: 'boonhome-400'"
                  >
                    <template v-slot:item="data">
                      <template>
                        <v-list-item-content>
                          <v-list-item-title
                            v-html="data.item.p_name_en"
                          ></v-list-item-title>
                        </v-list-item-content>
                      </template>
                    </template>
                  </v-select>
                </v-col>
                <v-col cols="3">
                  <v-select
                    v-model="cid"
                    dense
                    solo
                    :items="filterClass"
                    label="class"
                    item-text="c_name_en"
                    item-value="cid"
                    item-color="green"
                    style="font-weight: bold; font-family: 'boonhome-400'"
                  >
                    <template v-slot:item="data">
                      <template>
                        <v-list-item-content>
                          <v-list-item-title
                            v-html="'Class: ' + data.item.c_name_en"
                          ></v-list-item-title>
                          <v-list-item-subtitle
                            v-html="'Phylum: ' + data.item.p_name_en"
                          ></v-list-item-subtitle>
                        </v-list-item-content>
                      </template>
                    </template>
                  </v-select>
                </v-col>
                <v-col cols="3">
                  <v-select
                    v-model="oid"
                    dense
                    solo
                    :items="filterOrder"
                    label="order"
                    item-text="o_name_en"
                    item-value="oid"
                    item-color="green"
                    style="font-weight: bold; font-family: 'boonhome-400'"
                  >
                    <template v-slot:item="data">
                      <template>
                        <v-list-item-content>
                          <v-list-item-title
                            v-html="'Order: ' + data.item.o_name_en"
                          ></v-list-item-title>
                          <v-list-item-subtitle
                            v-html="'Class: ' + data.item.c_name_en"
                          ></v-list-item-subtitle>
                        </v-list-item-content>
                      </template>
                    </template>
                  </v-select>
                </v-col>
                <v-col cols="3">
                  <v-select
                    v-model="fid"
                    dense
                    solo
                    :items="filterFamily"
                    label="family"
                    item-text="f_name_en"
                    item-value="fid"
                    item-color="green"
                    style="font-weight: bold; font-family: 'boonhome-400'"
                  >
                    <template v-slot:item="data">
                      <template>
                        <v-list-item-content>
                          <v-list-item-title
                            v-html="'family: ' + data.item.f_name_en"
                          ></v-list-item-title>
                          <v-list-item-subtitle
                            v-html="'Order: ' + data.item.o_name_en"
                          ></v-list-item-subtitle>
                        </v-list-item-content>
                      </template>
                    </template>
                  </v-select>
                </v-col>
                <v-col cols="3">
                  <v-select
                    v-model="gid"
                    dense
                    solo
                    :items="filterGenus"
                    label="genus"
                    item-text="g_name_en"
                    item-value="g_name_en"
                    item-color="green"
                    style="font-weight: bold; font-family: 'boonhome-400'"
                  >
                    <template v-slot:item="data">
                      <template>
                        <v-list-item-content>
                          <v-list-item-title
                            v-html="'Genus: ' + data.item.g_name_en"
                          ></v-list-item-title>
                          <v-list-item-subtitle
                            v-html="'Family: ' + data.item.f_name_en"
                          ></v-list-item-subtitle>
                        </v-list-item-content>
                      </template>
                    </template>
                  </v-select>
                </v-col>
                <v-col cols="3">
                  <v-select
                    v-model="insect[0].sid"
                    dense
                    solo
                    :items="filterSpecies"
                    :rules="[(v) => !!v || 'Item is required']"
                    label="species"
                    item-text="s_name_en"
                    item-value="sid"
                    item-color="green"
                    style="font-weight: bold; font-family: 'boonhome-400'"
                  >
                    <template v-slot:item="data">
                      <template>
                        <v-list-item-content>
                          <v-list-item-title
                            v-html="'Species: ' + data.item.s_name_en"
                          ></v-list-item-title>
                          <v-list-item-subtitle
                            v-html="'Genus: ' + data.item.g_name_en"
                          ></v-list-item-subtitle>
                        </v-list-item-content>
                      </template>
                    </template>
                  </v-select>
                </v-col>
              </v-row>
              <v-divider class="ma-2"></v-divider>
              <div style="margin-top: 20px">
                <span class="headline title-tab">ເພີ່ມຊື່ແມງໄມ້</span>
              </div>
              <v-row>
                <v-col cols="2">
                  <v-subheader>ຊື່ທົ່ວໄປ:</v-subheader>
                </v-col>
                <v-col cols="4">
                  <v-text-field
                    v-model="insect[0].name_la"
                    solo-inverted
                    label="LA"
                    class="bt"
                  ></v-text-field>
                </v-col>
                <v-col cols="4">
                  <v-text-field
                    v-model="insect[0].name_en"
                    solo-inverted
                    label="EN"
                    class="bt"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="2">
                  <v-subheader>ຊື່ທ້ອງຖິ່ນ:</v-subheader>
                </v-col>
                <v-col cols="4">
                  <v-text-field
                    v-model="insect[0].localName_la"
                    solo-inverted
                    label="LA"
                    class="bt"
                  ></v-text-field>
                </v-col>
                <v-col cols="4">
                  <v-text-field
                    v-model="insect[0].localName_en"
                    solo-inverted
                    label="EN"
                    class="bt"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="2">
                  <v-subheader>ຊື່ສາມັນ:</v-subheader>
                </v-col>
                <v-col cols="4">
                  <v-text-field
                    v-model="insect[0].commonName_la"
                    solo-inverted
                    label="LA"
                    class="bt"
                  ></v-text-field>
                </v-col>
                <v-col cols="4">
                  <v-text-field
                    v-model="insect[0].commonName_en"
                    solo-inverted
                    label="EN"
                    class="bt"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="2">
                  <v-subheader>ຊື່ທາງວິທະຍາສາດ:</v-subheader>
                </v-col>
                <v-col cols="4">
                  <v-text-field
                    :rules="[rules.required]"
                    v-model="insect[0].scientificName_la"
                    solo-inverted
                    label="LA"
                    class="bt"
                  ></v-text-field>
                </v-col>
                <v-col cols="4">
                  <v-text-field
                    :rules="[rules.required]"
                    v-model="insect[0].scientificName_en"
                    solo-inverted
                    label="EN"
                    class="bt"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-tab-item>

        <v-tab-item>
          <v-card flat>
            <v-card-text>
              <v-row>
                <v-col cols="2">
                  <v-subheader>ລັກສະນະທົ່ວໄປ:</v-subheader>
                </v-col>
                <v-col cols="4">
                  <v-text-field
                    v-model="insect[0].local_style_la"
                    solo-inverted
                    label="LA"
                    class="bt"
                  ></v-text-field>
                </v-col>
                <v-col cols="4">
                  <v-text-field
                    v-model="insect[0].local_style_en"
                    solo-inverted
                    label="EN"
                    class="bt"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="2">
                  <v-subheader>ລັກສະນະໜວດ:</v-subheader>
                </v-col>
                <v-col cols="4">
                  <v-text-field
                    v-model="insect[0].mustache_style_la"
                    solo-inverted
                    label="LA"
                    class="bt"
                  ></v-text-field>
                </v-col>
                <v-col cols="4">
                  <v-text-field
                    v-model="insect[0].mustache_style_en"
                    solo-inverted
                    label="EN"
                    class="bt"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="2">
                  <v-subheader>ລັກສະນະປາກ:</v-subheader>
                </v-col>
                <v-col cols="4">
                  <v-text-field
                    v-model="insect[0].mouth_style_la"
                    solo-inverted
                    label="LA"
                    class="bt"
                  ></v-text-field>
                </v-col>
                <v-col cols="4">
                  <v-text-field
                    v-model="insect[0].mouth_style_en"
                    solo-inverted
                    label="EN"
                    class="bt"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="2">
                  <v-subheader>ລັກສະນະປີກ:</v-subheader>
                </v-col>
                <v-col cols="4">
                  <v-text-field
                    v-model="insect[0].wing_styla_la"
                    solo-inverted
                    label="LA"
                    class="bt"
                  ></v-text-field>
                </v-col>
                <v-col cols="4">
                  <v-text-field
                    v-model="insect[0].wing_styla_en"
                    solo-inverted
                    label="EN"
                    class="bt"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="2">
                  <v-subheader>ລັກສະນະຂາ:</v-subheader>
                </v-col>
                <v-col cols="4">
                  <v-text-field
                    v-model="insect[0].leg_style_la"
                    solo-inverted
                    label="LA"
                    class="bt"
                  ></v-text-field>
                </v-col>
                <v-col cols="4">
                  <v-text-field
                    v-model="insect[0].leg_style_en"
                    solo-inverted
                    label="EN"
                    class="bt"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="2">
                  <v-subheader>ລັກສະນະຕາ:</v-subheader>
                </v-col>
                <v-col cols="4">
                  <v-text-field
                    v-model="insect[0].eyes_style_la"
                    solo-inverted
                    label="LA"
                    class="bt"
                  ></v-text-field>
                </v-col>
                <v-col cols="4">
                  <v-text-field
                    v-model="insect[0].eyes_style_en"
                    solo-inverted
                    label="EN"
                    class="bt"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-tab-item>

        <v-tab-item>
          <v-card flat>
            <v-card-text>
              <v-row>
                <v-col cols="2">
                  <v-subheader>ຖິ່ນອາໄສ:</v-subheader>
                </v-col>
                <v-col cols="4">
                  <v-text-field
                    v-model="insect[0].habitat_la"
                    solo-inverted
                    label="LA"
                    class="bt"
                  ></v-text-field>
                </v-col>
                <v-col cols="4">
                  <v-text-field
                    v-model="insect[0].habitat_en"
                    solo-inverted
                    label="EN"
                    class="bt"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="2">
                  <v-subheader>ອາຫານ:</v-subheader>
                </v-col>
                <v-col cols="4">
                  <v-text-field
                    v-model="insect[0].insect_food_la"
                    solo-inverted
                    label="LA"
                    class="bt"
                  ></v-text-field>
                </v-col>
                <v-col cols="4">
                  <v-text-field
                    v-model="insect[0].insect_food_en"
                    solo-inverted
                    label="EN"
                    class="bt"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="2">
                  <v-subheader>ການໃຊ້ປະໂຫຍດ:</v-subheader>
                </v-col>
                <v-col cols="4">
                  <v-text-field
                    v-model="insect[0].utilization_la"
                    solo-inverted
                    label="LA"
                    class="bt"
                  ></v-text-field>
                </v-col>
                <v-col cols="4">
                  <v-text-field
                    v-model="insect[0].utilization_en"
                    solo-inverted
                    label="EN"
                    class="bt"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="2">
                  <v-subheader>ວິທີຈັບ:</v-subheader>
                </v-col>
                <v-col cols="4">
                  <v-text-field
                    v-model="insect[0].trap_la"
                    solo-inverted
                    label="LA"
                    class="bt"
                  ></v-text-field>
                </v-col>
                <v-col cols="4">
                  <v-text-field
                    v-model="insect[0].trap_en"
                    solo-inverted
                    label="EN"
                    class="bt"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-tab-item>
        <v-tab-item>
          <v-card flat>
            <v-card-text>
              <v-container>
                <v-file-input
                  accept="image/*"
                  label="Select files"
                  prepend-icon="mdi-camera"
                  multiple
                  chips
                  color="pink"
                  v-model="files"
                  @change="addFiles"
                ></v-file-input>
                <h2
                  v-if="isEdit"
                  class="font-weight-light pink--text"
                  style="font-family: 'boonhome-400' !important"
                >
                  ໝາຍເຫດ:
                  ການປ່ຽນແປງໃນໜ້ານີ້ຈະສົ່ງຜົນຕໍ່ຖານຂໍ້ມູນໂດຍກົງກະລຸນາແກ້ໄຂຢ່າງລະມັດລະວັງ
                </h2>
                <v-row>
                  <v-col sm="4" v-for="(file, f) in imageResize" :key="f">
                    <div class="container">
                      <v-btn
                        v-if="isEdit"
                        @click="deleteItemConfirm(file, f)"
                        class="top-right"
                        icon
                        color="red"
                      >
                        <v-icon medium dark>mdi-close-circle</v-icon>
                      </v-btn>
                      <img :src="file" class="img-fluid" :title="'file' + f" />
                    </div>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>
          </v-card>
        </v-tab-item>
      </v-tabs>
      <v-dialog v-model="dialogDelete" max-width="450px">
        <v-card>
          <v-card-title class="headline title-tab">
            <v-row justify="center">
              <h2
                class="font-weight-light pink--text"
                style="font-family: 'boonhome-400' !important"
              >
                ເຈົ້າຕ້ອງການລົບຂໍ້ມູນນີ້ ຫຼື ບໍ່?
              </h2>
            </v-row></v-card-title
          >
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="grey " @click="closeDelete">Cancel</v-btn>
            <v-btn color="green darken-1" @click="deleteImage">OK</v-btn>
            <v-spacer></v-spacer>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog v-model="dialogstt" max-width="500px">
        <v-card>
          <v-card-title class="headline title-tab">
            <v-row justify="center">
              <h2
                class="font-weight-light pink--text text-center"
                style="font-family: 'boonhome-400' !important"
              >
                ແມງໄມ້ຊະນິດນີ້ຖືກເພີ່ມແລ້ວ, ຕ້ອງການເພີ່ມຂໍ້ມູນການຄົ້ນພົບໃຫມ່ ຫຼື
                ບໍ່ ?
              </h2>
            </v-row></v-card-title
          >
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="grey" @click="closestt">Cancel</v-btn>
            <v-btn color="green darken-1" @click="next()">OK</v-btn>
            <v-spacer></v-spacer>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <mydialog :mydialog="detail" />
    </v-form>
  </v-card>
</template>
<script>
import imageCompression from 'browser-image-compression'
import mydialog from '../../components/mydialog.vue'
export default {
  components: { mydialog },
  middleware: 'auth-admin',
  data: () => ({
    dialogDelete: false,
    dialogstt: false,
    imageResize: [],
    files: [],
    readers: [],
    image: null,
    dialog: false,
    insect: [
      {
        sid: '',
        name_la: '',
        name_en: '',
        localName_la: '',
        localName_en: '',
        commonName_la: '',
        commonName_en: '',
        scientificName_la: '',
        scientificName_en: '',
        local_style_la: '',
        local_style_en: '',
        mustache_style_la: '',
        mustache_style_en: '',
        mouth_style_la: '',
        mouth_style_en: '',
        wing_styla_la: '',
        wing_styla_en: '',
        leg_style_la: '',
        leg_style_en: '',
        eyes_style_la: '',
        eyes_style_en: '',
        habitat_la: '',
        habitat_en: '',
        insect_food_la: '',
        insect_food_en: '',
        utilization_la: '',
        utilization_en: '',
        trap_la: '',
        trap_en: '',
      },
    ],
    kid: '',
    pid: '',
    cid: '',
    oid: '',
    fid: '',
    gid: '',
    species: '',
    Imagename: [],
    search: '',
    alldata: [],
    KingdomItem: [],
    phylumItem: [],
    classItem: [],
    orderItem: [],
    familyItem: [],
    genusItem: [],
    speciesItem: [],
    itemProvince: [],
    isEdit: false,
    isActive: false,
    namePic: {
      name: '',
      index: '',
    },
    valid: true,
    detail: {
      stt: '',
      color: '',
      Head: '',
      Text: '',
      icon: '',
    },
    rules: {
      required: (value) => !!value || 'Required.',
    },
  }),
  async fetch() {
    console.log('detail:' + this.$route.params.id)
    if (this.$nuxt.$auth.$state.user.role === 'admin') {
      console.log('ok admin')
      this.$store.commit('set_drawer', true)
      this.$store.commit('set_topbar', true)
      this.$store.commit('set_appbar', false)
      this.$store.commit('set_fullname', this.$nuxt.$auth.user.fullname)
    } else if (this.$nuxt.$auth.$state.user.role === 'researcher') {
      console.log('ok rs')
      this.$store.commit('set_drawer', true)
      this.$store.commit('set_topbar', true)
      this.$store.commit('set_appbar', false)
      this.$store.commit('set_research', true)
      this.$store.commit('set_fullname', this.$nuxt.$auth.user.fullname)
    }
  },
  computed: {
    formTitle() {
      return this.isEdit === true ? 'ແກ້ໄຂຂໍ້ມູນ' : 'ບັນທຶກ'
    },
    filteredDataPhyrum() {
      return this.phylumItem.filter((item) => `${item.kid}`.includes(this.kid))
    },
    filterClass() {
      return this.classItem.filter((item) => `${item.pid}`.includes(this.pid))
    },
    filterOrder() {
      return this.orderItem.filter((item) => `${item.cid}`.includes(this.cid))
    },
    filterFamily() {
      return this.familyItem.filter((item) => `${item.oid}`.includes(this.oid))
    },
    filterGenus() {
      return this.genusItem.filter((item) => `${item.fid}`.includes(this.fid))
    },
    filterSpecies() {
      return this.speciesItem.filter((item) =>
        `${item.g_name_en}`.includes(this.gid)
      )
    },
    url() {
      if (!this.image) return
      return URL.createObjectURL(this.image)
    },
  },
  methods: {
    closestt() {
      this.dialogstt = false
    },
    next() {
      this.$router.push({
        name: 'upload-log-id',
        params: {
          id: this.insect[0].insecta_id,
        },
      })
    },
    upload() {
      if (this.isEdit == true) {
        this.$axios
          .put('/insecta/edit-insecta', {
            insecta_id: this.insect[0].insecta_id.toString(),
            sid: this.insect[0].sid.toString(),
            name_la: this.insect[0].name_la.toString(),
            name_en: this.insect[0].name_en.toString(),
            localName_la: this.insect[0].localName_la.toString(),
            localName_en: this.insect[0].localName_en.toString(),
            commonName_la: this.insect[0].commonName_la.toString(),
            commonName_en: this.insect[0].commonName_en.toString(),
            scientificName_la: this.insect[0].scientificName_la.toString(),
            scientificName_en: this.insect[0].scientificName_en.toString(),
            local_style_la: this.insect[0].local_style_la.toString(),
            local_style_en: this.insect[0].local_style_en.toString(),
            mustache_style_la: this.insect[0].mustache_style_la.toString(),
            mustache_style_en: this.insect[0].mustache_style_en.toString(),
            mouth_style_la: this.insect[0].mouth_style_la.toString(),
            mouth_style_en: this.insect[0].mouth_style_en.toString(),
            wing_styla_la: this.insect[0].wing_styla_la.toString(),
            wing_styla_en: this.insect[0].wing_styla_en.toString(),
            leg_style_la: this.insect[0].leg_style_la.toString(),
            leg_style_en: this.insect[0].leg_style_en.toString(),
            eyes_style_la: this.insect[0].eyes_style_la.toString(),
            eyes_style_en: this.insect[0].eyes_style_en.toString(),
            habitat_la: this.insect[0].habitat_la.toString(),
            habitat_en: this.insect[0].habitat_en.toString(),
            insect_food_la: this.insect[0].insect_food_la.toString(),
            insect_food_en: this.insect[0].insect_food_en.toString(),
            utilization_la: this.insect[0].utilization_la.toString(),
            utilization_en: this.insect[0].utilization_en.toString(),
            trap_la: this.insect[0].trap_la.toString(),
            trap_en: this.insect[0].trap_en.toString(),
          })
          .then((response) => {
            this.detail = {
              stt: true,
              color: 'teal',
              Head: 'ແກ້ໄຂສຳເລັດ',
              Text: 'ອັບໂລດສຳເລັດ, ກະລຸນາອັບໂຫລດຂໍ້ມູນການຄົ້ນພົບຕໍ່ໄປ',
              icon: 'mdi-checkbox-marked-circle-outline',
            }

            setTimeout(
              () =>
                this.$router.push({
                  name: 'upload-log-id',
                  params: {
                    id: this.insect[0].insecta_id,
                  },
                }),
              4000
            )
          })
      } else {
        this.$axios
          .post('/insecta/post-insecta', {
            sid: this.insect[0].sid.toString(),
            name_la: this.insect[0].name_la.toString(),
            name_en: this.insect[0].name_en.toString(),
            localName_la: this.insect[0].localName_la.toString(),
            localName_en: this.insect[0].localName_en.toString(),
            commonName_la: this.insect[0].commonName_la.toString(),
            commonName_en: this.insect[0].commonName_en.toString(),
            scientificName_la: this.insect[0].scientificName_la.toString(),
            scientificName_en: this.insect[0].scientificName_en.toString(),
            local_style_la: this.insect[0].local_style_la.toString(),
            local_style_en: this.insect[0].local_style_en.toString(),
            mustache_style_la: this.insect[0].mustache_style_la.toString(),
            mustache_style_en: this.insect[0].mustache_style_en.toString(),
            mouth_style_la: this.insect[0].mouth_style_la.toString(),
            mouth_style_en: this.insect[0].mouth_style_en.toString(),
            wing_styla_la: this.insect[0].wing_styla_la.toString(),
            wing_styla_en: this.insect[0].wing_styla_en.toString(),
            leg_style_la: this.insect[0].leg_style_la.toString(),
            leg_style_en: this.insect[0].leg_style_en.toString(),
            eyes_style_la: this.insect[0].eyes_style_la.toString(),
            eyes_style_en: this.insect[0].eyes_style_en.toString(),
            habitat_la: this.insect[0].habitat_la.toString(),
            habitat_en: this.insect[0].habitat_en.toString(),
            insect_food_la: this.insect[0].insect_food_la.toString(),
            insect_food_en: this.insect[0].insect_food_en.toString(),
            utilization_la: this.insect[0].utilization_la.toString(),
            utilization_en: this.insect[0].utilization_en.toString(),
            trap_la: this.insect[0].trap_la.toString(),
            trap_en: this.insect[0].trap_en.toString(),
          })
          .then((response) => {
            if (response.status === 201) {
              console.log('post success')
              var insectid = response.data[0].insecta_id
              if (this.imageResize.length == 0) {
                this.detail = {
                  stt: true,
                  color: 'teal',
                  Head: 'ອັບໂຫຼດສຳເລັດ',
                  Text: 'ອັບໂລດຂໍ້ມູນແມງໄມ້ສຳເລັດ, ກະລຸນາອັບໂຫລດຂໍ້ມູນການຄົ້ນພົບຕໍ່ໄປ',
                  icon: 'mdi-checkbox-marked-circle-outline',
                }

                setTimeout(
                  () =>
                    this.$router.push({
                      name: 'upload-log-id',
                      params: {
                        id: insectid,
                      },
                    }),
                  4000
                )
              } else {
                for (var i = 0; i < this.imageResize.length; i++) {
                  this.$axios
                    .post('https://ms.mndev.com/upload64', {
                      data64: this.imageResize[i],
                    })
                    .then((result) => {
                      console.log('upload to storage success')
                      if (result.status === 200) {
                        this.$axios
                          .post('/image/post-image', {
                            insecta_id: insectid.toString(),
                            image_name: result.data,
                          })
                          .then((response1) => {
                            if (response1.status === 201) {
                              this.detail = {
                                stt: true,
                                color: 'teal',
                                Head: 'ອັບໂຫຼດສຳເລັດ',
                                Text: 'ອັບໂລດຂໍ້ມູນແມງໄມ້ສຳເລັດ, ກະລຸນາອັບໂຫລດຂໍ້ມູນການຄົ້ນພົບຕໍ່ໄປ',
                                icon: 'mdi-checkbox-marked-circle-outline',
                              }

                              setTimeout(
                                () =>
                                  this.$router.push({
                                    name: 'upload-log-id',
                                    params: {
                                      id: insectid,
                                    },
                                  }),
                                4000
                              )
                            }
                          })
                      }
                    })
                    .catch(function (error) {
                      console.log(error)
                    })
                }
              }
            } else if (response.status === 202) {
              console.log('id same: ' + response.data)
              this.insect[0].insecta_id = response.data.toString()
              this.dialogstt = true
            }
          })
      }
    },
    deleteItemConfirm(item, index) {
      this.dialogDelete = true
      this.namePic.name = item
      this.namePic.index = index
      console.log('name: ' + this.namePic.name + 'index: ' + this.namePic.index)
    },
    deleteImage() {
      var res = this.namePic.name.split('https://ms.mndev.com/insect/')
      console.log(res[1]) //name of image
      this.$axios
        .post('https://ms.mndev.com/remove', {
          name: res[1],
        })
        .then((result) => {
          console.log('deleteform storage' + result)
          this.$axios
            .post('/image/delete-image', {
              image_name: res[1],
            })
            .then((result1) => {
              console.log('deleteform tbimage' + result1)
              this.imageResize.splice(this.namePic.index, 1)
              this.closeDelete()
            })
        })
    },
    closeDelete() {
      this.dialogDelete = false
    },
    close() {
      this.dialog = false
    },
    addFiles() {
      if (this.isEdit == true) {
        var options = {
          maxSizeMB: 0.5,
          maxWidthOrHeight: 4000,
          useWebWorker: true,
        }
        console.log('files', this.files)
        this.files.forEach((file, f) => {
          imageCompression(this.files[f], options).then((output) => {
            var reader = new FileReader()
            reader.readAsDataURL(output)
            reader.onload = () => {
              this.imageResize.push(reader.result)
              this.$axios
                .post('https://ms.mndev.com/upload64/', {
                  data64: reader.result,
                })
                .then((result1) => {
                  console.log(result1.data)
                  console.log('upload to storage success')
                  this.$axios
                    .post('/image/post-image', {
                      insecta_id: this.insect[0].insecta_id.toString(),
                      image_name: result1.data,
                    })
                    .then((response1) => {
                      if (response1.status === 201) {
                        console.log(response1)
                        console.log('upload to tbimage success')
                      }
                    })
                })
                .catch(function (error) {
                  console.log(error)
                })
            }
          })
          console.log(f)
        })
      } else {
        this.imageResize = []
        var options = {
          maxSizeMB: 0.5,
          maxWidthOrHeight: 4000,
          useWebWorker: true,
        }
        console.log('files', this.files)
        this.files.forEach((file, f) => {
          console.log(
            'read:' + (this.files[f].size / 1024 / 1024).toFixed(2) + 'mb'
          )

          imageCompression(this.files[f], options).then((output) => {
            var reader = new FileReader()
            reader.readAsDataURL(output)
            reader.onload = () => {
              this.imageResize.push(reader.result)
            }

            console.log(
              'output:' + (output.size / 1024 / 1024).toFixed(2) + 'mb'
            )
          })
          console.log(f)
        })
      }
    },
    fetch() {
      if (this.$route.params.id != '0') {
        this.insect[0].insecta_id = this.$route.params.id
        console.log('stt:' + this.$route.params.stt)
        if (this.$route.params.stt == 'activated') {
          this.isActive = true
          this.isEdit = false
        } else {
          this.isEdit = true
        }
        this.$axios
          .get(`/insecta/getById/` + this.$route.params.id)
          .then((respone) => {
            this.insect = respone.data[0]
          })
        this.$axios
          .get(`/image/getById/` + this.$route.params.id)
          .then((result) => {
            this.Imagename = result.data

            for (var i = 0; i <= result.data.length; i++) {
              var url =
                'https://ms.mndev.com/insect/' + result.data[0][i].image
              this.imageResize.push(url)
            }
          })
      }
      this.$axios.get(`/kingdom/get`).then((result) => {
        this.KingdomItem = result.data[0]
      }),
        this.$axios.get(`/phylum/get`).then((result) => {
          this.phylumItem = result.data[0]
        }),
        this.$axios.get(`/class/get`).then((result) => {
          this.classItem = result.data[0]
        }),
        this.$axios.get(`/order/get`).then((result) => {
          this.orderItem = result.data[0]
        }),
        this.$axios.get(`/family/get`).then((result) => {
          this.familyItem = result.data[0]
        }),
        this.$axios.get(`/genus/get`).then((result) => {
          this.genusItem = result.data[0]
        }),
        this.$axios.get(`/species/get`).then((result) => {
          this.speciesItem = result.data[0]
        })
    },
  },
  mounted() {
    this.fetch()
  },
}
</script>

<style scoped>
.v-subheader {
  justify-content: flex-end;
  font-family: 'boonhome-400' !important ;
  font-weight: normal;
  font-size: 20px;
}
.v-tab {
  font-family: 'boonhome-400' !important ;
  font-weight: bold;
  font-size: 18px;
}
.title-tab {
  font-family: 'boonhome-400' !important ;
  font-weight: bold;
  font-size: 30px;
}
.img-fluid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}
</style>